 @font-face {
    font-family: 'museo_sans500';
    src: url('../../fonts/museo/museosans-500-webfont.eot');
    src: url('../../fonts/museo/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/museo/museosans-500-webfont.woff2') format('woff2'),
         url('../../fonts/museo/museosans-500-webfont.woff') format('woff'),
         url('../../fonts/museo/museosans-500-webfont.ttf') format('truetype'),
         url('../../fonts/museo/museosans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'league_gothicregular';
    src: url('../../fonts/league/leaguegothic-regular-webfont.eot');
    src: url('../../fonts/league/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/league/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../../fonts/league/leaguegothic-regular-webfont.woff') format('woff'),
         url('../../fonts/league/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../../fonts/league/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
 font-size: 18px;
}

/* Test */
.testColorRed{
  background-color: red;
}
.testColorGreen{
  background-color: green;
}
/* End Test */

/*Menu General*/
.topMenuContainerPurple {
    position: absolute;
    top: -130px;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 9000;
    background-color: #844393;
    border-bottom: 10px solid #633c6d;
    box-shadow: 15px 0px 50px #000;
    min-height: 130px !important;
}
.mobilePaddingTop{
    height: 180px;
    display: none;
}
.mobilePaddingBottom{
  height: 30px;
  display: none;
}
.listCampains{
  height: auto;
}
.listCampains li{
  display: inline-block;
  width: 80px;
  height: 95px;
  color: #fff;
  list-style: none;
  text-align: center;
  line-height: 0;
  margin-left: 10px;
  font-size: 13px;
  background: url('/static/vivebarbie/images/topmenu/btnhover.png');
  background-position: bottom center ;
  background-repeat: no-repeat;
  cursor: pointer;
}
.listCampains li:first-child {
  margin-top:0px; 
}
.listCampains li span{
  width: 100%;
  color: #ffee07;
  font-size: 45px;
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}
.listCampains ul{
  margin-bottom: 0px;
}
.listCampains li:hover{
  background: url('/static/vivebarbie/images/topmenu/btnhover.png');
  background-position: bottom center ;
  background-repeat: no-repeat;
}
.infoUser{
  height: auto;
}
.nombreReg {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'league_gothicregular';
    width: 100%;
    right: 0;
    top: 15px;
}
.iconLogTop {
    display: inline-block;
    color: #d84089;
    background-color: #ffee07;
    width: 90px !important;
    border-radius: 8px;
    padding: 5px 15px 5px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}
/* End Menu General*/

/* Barra Recordatorio */

.barRecordatorio{
    background-color: rgba(238, 68, 152, 1);
    position: fixed;
    bottom: 20px;
    left: 0px;
    width: 100%;
    min-height: 75px;
    z-index: 50000000;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.barRecordatorio p{
  color: #fff;
  font-size: 13px;
  margin-bottom: 0px;
  font-family: 'museo_sans500';
}
.botonRecordatorio{
  display: inline-block;
  color: #d84089;
  background-color: #ffee07;
  width: 100%;
  border-radius: 8px;
  padding: 5px 15px 5px 10px;
  font-size: 21px;
  cursor: pointer;
  margin-top: 7px;
  text-align: center;
  -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.botonRecordatorio:hover{
  color: #fff;
    background-color: #6fc4c2;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.closeRecordatorio{
  display:table;
  height: 50px;
  width: 100%;
  text-align: center;
}
.closeInRecordatorio{
  font-size: 30px;
  color: #ffee07;
display:table-cell;
vertical-align: middle;
-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.closeInRecordatorio:hover{
  color: #6fc4c2;
  -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.footerPais{
  position: absolute !important;
}


/*Formulario*/
.registroBarbie input[type="checkbox"] {
    display: none;
}
.registroBarbie input[type="checkbox"] + label {
    color: gray;
    font-family: 'league_gothicregular', sans-serif;
    font-size: 14px;
    font-size: 35px;
    line-height: 45px;
    margin-left: 10px;
}
.registroBarbie input[type="checkbox"] + label span {
    border: 2px solid #a8a8a8;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;

}
.registroBarbie input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    height: 25px;
    width: 25px;
}
.registroBarbie input[type="checkbox"]:checked + label span {
    border: 8px solid #6fc4c2;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
    height: 25px;
    width: 25px;
}
.radioCont {
    float: left;
}


.err{
  text-align: left;margin:12px;
  font-size: 15px;color:#cc0000 !important;

}

.err .fa-exclamation-triangle{
  font-size: 12px;margin:0px;padding:0px;

}

.err span{
  font-family: league_gothicregular,sans-serif;


}



/* Media Query*/
@media(max-width:767px){
  .footerPais{
    position: relative !important;
  }
  .mobilePaddingTop, .mobilePaddingBottom{
    display: block;
  }
  .listCampains ul {
    margin-bottom: 0px;
    text-align: center;
    padding: 0;
  }
  .listCampains li{
    background: none;
  }
  .listCampains li:hover{
    background: none;
  }
}

@media(min-width:768px){
  .footerPais{
    position: relative !important;
  }
  .listCampains ul {
      margin-bottom: 0px;
      text-align: center;
      padding: 0;
  }
  .listCampains li{
    background: none;
  }
  .listCampains li:hover{
    background: none;
  }
}
@media(min-width:992px){
  .footerPais{
    position: absolute !important;
  }
  .listCampains li:hover{
    background: url('/static/vivebarbie/images/topmenu/btnhover.png');
    background-position: bottom center ;
    background-repeat: no-repeat;
  }
}
@media(min-width:1200px){
  .footerPais{
    position: absolute !important;
  }
}