/* PRODUCTOS */
.logoProductos {
  text-align: center;
}
.logoProductos img{
  width: 100%;
  max-width: 200px;
}
.spJuguetesTitle{
  font-size: 60px;
  color: #dd31a1;
  font-family: Impact, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 3px #ff00de, 0 0 19px #ff00de, 0 0 5px #ff00de, 0 0 65px #ff00de;
  width: 290px;
  text-align: right;
}
#juguetesSlider{
  background: transparent !important;
}
#juguetesSlider .ms-view{
  background-image: url('/static/pop/images/juguetes/bgJuguetes.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: transparent !important;
}

#juguetesSlider .ms-lightbox-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.pp_details{
  display: none;
}
.pp_gallery{
  opacity: 0;
}

.spJuguetesGalery .ms-thumb{
  background-color: #fff;
}


/*   Replica  en perritos*/

.spJuguetesLike{
  height: 94px;
  width: 92px;
}
.likes{
    height: 94px;
    width: 92px;
    background: url('/static/pop/images/juguetes/likeproducto.png');
    background-position: center bottom;
    position: absolute;
    display: inline-block;
}
.likes:hover{
    background-position: center top;
}
.ms-layerstar{
    
}
.likesActive{
    background: url('/static/pop/images/juguetes/likeproducto.png');
    background-position: center top !important;
}
.ms-thumblist-bwd, .ms-thumblist-fwd{
  width: 35px !important;
  background-color: red !important;
}
.ms-thumblist-bwd{
  background: url('/static/pop/images/juguetes/flecha01.png') !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.ms-thumblist-fwd{
  background: url('/static/pop/images/juguetes/flecha02.png') !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.ms-thumblist-bwd:hover{
  background-size: 80% !important;
}
.ms-thumblist-fwd:hover{
  background-size: 80% !important;
}
.ms-thumblist-bwd:after{
  border: solid rgba(0, 0, 0, 0);
      border-width: 0px;
      border-right-color: green !important;

}
.ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after{
    position: absolute !important;
    top: -500px !important;
}
.ms-thumb-list.ms-dir-h .ms-thumblist-fwd:after, .ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after{
  position: absolute !important;
    top: -500px !important;
}

/* Replicar en perritos */

/**Products*/
.likePrdducts{
  height: 85px;
  width: 52px;
  position: absolute;
  top: 20px;
  left: 90px;
  background-image: url('/static/images/loquierobtn.png');
  background-position: top center;
  cursor: pointer;
  z-index: 99;
}
.likePrdducts:hover{
  background-position: bottom center;
}
.pp_social{
  display: none;
}
div.pp_default .pp_description{
  color: #fff;
  font-size: 45px !important;
  text-transform: uppercase;
  color: #fff !important;
  /* background-color: red;
  top: 35px;
  right: 0; */
  line-height: 36px;
  text-align: center;
  font-weight: bolder;
  text-shadow: -2px -2px 0 #00b0cc, -2px -1px 0 #00b0cc, -2px 0px 0 #00b0cc, -2px 1px 0 #00b0cc, -2px 2px 0 #00b0cc, -1px -2px 0 #00b0cc, -1px -1px 0 #00b0cc, -1px 0px 0 #00b0cc, -1px 1px 0 #00b0cc, -1px 2px 0 #00b0cc, 0px -2px 0 #00b0cc, 0px -1px 0 #00b0cc, 0px 0px 0 #00b0cc, 0px 1px 0 #00b0cc, 0px 2px 0 #00b0cc, 1px -2px 0 #00b0cc, 1px -1px 0 #00b0cc, 1px 0px 0 #00b0cc, 1px 1px 0 #00b0cc, 1px 2px 0 #00b0cc, 2px -2px 0 #00b0cc, 2px -1px 0 #00b0cc, 2px 0px 0 #00b0cc, 2px 1px 0 #00b0cc, 2px 2px 0 #00b0cc;
  margin-right: 10px;
  margin-bottom: 20px;
}
#box{
  opacity: 0;
}
.imagenProductos{
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 6px #ee4498;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.imagenProductos img{
  width: auto;
  height: 460px;
}
.productsImage{
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 6px #ee4498;
  height: 450px;
  overflow: hidden;
  text-align: center;
}

.productsImage img{
    width: auto;
    height: 100%;
}
.infoProd{
    position: absolute;
    width: 260px;
    top: 50px;
    right: 20px;
}
.ms-anim-layerss{
    position: absolute;
    width: 40%;
    top: 45px;
    right: 20px;
    background-color: red;
     height: 250px;
}
.principalProductTitle{
    color: #fff;
    font-size: 45px !important;
    text-transform: uppercase;
    color: #fff !important;
    /* background-color: red;
    top: 35px;
    right: 0; */
    line-height: 36px;
    text-align: center;
    font-weight: bolder;
    text-shadow: -2px -2px 0 #00b0cc, -2px -1px 0 #00b0cc, -2px 0px 0 #00b0cc, -2px 1px 0 #00b0cc, -2px 2px 0 #00b0cc, -1px -2px 0 #00b0cc, -1px -1px 0 #00b0cc, -1px 0px 0 #00b0cc, -1px 1px 0 #00b0cc, -1px 2px 0 #00b0cc, 0px -2px 0 #00b0cc, 0px -1px 0 #00b0cc, 0px 0px 0 #00b0cc, 0px 1px 0 #00b0cc, 0px 2px 0 #00b0cc, 1px -2px 0 #00b0cc, 1px -1px 0 #00b0cc, 1px 0px 0 #00b0cc, 1px 1px 0 #00b0cc, 1px 2px 0 #00b0cc, 2px -2px 0 #00b0cc, 2px -1px 0 #00b0cc, 2px 0px 0 #00b0cc, 2px 1px 0 #00b0cc, 2px 2px 0 #00b0cc;
    margin-right: 10px;
}
.principalProductSecond{
    font-size: 15px;
    text-transform: uppercase;
    color: #00b0cc;
    background-color: #fff200;
    /* top: 35px; */
    text-align: center;
    margin-right: 10px;
    height: auto;
    min-width: 100px;
    border-radius: 8px;
    margin: 20px auto;
    padding: 10px;
}
.caruselItem{
  position: relative;
  display: inline-block;
  width: 168px;
  height: 168px;
  background: #fff;
  margin-top: 20px;
  box-shadow: 2px 2px 6px #ee4498;
}
.caruselItem img{
  width: 100%;
  height: auto;
}

#owl-demo .item{
  max-width: 180px;
  margin: 3px;
  background-color: #fff;
  box-shadow: 2px 2px 6px #ee4498;
  cursor: pointer;
}
.item:hover{
  width: 100%;
  height: 100%;
  background-color: #fff87f !important;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.hoverCarousel:hover{
  opacity: 0.8;
  background-color: #fff200 !important;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.owl-carousel {
    padding-top: 25px;
}
.owl-prev {
    width: 57px;
    height: 66px;
    background-image: url('../images/leftArrow.png');
    display: inline-block;
}
.owl-next {
    width: 57px;
    height: 66px;
    background-image: url('../images/rigthArrow.png');
    display: inline-block;
}
.owl-next:hover .owl-prev:hover{
  opacity: 0.8;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
} 



@media(max-width:767px){
  .noDisplayMobile{
    display: none;
  }
}
@media(min-width:768px){
  .noDisplayMobile{
    display: none;
  }
}
@media(min-width:992px){
  .noDisplayMobile{
    display: block;
  }
}
@media(min-width:1200px){

}