{% extends 'base2.html' %}

{% block content %}

    <div class="container legalContainer" style="min-height:650px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 content-holder text-center">
              <div class="bienvenida img-responsive terms container-fluid">REGISTRO</div>
              
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-1 col-sm-1"></div>
                  <div class="col-md-10 col-sm-10">
                  {% if instance.enabled %}
      
                      <p>Tu cuenta ya esta activada, gracias. :)</p>
                  {% else %}
           
            <form name="regparent" id="activate_form" method="post" action="/reg/activate"  class="sender registroBarbie" >
                <input type="hidden" name="pk" value="{{instance.pk}}"/>
              <!--  FORMULARIO -->
                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Nickname *:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.nickname}}
                  </div>
                </div>


                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Nombre*:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.name}}
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Apellido Paterno*:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.apaterno}}
                  </div>
                </div>


                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Apellido Materno *:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.amaterno}}
                  </div>
                </div>                



                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Cumpleaños:</label>
                  </div>
                  <div class="col-md-8" id="id_dob">
                    <select name="dia">
                      <option value="">Día</option>
                      {% for i in dias %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}
                    </select>
                    <select name="mes">
                      
                      {% for m in nmeses %}
                      <option value="{{ forloop.counter0 }}">{{m}}</option>
                      {% endfor %}
                    </select>
                    <select name="anyo">
                      <option value="">Año</option>
                      {% for a in anyos %}
                      <option value="{{a}}">{{a}}</option>
                      {% endfor %}
                    </select>

                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>eMail de tus papás *:</label>
                  </div>
                  <div class="col-md-8">
                    {{pform.email_parent}}
                  </div>
                </div>


                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Teléfono papás*:</label>
                  </div>
                  <div class="col-md-8">
                    {{pform.phone}}
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label id="id_gender">Género *:</label>
                  </div>
                  <div class="col-md-8">
                    <div class="radioCont">
                      <input type="radio" id="radio01" name="gender" value="Niña" />
                      <label for="radio01"><span></span>Niña</label>
                    </div>

                    <div class="radioCont">
                     <input type="radio" id="radio02" name="gender" value="Niño" />
                     <label for="radio02"><span></span>Niño</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>País *:</label>
                  </div>
                  <div class="col-md-8">
                     {{uform.country}}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Estado/Provincia *:</label>
                  </div>
                  <div class="col-md-8">
                      <select name="province" id="id_province" class="registroSelect">
                        <option value="">seleccione...</option>
                      {% for c in instance.country.city_set.all %}
                        <option value="{{c}}">{{c}}</option>
                      {% endfor %}
                    </select>
                    
                  </div>
                </div>



                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Dirección*:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.adress}}
                  </div>
                </div>                

                <div class="col-md-12">
                  <div class="col-md-6 regLabelBox" ><i class="fa fa-play"></i>
                    <label id="id_newsletter_accept">¿Quieres recibir noticias? *:</label>
                  </div>
                  <div class="col-md-6">
                    <div class="radioCont">
                      <input type="radio" id="id_newsletter_accept1" name="newsletter_accept" value="1" />
                      <label for="id_newsletter_accept1"><span></span>Si</label>
                    </div>

                    <div class="radioCont">
                      <input type="radio" id="id_newsletter_accept2" name="newsletter_accept" value="0"  />
                     <label for="id_newsletter_accept2"><span></span>No</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" >
                  <div class="col-md-6 regLabelBox"><i class="fa fa-play"></i>
                    <label id="id_parent_accept">Acepto las <a href="/static/politicas-de-privacidad.html" target="_blank">políticas de privacidad</a> *:</label>
                  </div>
                  <div class="col-md-6">
                    <div class="radioCont izqForm">
                      <input type="checkbox" id="terminos01" name="parent_accept" value="1" />
                      <label for="terminos01"><span></span>Si</label>
                    </div>


                  </div>
                </div>

                <!--  FORMULARIO -->
                {%csrf_token%}
            
                <input type="submit" value="ACTIVAR CUENTA" />
                <br/><br/><br/>
                <div class="formLegal">
                  Nota: Los campos marcados con * son obligatorios.
                  <br>
                  *En caso de ser ganador de alguna promoción de Barbie, se te estará contactando a la información que proporciones en este registro
                </div>
            </form>


                  {% endif %}

                  </div>
                </div>
              </div>
              
            </div>
          </div>
    </div>


 <script type="text/javascript" src="/static/js/passwords.js"></script>
 <script type="text/javascript">

$(document).ready(function(){

  $('[name=dia]').val('{{instance.dob.day}}');
  $('[name=mes]').val('{{instance.dob.month}}');
  $('[name=anyo]').val('{{instance.dob.year}}');
  $('#id_phone').val('{{instance.parentuser_set.all.0.phone}}');
  if('{{instance.gender}}'=='Niño'){
    $('#radio02').attr('checked','checked');
  }
  if('{{instance.gender}}'=='Niña'){
    $('#radio01').attr('checked','checked');
  }


  if('{{instance.parentuser_set.all.0.parent_accept}}'=='True'){
    $('#terminos01').attr('checked','checked');

  }


  if('{{instance.parentuser_set.all.0.newsletter_accept}}'=='True'){
    $('#id_newsletter_accept1').attr('checked','checked');
  }



  $('#id_country').change();
  $('#id_province').val('{{instance.province}}');

});






 </script>
{% endblock %}
