{% extends 'base2.html'%}
{% block content %}



    <div class="container legalContainer" style="min-height:650px;">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10 content-holder text-center">
              <div class="bienvenida img-responsive terms container-fluid">REGISTRO</div>
              
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-1 col-sm-1"></div>
                  <div class="col-md-10 col-sm-10">
                        <form name="register_alone" method="post" action="/reg/alone" id="reg_alone" class="sender registroBarbie">
                            {%csrf_token%}
                            <div class="col-md-12">
                              <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                                <label>Nickname *:</label>
                              </div>
                              <div class="col-md-8">
                                {{uform.nickname}}
                              </div>
                            </div>


                              <div class="col-md-12">
                                <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                                  <label>Nombre*:</label>
                                </div>
                                <div class="col-md-8">
                                  {{uform.name}}
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                                  <label>Apellido Paterno*:</label>
                                </div>
                                <div class="col-md-8">
                                  {{uform.apaterno}}
                                </div>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                                  <label>Apellido Materno *:</label>
                                </div>
                                <div class="col-md-8">
                                  {{uform.amaterno}}
                                </div>
                              </div>     


                            <div class="col-md-12">
                              <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                                <label>eMail de tus papás *:</label>
                              </div>
                              <div class="col-md-8">
                                {{uform.email}}
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="col-md-6 regLabelBox"><i class="fa fa-play"></i>
                                <label>Contraseña *:<span>(Elige a un personaje y una figura)</span></label>
                                {{uform.password}}
                              </div>
                              <div class="col-md-6">
                                <input type="hidden" name="doll" id="input_doll" />
                                <input type="hidden" name="figure" id="input_figure" />
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="contrasena-selector-holder" target="input_doll">
                                  <div data-doll="barbie" class="contrasena-selector">
                                    <div class="foto barbie" style="background:url('/static/barbiepass/barbie.png');"></div>
                                    <div class="nombre_p changed">Barbie</div>
                                  </div>
                                  <div data-doll="nikki" class="contrasena-selector">
                                    <div class="foto nikki" style="background:url('/static/barbiepass/niki.png');"></div>
                                    <div class="nombre_p changed">Nikki</div>
                                  </div>
                                  <div data-doll="raquelle" class="contrasena-selector">
                                    <div class="foto raquelle" style="background:url('/static/barbiepass/raquelle.png');"></div>
                                    <div class="nombre_p changed">Raquelle</div>
                                  </div>
                                  <div data-doll="teresa" class="contrasena-selector">
                                    <div class="foto teresa" style="background:url('/static/barbiepass/teresa.png');"></div>
                                    <div class="nombre_p changed">Teresa</div>
                                  </div>
                                </div>

                                <br/>

                                <div class="contrasena-selector-holder" target="input_figure">
                                  <div data-doll="circle" class="contrasena-selector">
                                    <div class="forma changed" style="background-image:url('/static/barbiepass/circle.png');"></div>
                                  </div>
                                  <div data-doll="square" class="contrasena-selector">
                                    <div class="forma changed" style="background-image:url('/static/barbiepass/square.png');"></div>
                                  </div>
                                  <div data-doll="arrow" class="contrasena-selector">
                                    <div class="forma changed" style="background:url('/static/barbiepass/arrow.png');"></div>
                                  </div>
                                  <div data-doll="moon" class="contrasena-selector">
                                    <div class="forma changed" style="background-image:url('/static/barbiepass/moon.png');"></div>
                                  </div>
                                </div>
                            </div>
                            {{uform.date_joined}}
                            {{uform.is_active}}





                            <input type="submit" value="OK" />
                            <br/><br/><br/>
                            <div class="formLegal">Nota: Los campos marcados con * son obligatorios.
                              <br>
                              *En caso de ser ganador de alguna promoción de Barbie, se te estará contactando a la información que proporciones en este registro

                            </div>
                        </form>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
    </div>




{% endblock %}


{% block last_script %}
 <script type="text/javascript" src="/static/js/passwords.js"></script>
{% endblock %}

