{% extends 'base2.html'%}

{% block content %}
    <div class="container legalContainer" style="min-height:650px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 content-holder text-center">
              <div class="bienvenida img-responsive terms container-fluid">REGISTRO</div>
              
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-1 col-sm-1"></div>
                  <div class="col-md-10 col-sm-10">
						<form name="regparent" method="post" action="/reg/parent" id="regparent" class="sender registroBarbie">
                    <input type="hidden" name="doll" id="input_doll" />
                    <input type="hidden" name="figure" id="input_figure" />
              <!--  FORMULARIO -->
                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Nickname *:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.nickname}}
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Nombre*:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.name}}
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Apellido Paterno*:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.apaterno}}
                  </div>
                </div>


                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Apellido Materno *:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.amaterno}}
                  </div>
                </div>     


                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Cumpleaños:</label>
                  </div>
                  <div class="col-md-8" id="id_dob">
                    <select name="dia">
                      <option value="">Día</option>
                      {% for i in dias %}
                      <option value="{{i}}">{{i}}</option>
                      {% endfor %}
                    </select>
                    <select name="mes">
                      
                      {% for m in nmeses %}
                      <option value="{{ forloop.counter0 }}">{{m}}</option>
                      {% endfor %}
                    </select>
                    <select name="anyo">
                      <option value="">Año</option>
                      {% for a in anyos %}
                      <option value="{{a}}">{{a}}</option>
                      {% endfor %}
                    </select>

                  </div>
                </div>



                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>eMail de tus papás *:</label>
                  </div>
                  <div class="col-md-8">
                    {{pform.email_parent}}
                  </div>
                </div>


                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Teléfono papás*:</label>
                  </div>
                  <div class="col-md-8">
                    {{pform.phone}}
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label id="id_gender">Género *:</label>
                  </div>
                  <div class="col-md-8">
                    <div class="radioCont">
                      <input type="radio" id="radio01" name="gender" value="Niña" />
                      <label for="radio01"><span></span>Niña</label>
                    </div>

                    <div class="radioCont">
                     <input type="radio" id="radio02" name="gender" value="Niño" />
                     <label for="radio02"><span></span>Niño</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>País *:</label>
                  </div>
                  <div class="col-md-8">
                     {{uform.country}}
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Estado/Provincia *:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.province}}
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-4 regLabelBox"><i class="fa fa-play"></i>
                    <label>Dirección*:</label>
                  </div>
                  <div class="col-md-8">
                    {{uform.adress}}
                  </div>
                </div>  

                <div class="col-md-12">
                  <div class="col-md-6 regLabelBox"><i class="fa fa-play"></i>
                    <label id="id_newsletter_accept">¿Quieres recibir noticias?* :</label>
                  </div>
                  <div class="col-md-6">
                    <div class="radioCont">
                      <input type="radio" id="id_newsletter_accept1" name="newsletter_accept" value="1" />
                      <label for="id_newsletter_accept1"><span></span>Si</label>
                    </div>

                    <div class="radioCont">
                      <input type="radio" id="id_newsletter_accept2" name="newsletter_accept" value="0"  />
                     <label for="id_newsletter_accept2"><span></span>No</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" >
                  <div class="col-md-6 regLabelBox"><i class="fa fa-play"></i>
                    <label id="id_parent_accept">Acepto las <a href="/static/politicas-de-privacidad.html" target="_blank">políticas de privacidad</a> *:</label>
                  </div>
                  <div class="col-md-6">
                    <div class="radioCont izqForm">
                      <input type="checkbox" id="terminos01" name="parent_accept" value="1" />
                      <label for="terminos01"><span></span>Si</label>
                    </div>

                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-6 regLabelBox"><i class="fa fa-play"></i>
                    <label>Contraseña:<span>(Elige a un personaje y una figura)</span></label>
                    {{uform.password}}
                  </div>

                </div>


                <div class="col-md-12">
                  <div class="contrasena-selector-holder" target="input_doll">
                      <div data-doll="barbie" class="contrasena-selector">
                        <div class="foto barbie" style="background:url('/static/barbiepass/barbie.png');"></div>
                        <div class="nombre_p changed">Barbie</div>
                      </div>
                      <div data-doll="nikki" class="contrasena-selector">
                        <div class="foto nikki" style="background:url('/static/barbiepass/niki.png');"></div>
                        <div class="nombre_p changed">Nikki</div>
                      </div>
                      <div data-doll="raquelle" class="contrasena-selector">
                        <div class="foto raquelle" style="background:url('/static/barbiepass/raquelle.png');"></div>
                        <div class="nombre_p changed">Raquelle</div>
                      </div>
                      <div data-doll="teresa" class="contrasena-selector">
                        <div class="foto teresa" style="background:url('/static/barbiepass/teresa.png');"></div>
                        <div class="nombre_p changed">Teresa</div>
                      </div>
                    </div>

                    <br/>

                    <div class="contrasena-selector-holder" target="input_figure">
                      <div data-doll="circle" class="contrasena-selector">
                        <div class="forma changed" style="background-image:url('/static/barbiepass/circle.png');"></div>
                      </div>
                      <div data-doll="square" class="contrasena-selector">
                        <div class="forma changed" style="background-image:url('/static/barbiepass/square.png');"></div>
                      </div>
                      <div data-doll="arrow" class="contrasena-selector">
                        <div class="forma changed" style="background:url('/static/barbiepass/arrow.png');"></div>
                      </div>
                      <div data-doll="moon" class="contrasena-selector">
                        <div class="forma changed" style="background-image:url('/static/barbiepass/moon.png');"></div>
                      </div>
                    </div>
                </div>




                <!--  FORMULARIO -->
						    {%csrf_token%}
            
						    <input type="submit" value="OK" />
                <br/><br/><br/>
                <div class="formLegal">Nota: Los campos marcados con * son obligatorios.
                  <br>
                  *En caso de ser ganador de alguna promoción de Barbie, se te estará contactando a la información que proporciones en este registro


                </div>
						</form>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
    </div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.registroSelect option').removeAttr('selected');


  
    $('#id_country').val({{country.pk}}).change();

  });
</script>


{% endblock %}



{% block last_script %}
 <script type="text/javascript" src="/static/js/passwords.js"></script>
{% endblock %}
