{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Vive Barbie">
    <meta name="author" content="Mattel®">
    <link rel="icon" href="/static/vivebarbie/favicon.ico">
    <title> {{titulo}}</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos Vive Barbie -->
    <link href="/static/vivebarbie/css/generales.css" rel="stylesheet">  <!-- Estilos Generales del sitio -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Ajutable fonts  -->
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{% static "js/site.js"%}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sender').submit(sendit);
            $('.sender').focus(function(){
                $('.err').remove();
                
            });
        });

    </script>
    {% block kuppe %}{% endblock %}
  </head>

  <body id="legalBody">
  {% include "main_bar.html" %}

    <div class="container-fluid" style="background-color:red;">
      <div class="row">
          <div></div>
      </div>
    </div>
    <header>
        <!--<div class="logoLegal">
          <a href="/"><img style="whidth:auto;" src="/static/images/legalLogo.png"></a>
          <span class="btn-open"></span>
        </div> -->
    </header>
    {% block content %}{% endblock %}
    <!-- Footer -->
    <footer class="footer">
      <!--<footer class="footer absoluteFooter">  -->
      <div class="footerBgTexture"></div>
      <div class="footerBtns"> <a href="/static/politicas-de-privacidad.html">Políticas de privacidad</a><!--<div class="footerBtnsSpace"> <a href="/static/terminos-y-condiciones.html">Términos y condiciones</a>--></div>
      <div class="footerLegal">
        © 2015 Mattel Inc. Todos los derechos reservados. <br>
        Cualquier duda o sugerencia favor de comunicarse al 01 800 5 BARBIE (227243) de lunes a viernes de 10 a.m. a 3 p.m. y de 4 p.m. a 6 p.m. Sábados de 10 a.m. a 2 p.m.</div>
        <!--  animaciones princesas  -->
         <script src="/static/vivebarbie/generales/js/animation.js"></script>
        <!-- animaciones princesas -->
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
      

      <script>    
      var alturageneral =  $( window ).height();
      var alturahome  = 860 
      if(alturageneral > alturahome) {
        // Cuando es muy alto
                  $('.absoluteFooter').css("position", 'absolute');
                }
                else if(alturatopmenu < alturahome) {
                  // cuando no es muy alto
                  $('.absoluteFooter').css("position", 'relative');
                }
      </script>
<!--  Cambiado a statics/vivebarbie/generales/js/animation.js  -->
<!--
          <script>
              $( "#topMenuAbre" ).click(function() {
                $( "#topMenuID" ).animate({
                  top:0,
                }, 'slow','easeOutBounce');
                $( "#topMenuCierra" ).animate({
                  opacity:1,
                }, 1000);
              });
          </script>
              <script>
                  $( "#fixedTopMenuCont" ).click(function() {
                    /*Div Morado*/
                    $( "#topMenuID" ).animate({
                      top:0,
                    }, 'slow','easeOutBounce');
                    /*background Boton*/
                    $('#fixedTopMenuCont').css('background-position', 'bottom right');
                    /*Boton Exandir*/
                    $( "#fixedTopMenuCont" ).animate({
                      top:-50,
                    }, 'slow','easeOutBounce');
                    /*Boton CONTRAER  */
                    $( "#fixedTopExp" ).animate({
                      top:-50,
                    }, 'slow','easeOutBounce');
                  });

                  $( "#fixedTopExp" ).click(function() {
                    /*Div Morado*/
                    $( "#topMenuID" ).animate({
                      top:-130,
                    }, 'slow','easeOutBounce');
                    /*background Boton*/
                    $('#fixedTopMenuCont').css('background-position', 'bottom left');
                    /*Boton Exandir*/
                    $( "#fixedTopMenuCont" ).animate({
                      top: -160,
                    }, 'slow','easeOutBounce');
                    /*Boton CONTRAER  */
                    $( "#fixedTopExp" ).animate({
                      top:-250,
                    }, 'slow','easeOutBounce');
                  });
              </script>

-->
<!--  Cambiado a statics/vivebarbie/generales/js/animation.js  -->

              {% block last_script %}
              {% endblock %}
    </body>
</html>




