{% extends 'base.html'%}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
              <div class="col-md-12 selectorCampanaTitle">
               ¿Qué mundo de <span>Vive Barbie</span> quieres visitar hoy?
              </div>             
                <div class="col-md-6 bBounce">
                  <div class="bannerCamp">
                    <a id="mundosmagicos" href="http://kids.barbie.com/es-lam/promo/dreamtopia" target="_blank"><img src="/static/vivebarbie/banner_reinos.png"></a>
                  </div>
                </div>
                <div class="col-md-6 bBounce">
                  <div class="bannerCamp">
                    <a id="escuadronsecreto" href="http://kids.barbie.com/es-lam/game/spy-squad-academy" target="_blank"><img src="/static/vivebarbie/banner_escuadron.png"></a>
                  </div>
                </div>
                <div class="col-md-6 bBounce">
                  <div class="bannerCamp">
                    <a href="/campamento-pop"><img src="/static/vivebarbie/bannerpop.png"></a>
                  </div>
                </div>
                <div class="col-md-6 bBounce">
                  <div class="bannerCamp">
                    <a href="/aventura-perritos/"><img src="/static/vivebarbie/bannerperritos.png"></a>
                  </div>
                </div>
                <div class="col-md-6 bBounce">
                  <div class="bannerCamp">
                    <a href="/fashion-studio"><img src="/static/vivebarbie/bannerfashion.png"></a>
                  </div>
                </div>
                <div class="col-md-6 bBounce">
                  <div class="bannerCamp">
                    <a href="/super-princesas"><img src="/static/vivebarbie/bannersuper.png"></a>
                  </div>
                </div>                
            </div>
          </div>
    </div>


    <script type="text/javascript">
    



    $(document).ready(function(){
        
        $('#mundosmagicos').click(function(){
                 ga('send', 'event', 'Banner Home', 'Click','mundosmagicos');
        });
         $('#escuadronsecreto').click(function(){
                 ga('send', 'event', 'Banner Home', 'Click','escuadronsecreto');
        });
        
    });

    
    </script>



{% endblock %}
