{% extends 'base_mainapp.html'%}
{% block content %}
<style>
  body{
        background-image: url('/static/images/bgLegal.jpg');
  }
</style>
    <div class="container legalContainer">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10 content-holder text-center">
              <div class="bienvenida img-responsive terms container-fluid">¡Bienvenida!</div>
              
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-1 col-sm-1"></div>
                  <div class="col-md-10 col-sm-10">
                        <div class="col-md-12 regDestacado">
                            ANTES DE COMENZAR, SELECCIONA TU PAÍS PARA ENTRAR AL SITIO.
                        </div>
                        <div classs="col-md-12">
                            <div class="col-md-6">
                                <a href="http://mx.vivebarbie.com">
                                <div class="col-md-12 selectPaisBtn">
                                  <div class="paisName">México</div>
                                  <div class="banderas"><img src="/static/images/flagMx.png"></div>
                                </div>
                            	</a>
                            </div>
                            <div class="col-md-6">
                            	<a href="http://col.vivebarbie.com">
                                <div class="col-md-12 selectPaisBtn">
                                  <div class="paisName">Colombia</div>
                                  <div class="banderas"><img src="/static/images/flagCol.png"></div>
                                </div>
                            	</a>
                            </div>
                            <div class="col-md-6">
                                <a href="http://chi.vivebarbie.com">
                                <div class="col-md-12 selectPaisBtn">
                                  <div class="paisName">Chile</div>
                                  <div class="banderas"><img src="/static/images/flagChi.png"></div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-6">
                            	<a href="http://pe.vivebarbie.com">
                                <div class="col-md-12 selectPaisBtn">
                                  <div class="paisName">Perú</div>
                                  <div class="banderas"><img src="/static/images/flagPe.png"></div>
                                </div>
                            	</a>
                            </div>
                            <div class="col-md-6">
                                <a href="http://latam.vivebarbie.com">
                                <div class="col-md-12 selectPaisBtn">
                                  <div class="paisName">Otros Países</div>
                                  <div class="banderas"><img src="/static/images/flagLatam.png"></div>
                                </div>
                              </a>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
    </div>

  
{% endblock %}
