<div class="container-fluid topMenuContainer" id="topMenuID">
  <div class="row">
      <div class="topMenu" id="topMenuAbre"><img src="/static/images/topMenu.png"></div>
      <div class="topMenuLogo" id="topMenuCierra"><img src="/static/images/topMenuLogo.png"></div>
      <div class="col-md-12">

        <div class="nombre">

            {% if request.user.is_active %}
            <div>¡Hola, {{request.user.barbieuser_set.all.0.nickname}}!</div>
            <div class="puntos">Tienes <span>100</span> estrellas</div>
            <div><a href="/salir/">salir</a></div>
            {% else %}
            <a href="/registrate">Registrate</a><br/>
            <a data-toggle="modal" href="#/logueate" data-target="#myModal">Inicia sesión</a>
            {% endif %}
        </div>
      </div>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Inicia sesión</h4>

            </div>
            <div class="modal-body">
              <div class="te">
                <div id="login_box">
                  <form name="login_form" id="login_form" method="post" action="/login" class="sender">
                      <div id="id_nologin">{</div>
                      {%csrf_token%}
                      <div>
                          <label></label>
                          <input type="text" name="user" value="" placeholder="nickname" /> 
                      </div>
                      <div>
                          <label></label>
                          <input type="password" name="pw" value="" placeholder="xxx" /> 
                      </div>
                      <input type="submit" value="login" />
                  </form>
                </div>

              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="goin">¡ENTRA!</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">

$('#goin').click(function(){
  $('#login_form').submit();

});
</script>


  </div>
</div>