
    <!--  TweenMax Para todos las paginas TO-DAS -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/79424/TweenMax.min.js"></script>
    <!--  End TweenMax Para todos las paginas TO-DAS -->

    <div class="container-fluid topMenuContainerPurple" id="topMenuID">
      <div class="row pull-down">
        <div class="col-md-12">
            <div class="col-md-12 mobilePaddingTop"></div>
            <div class="col-md-5 listCampains">
              <ul>
                <li><a href="/"><img src="/static/vivebarbie/images/topmenu/btnHome.png"></a></li>
                <li><a href="/campamento-pop/"><img src="/static/vivebarbie/images/topmenu/btnPop.png"></a></li>
                <li><a href="/aventura-perritos/"><img src="/static/vivebarbie/images/topmenu/btnPerritos.png"></a></li>
                <li><a href="/fashion-studio/"><img src="/static/vivebarbie/images/topmenu/btnFashion.png"></a></li>
                <li><a href="/super-princesas/"><img src="/static/vivebarbie/images/topmenu/btnSuper.png"></a></li>
              </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 infoUser listCampains">  
                <div class="col-md-5">
                  <ul>
                    <li><a href="http://kids.barbie.com/es-lam/promo/dreamtopia" target="_blank"><img src="/static/vivebarbie/images/topmenu/btnReinos.png"></a></li>
                    <li><a href="http://kids.barbie.com/es-lam/game/spy-squad-academy" target="_blank"><img src="/static/vivebarbie/images/topmenu/btnEscuadron.png"></a></li>
                  </ul>     
                </div>   
                {% if request.user.is_active %}
                <div class="col-md-7">
                  <div class="topBtnLogin">
                      <div class="nombreReg">¡Hola, {{request.user.barbieuser_set.all.0.nickname}}!</div>
                      <div class="puntos" style="display:none;">Tienes <span>100</span> estrellas</div>
                      <a href="/perfil/"><div class="iconLogTop"><i class="fa fa-user"></i> Perfil</div></a>
                      <a href="/salir/"><div class="iconLogTop"><i class="fa fa-sign-out"></i>Salir</div></a>
                  </div>
                </div>
                {% else %}
                <div class="col-md-7">
                  <script>
                    $(document).ready(function(){
                        $('[data-toggle="tooltip"]').tooltip(); 
                    });
                  </script>
                  <style type="text/css">
                  .Stooltip > .tooltip-inner {
                      background-color: #ffee07; 
                      color: #d84089; 
                      padding: 10px;
                      font-size: 15px;
                  }

                  </style>
                  <div class="topBtnLogin">
                    <a href="/registrate"><div class="topBtnReg">¡Regístrate!</div></a>
                    <!-- <a href="/pais"><div class="topBtnFlag"><i class="fa fa-flag"></i></div></a> -->
                    <a href="/pais"><div class="topBtnFlag" style="background-color:transparent;"><img  data-toggle="tooltip" title="CAMBIAR PAÍS" data-placement="bottom" style="width:40px;" src="/static/images/{{request.mycountryflag}}"></div></a>
                </div>
                  <div class="topBtnLogin">
                    ¿Ya estás registrado(a)?,<br>
                    <a data-toggle="modal" href="#/logueate" data-target="#myModal">¡INICIA SESIÓN!</a>
                  </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-12 mobilePaddingBottom"></div>
        </div>


      </div>
    </div>

    <div class="container-fluid" id="fixedTopMenu">
      <div class="logoTopMenu" id="fixedTopMenuCont"></div>
      <div class="logoTopMenuContr" id="fixedTopExp"></div>
    </div>

<div class="container-fluid topMenuContainer" id="topMenuID">
  <div class="row">

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Inicia sesión</h4>

            </div>
            <div class="modal-body">
              <div class="te">
                <div id="login_box">
                  <form name="login_form" id="login_form" method="post" action="/login" class="sender">
                      <div id="id_nologin"></div>
                      {%csrf_token%}
                      <div class="inputLogin">
                          <label>Nickname:</label>
                          <input type="text" name="user" value="" placeholder="nickname" /> 
                      </div>
                      <div class="inputLogin">
                          <label>Contraseña:<span>(Elige a un personaje y una figura)</span></label>
                          <input type="hidden" name="pw" id="id_password" value="" placeholder="xxx" /> 
                      </div>


                      <div class="col-md-12">
                        <div class="contrasena-selector-holder">
                            <div data-doll="barbie" class="contrasena-selector">
                              <div class="foto barbie" style="background:url('/static/barbiepass/barbie.png');"></div>
                              <div class="nombre_p changed">Barbie</div>
                            </div>
                            <div data-doll="nikki" class="contrasena-selector">
                              <div class="foto nikki" style="background:url('/static/barbiepass/niki.png');"></div>
                              <div class="nombre_p changed">Nikki</div>
                            </div>
                            <div data-doll="raquelle" class="contrasena-selector">
                              <div class="foto raquelle" style="background:url('/static/barbiepass/raquelle.png');"></div>
                              <div class="nombre_p changed">Raquelle</div>
                            </div>
                            <div data-doll="teresa" class="contrasena-selector">
                              <div class="foto teresa" style="background:url('/static/barbiepass/teresa.png');"></div>
                              <div class="nombre_p changed">Teresa</div>
                            </div>
                          </div>

                          <br/>

                          <div class="contrasena-selector-holder">
                            <div data-doll="circle" class="contrasena-selector">
                              <div class="forma changed" style="background-image:url('/static/barbiepass/circle.png');"></div>
                            </div>
                            <div data-doll="square" class="contrasena-selector">
                              <div class="forma changed" style="background-image:url('/static/barbiepass/square.png');"></div>
                            </div>
                            <div data-doll="arrow" class="contrasena-selector">
                              <div class="forma changed" style="background:url('/static/barbiepass/arrow.png');"></div>
                            </div>
                            <div data-doll="moon" class="contrasena-selector">
                              <div class="forma changed" style="background-image:url('/static/barbiepass/moon.png');"></div>
                            </div>
                          </div>
                      </div>

                      <br/><br/>


                      <input type="submit" value="login" style="display:none;" />
                  </form>
                </div>

              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="goin">¡ENTRA!</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->




  </div>
</div>

{% if request.user.barbieuser_set.all.0 %}
{% if not request.user.barbieuser_set.all.0.enabled %}

<div class="container-fluid barRecordatorio bounceBar" id="recordatorio">
<form name="recordatorio" class="sendit" id="formrecordatorio">
     {%csrf_token%}
     <input type="hidden" name="keyus" value="{{ request.user.barbieuser_set.all.0.pk}}" />
</form>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <p>¡HOLA {{request.user.barbieuser_set.all.0.nickname}}!</p>
        <p>Para disfrutar los beneficios y participar en nuestras promociones, pidele a tú papá que valide tu cuenta.</p>
      </div>
      <div class="col-md-3">
        <div>
          <a href="/sendrecordatorio" id="remainder"> <div class="botonRecordatorio"><i class="fa fa-envelope"></i> ¡Recordarle a mi papá!</div></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="closeRecordatorio" style="";>
          <div class=" closeInRecordatorio" id="recordatorioBtn" onclick="cerrarRecorda()" style="";><i class="fa fa-times"></i></div>
        </div>
        
      </div>

    </div>
  </div>

</div>
{% endif %}
{% endif %}

{% block last_script %}


 <script type="text/javascript" src="/static/js/passwords.js"></script>
 <script type="text/javascript">

$('#goin').click(function(){
  $('#login_form').submit();

});

countries = ['mx','pe','col','chi','latam','cr','ecu','pan'];
analisame = {'mx':'UA-65856312-4',
             'col':'UA-65856312-5',
             'chi':'UA-65856312-6',
             'pe':'UA-65856312-7',
             'latam':'UA-65856312-8'
           }

host_name = window.location.host.split('.');
if((countries.indexOf(host_name[0]))>-1)
{
  
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create',analisame[host_name[0]], 'auto');
  ga('send', 'pageview');
 function clickDownload(){
    ga('send', 'event', 'MP3', 'Descarga', 'Alcemos nuestras voces MP3 MX');
    console.log('tracking mp3');
  }
  function clickDownloadLatam(){
    ga('send', 'event', 'MP3', 'Descarga', 'Alcemos nuestras voces MP3 LATAM');
    console.log('tracking mp3');
  }
}


</script>
        <script type="text/javascript">

          $(document).ready(function(){
            $('#remainder').click(function(e){
                e.preventDefault();
                data = $('#formrecordatorio').serializeArray();
                console.log(data);
                $.ajax({url:'/mailing',data:data,type:'post',success:function(response){
                  $('#recordatorio').remove();
                }
            });
          });



          });
        </script>

          <!--  animaciones princesas  -->
         <script src="/static/vivebarbie/generales/js/animation.js"></script>
        <!-- animaciones princesas -->

{% endblock %}