
{% extends 'base2.html'%}


{% block content %}
    <div class="container perfilContainer">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10 content-holder text-center">
              <div class="bienvenida img-responsive terms container-fluid">PERFIL</div>
              
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-1 col-sm-1"></div>
                  <div class="col-md-10 col-sm-10">

                    <div class="col-md-12 registroBarbie">
                      <div class="col-md-4 regLabelBox">
                        <label>Nickname:</label>
                      </div>
                      <div class="col-md-8">
                        {{request.user.barbieuser_set.all.0.nickname}}
                      </div>
                    </div>
                    <div class="col-md-12 registroBarbie">
                      <div class="col-md-4 regLabelBox">
                        <label>Nombre de tu hija:</label>
                      </div>
                      <div class="col-md-8">
                        {{request.user.barbieuser_set.all.0.name}}
                      </div>
                    </div>
                    <div class="col-md-12 registroBarbie">
                      <div class="col-md-4 regLabelBox">
                        <label>Correo electrónico:</label>
                      </div>
                      <div class="col-md-8">
                        {{request.user.barbieuser_set.all.0.email}}
                      </div>
                    </div>
                    <div class="col-md-12 registroBarbie">
                      <div class="col-md-4 regLabelBox">
                        <label>País:</label>
                      </div>
                      <div class="col-md-8">
                        {{request.user.barbieuser_set.all.0.country.contry_name}}
                      </div>
                    </div>

            <div class="tabla-2">
                          <div class="titulo">Actividad</div>
                          <div class="linea"></div>
                          <div class="scroll-pane">
                            <div class="item">
                              <div class="row">
                                <div class="col-md-3 col-sm-3 fecha">FECHA</div>
                                <div class="col-md-7 col-sm-7 descripcion">Actividad</div>
                                <div class="col-md-2 col-sm-2 numero">SCORE</div>
                              </div>
                            </div>
                           </div>
                          {%for score in instance.scoreusuario.values %}
                          <div class="titulo"></div>
                          <div class="linea"></div>
                          <div class="scroll-pane">
                            <div class="item">
                              <div class="row">
                                <div class="col-md-3 col-sm-3 fecha">{{score.created_at}}</div>
                                <div class="col-md-7 col-sm-7 descripcion">{{score.description}}</div>
                                <div class="col-md-2 col-sm-2 numero">SCORE:{{score.score}}</div>
                              </div>
                            </div>
                           </div>
                           {% endfor %}

            </div>



                  </div>
                </div>
              </div>

            </div>
          </div>
    </div>


{% endblock %}
