
{% extends 'base2.html'%}


{% block content %}
    <div class="container legalContainer">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10 content-holder text-center">
              <div class="bienvenida img-responsive terms container-fluid">REGISTRO</div>
              
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-1 col-sm-1"></div>
                  <div class="col-md-10 col-sm-10">
                        <div class="col-md-12 regDestacado">
                            Bienvenida! Para tener una mejor experiencia dentro de nuestro sitio,te invitamos a registrarte para crear un perfil y así puedas obtener grandes sorpresas
                        </div>
                        <div classs="col-md-12">
                            <div class="col-md-6">
                                <a href="/sola">
                                  <div class="col-md-12 regMainBtn">
                                    <img src="/static/images/login-sola.png" border="0">
                                  </div>
                                </a>
                                <div class="regMainBtnTx">Registrarme sola</div>
                            </div>
                            <div class="col-md-6">
                                <a href="/conmispapas">
                                  <div class="col-md-12 regMainBtn">
                                    <img src="/static/images/login-padres.png" border="0">
                                  </div>
                                </a>
                                <div class="regMainBtnTx">Registrarme con la ayuda de mis papás</div>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
    </div>


{% endblock %}
