.ms-lightbox-template {
	max-width: 750px;
	padding: 5px 5px 0.1px 5px;
	margin: 0 auto;
	background: #000;
}

.ms-lightbox-template .ms-lightbox-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.ms-lightbox-template .ms-lightbox {
    text-indent: 9999px;
    display: block;
    width: 55px;
    height: 52px;
    margin: -42px;
    background: url(lightbox-btn.png) no-repeat center;
}





/* Media Query*/
@media(max-width:767px){
    .ms-lightbox-template .ms-lightbox{
        display: none !important;
    }
}

@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}