{% extends 'base_perritos.html' %}
{% block kuppe %}

{% endblock %}

{% block content %}
<script>
  $("#btnjuego").addClass("activeButton");
</script>
 <script>
    var dispositivo = navigator.userAgent.toLowerCase();
      if( dispositivo.search(/iphone|ipod|ipad|android/) > -1 ){
      document.location = "/static/perritos/game_perritos_test/";  }
  </script>
<div class="container">
      <div class="row barbieCont" style=" margin-bottom:50px;">
          <div class="col-md-12 baseGame">
             
              <iframe  id="gamecont" allowfullscreen="true" src="/static/perritos/game_perritos_test"  scrolling="no" noresize="noresize"></iframe>
          </div>
        <div class="col-md-1"></div>
      </div>
    </div>
<!--  Script Marcar boton activo -->

{% endblock %}
