{% extends 'base_perritos.html' %}
{% block kuppe %}
    <!-- Base MasterSlider style sheet -->
    <link href="/static/perritos/caruseles/masterslider/style/masterslider.css" type='text/css' rel="stylesheet"/>
    
    <!-- Master Slider Skin -->
    <link href="/static/perritos/caruseles/masterslider/skins/default/style.css" rel='stylesheet' type='text/css'>
     
    <!-- MasterSlider Template Style -->
    <link href='/static/perritos/caruseles/productos/style/ms-lightbox.css' rel='stylesheet' type='text/css'>
    <!-- Master Slider -->
    <script src="/static/perritos/caruseles/masterslider/masterslider.min.js"></script>
    
    <!-- Prettyphoto Lightbox jQuery Plugin -->
    <link href="/static/perritos/caruseles/productos/css/prettyPhoto.css"  rel='stylesheet' type='text/css'/>
    <script src="/static/perritos/caruseles/productos/js/jquery.prettyPhoto.js"></script>  

{% endblock %}

{% block content %}
    <div class="container">
      <div class="row barbieCont" style=" margin-bottom:50px;">
        <div class="col-md-2 logoProductos">
          <img src="/static/images/logoHome.png">
        </div>
        <div class="col-md-9">
          <div class="col-md-12">
<!-- template -->
                    <div class="ms-lightbox-template spJuguetesGalery" id="juguetesSlider">
                          <!-- masterslider -->
                          <div class="master-slider ms-skin-default" id="masterslider">
                            <div class="ms-slide">
                                  <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/juguetes/principal/05.png" alt="lorem ipsum dolor sit"/>    
                                  <img class="ms-thumb" src="/static/perritos/images/juguetes/miniatura/05.jpg" alt="thumb" />  
                                  <a href="/static/perritos/images/juguetes/big/05.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Gabby y Zooey"> lightbox </a> 
                                  <div class="ms-layer video-title spJuguetesTitle" style="right:50px; top:50px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">Barbie hermanas con mascota</div>
                                  <div class="ms-layer video-title product-desc" style="right:50px; top:90px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">*Se venden por separado</div>
                                  <div class="ms-layer video-title likePrdducts" style="left:50px; top:60px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"></div>
                              </div>
                              <div class="ms-slide">
                                  <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/juguetes/principal/01.png" alt="lorem ipsum dolor sit"/>  
                                  <img class="ms-thumb" src="/static/perritos/images/juguetes/miniatura/01.jpg" alt="thumb" />
                                  <a href="/static/perritos/images/juguetes/big/01.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Lara"> lightbox </a>
                                  <div class="ms-layer video-title spJuguetesTitle" style="right:50px; top:50px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">Triciclo de chelsea</div>
                                  <div class="ms-layer video-title product-desc" style="right:50px; top:90px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">¡Incluye un perrito!</div>
                                  <div class="ms-layer video-title likePrdducts" style="left:50px; top:60px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"></div>
                              </div>
                              <div class="ms-slide">
                                  <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/juguetes/principal/02.png" alt="lorem ipsum dolor sit"/>     
                                  <img class="ms-thumb" src="/static/perritos/images/juguetes/miniatura/02.jpg" alt="thumb" />
                                  <a href="/static/perritos/images/juguetes/big/02.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Corinne"> lightbox </a>
                                  <div class="ms-layer video-title spJuguetesTitle" style="right:50px; top:50px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">Perritos a dormir</div>
                                  <div class="ms-layer video-title product-desc" style="right:50px; top:90px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">¡Los perritos están listos para la siesta</div>
                                  <div class="ms-layer video-title likePrdducts" style="left:50px; top:60px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"></div>
                              </div>
                              <div class="ms-slide">
                                  <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/juguetes/principal/03.png" alt="lorem ipsum dolor sit"/>    
                                  <img class="ms-thumb" src="/static/perritos/images/juguetes/miniatura/03.jpg" alt="thumb" />  
                                  <a href="/static/perritos/images/juguetes/big/03.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Natalia y Madison"> lightbox </a> 
                                  <div class="ms-layer video-title spJuguetesTitle" style="right:50px; top:50px; line-height:60px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">Bicicleta con perritos</div>
                                  <div class="ms-layer video-title product-desc" style="right:50px; top:90px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">¡Barbie y sus mascotas darán un divertido paseo en bicicleta!</div>
                                  <div class="ms-layer video-title likePrdducts" style="left:50px; top:60px; line-height:60px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"></div>
                              </div>
                              <div class="ms-slide">
                                  <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/juguetes/principal/04.png" alt="lorem ipsum dolor sit"/>    
                                  <img class="ms-thumb" src="/static/perritos/images/juguetes/miniatura/04.jpg" alt="thumb" />  
                                  <a href="/static/perritos/images/juguetes/big/04.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Wes"> lightbox </a> 
                                  <div class="ms-layer video-title spJuguetesTitle" style="right:50px; top:50px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">Camper de lujo</div>
                                  <div class="ms-layer video-title product-desc" style="right:50px; top:90px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">¡Se transforma en una casa de tres pisos! *No incluye muñecas</div>
                                  <div class="ms-layer video-title likePrdducts" style="left:50px; top:60px; line-height:60px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"></div>
                              </div>
                              
                              <div class="ms-slide">
                                  <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/juguetes/principal/06.png" alt="lorem ipsum dolor sit"/>    
                                  <img class="ms-thumb" src="/static/perritos/images/juguetes/miniatura/06.jpg" alt="thumb" />  
                                  <a href="/static/perritos/images/juguetes/big/06.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Estacion super"> lightbox </a> 
                                  <div class="ms-layer video-title spJuguetesTitle" style="right:50px; top:50px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">Blu-ray</div>
                                  <div class="ms-layer video-title likePrdducts" style="left:50px; top:60px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"></div>
                              </div>
                              <div class="ms-slide">
                                  <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/juguetes/principal/07.png" alt="lorem ipsum dolor sit"/>    
                                  <img class="ms-thumb" src="/static/perritos/images/juguetes/miniatura/07.jpg" alt="thumb" />  
                                  <a href="/static/perritos/images/juguetes/big/07.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Estacion super"> lightbox </a> 
                                  <div class="ms-layer video-title spJuguetesTitle" style="right:50px; top:50px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">DVD</div>
                                  <div class="ms-layer video-title likePrdducts" style="left:50px; top:60px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"></div>
                              </div>
                          </div>
                          <!-- end of masterslider -->
                    </div>
                    <!-- end of template -->

          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
<script type="text/javascript">   
    var slider = new MasterSlider();
    slider.control('arrows'); 
    slider.control('lightbox'); 
    slider.control('thumblist' , {autohide:false, inset:false, arrows:true ,dir:'h',align:'bottom', width:170, height:170, margin:25, space:20 , hideUnder:400});

    slider.setup('masterslider' , {
      width:750,
      height:500,
      space:5,
      loop:true,
      autoplay: true,
      view:'scale',
      keyboard: true,
      overPause: false
    });
    
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
<!--  Script Marcar boton activo -->
<script>
  $("#btnjuguetes").addClass("activeButton");
</script>
<!--  Script Marcar boton activo -->
{% endblock %}


