{% extends 'base_perritos.html'%}


{% block content %}

    <script type="text/javascript">
        $( document ).ready(function() {
            $('#footerPerritos').addClass('absoluteFooterPerritos');
            
        });
    </script>
    <br/><br/>
    <div class="container-fluid" onload="changeClass()">
      <div class="row" id="rowHomePerritos">
      	<div class="col-md12 homeCharacters">
      		<div class="col-md-2 logoHomeImg bounce"><img src="/static/images/logoHome.png"></div>
      		<div class="col-md-12 homeChar bounce">

                <img src="/static/images/characters.png">

                <div class="noDisplayMobile bounce" style="position: absolute; left: 50; top:20px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                <img style="max-width:200px;" src="/static/images/logoHome.png">
            </div>
      		</div>
      		<div class="col-md-1 homeChar"></div>
      	</div>
      </div>

      
    </div>
<script>
  $("#btninicio").addClass("activeButton");
</script>
{% endblock %}