{% extends 'base_perritos.html' %}
{% block kuppe %}
    <!-- Base MasterSlider style sheet -->
    <link href="/static/perritos/caruseles/masterslider/style/masterslider.css" type='text/css' rel="stylesheet"/>
    
    <!-- Master Slider Skin -->
    <link href="/static/perritos/caruseles/masterslider/skins/default/style.css" rel='stylesheet' type='text/css'>
     
    <!-- MasterSlider Template Style -->
    <link href='/static/perritos/caruseles/productos/style/ms-lightbox.css' rel='stylesheet' type='text/css'>
    <!-- Master Slider -->
    <script src="/static/perritos/caruseles/masterslider/masterslider.min.js"></script>
    
    <!-- Prettyphoto Lightbox jQuery Plugin -->
    <link href="/static/perritos/caruseles/productos/css/prettyPhoto.css"  rel='stylesheet' type='text/css'/>
    <script src="/static/perritos/caruseles/productos/js/jquery.prettyPhoto.js"></script>  

{% endblock %}

{% block content %}
    <div class="container">
      <div class="row barbieCont" style=" margin-bottom:50px;">
        <div class="col-md-2 logoProductos">
          <img src="/static/images/logoHome.png">
        </div>
        <div class="col-md-9">
          <div class="col-md-12">
<!-- template -->
                    <div class="ms-lightbox-template spJuguetesGalery" id="juguetesSlider">
                          <!-- masterslider -->
                          <div class="master-slider ms-skin-default" id="masterslider">
                              {% for t in toys %}
                         
                                  
                              <div class="ms-slide">
                                  <img class="cambia{{t.codigo}}" src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/{{t.imagen}}" alt="Barbie Una Aventura de Perritos"/>  
                                  <img class="ms-thumb" src="/static/{{t.imagen_car}}" alt="thumb" />
                                  <a href="/static/{{t.imagen_big}}" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Barbie"> lightbox </a>
                                  <div class="ms-layer video-title spJuguetesTitle" style="right:15px; top:30px; line-height:60px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">{{t.nombre}}</div>
                                  <div class="ms-layer video-title" style="right:50px; top:80px; line-height:60px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">{{t.descp|safe}}</div>

                                  {% if request.user.is_staff %}
                                  <div class="ms-layer video-title likePrdducts video-title spJuguetesLike" style="left:50px; top:60px; line-height:40px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"><a href="/aventura-perritos/likes?t={{t.pk}}" class="likes {% if t.pk in likeds %}likesActive{% endif %}"></a></div>
                                  {% else %}

                                  {% endif %}

                              </div>

                              {% endfor %}

                          </div>
                          <!-- end of masterslider -->
                    </div>
                    <!-- end of template -->
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
<script type="text/javascript">   
  
    var slider = new MasterSlider();

    slider.control('arrows'); 
    slider.control('lightbox'); 
    slider.control('thumblist' , {autohide:false, inset:false, arrows:true ,dir:'h',align:'bottom', width:170, height:170, margin:25, space:20 , hideUnder:400});

    slider.setup('masterslider' , {
      width:750,
      height:500,
      space:150,
      loop:true,
      autoplay: false,
      view:'flow',
      keyboard: true,
      overPause: true
    });
    
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
<!--  Script Marcar boton activo -->
<script>
  $(this).addClass("activeButton");
</script>
<!--  Script Marcar boton activo -->

<!-- Script roll Over  -->
<script>

function  likeadoItem(e){
    e.preventDefault();
    $(this).addClass('likesActive');
  }

$(function() {

    $('.cambia05').hover(function () {
        this.src = '/static/perritos/images/juguetes/principal/04a.png';
    }, function () {
        this.src = '/static/perritos/images/juguetes/principal/04.png';
    });


});


function liker(e)
{
  e.preventDefault();
  ruta = $(this).attr('href').replace('#','');
  $.ajax({url:ruta,success:function(response){

    console.log(response);
  }

});

}

$(document).ready(function(){


  $('.likes').click(likeadoItem);

  $('.likes').click(liker);

});


</script>
<script>
  $("#btnjuguetes").addClass("activeButton");
</script>
{% endblock %}
