@font-face {
    font-family: 'Museo Sans';
    src: url('MuseoSans.otf');
}

canvas {
    cursor: default;
    outline: none;
}

body {
    background-color: #222222;
}

.preloader-panel {
	width: 0px;
	height: 0px;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.webgl-preloader {
	width: 990px;
	height: 636px;
}

.webgl-preloader .label {
    font-family: "Museo Sans";
    font-size: 50px;
	color: #d64589;
	z-index: 30;
    position: relative;
    top: 230px;
}

.loading-meter { 
	height: 10px;
	max-width: 40%;
	position: relative;
	background: #d64589;
	border-style: solid;
	border-width: 3px;
	border-color: #1caddb;
	text-align: left;
    top: 250px;
}
.loading-meter > span {
	display: block;
	height: 100%;
	background-color: #1caddb;
	position: relative;
	overflow: hidden;
}
.loading-animate > span:after {
	display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}
