.ms-container {
	background: url(stage.jpg) no-repeat center 43%;
	background-size: 70% 25%;
}
.ms-showcase1 .master-slider,.ms-container,.ms-view{
	-moz-transform: translate3d(0,0,1px);
	position: relative;
}

.ms-showcase1 .ms-view{background:transparent;}
.ms-showcase1 .ms-layer.product-title {
    margin: 0;
    font-size: 20pt;
    color: #222;
    font-weight: 300;
}

.ms-showcase1 .ms-slide {
	text-shadow:0px 1px 0 white;
}

.ms-showcase1 .ms-skin-default .ms-tooltip-cont{
	width:250px;
}

.ms-showcase1 .ms-layer.product-size { font-size: 12pt;}


.ms-showcase1 .product-desc {
    font-size: 9pt;
    width: 30%;
}
.ms-showcase1 .product-tt {
    font-size: 9pt;
  
    padding:5px;
    color:#222222;
}

.ms-showcase1 .product-tt h3 {
	font-size: 12pt;
	margin: 0 0 5px 0;
	font-weight: 400;
}


.ms-showcase1 .ms-layer.product-price {
    font-size: 20pt;
    font-weight: 600;
    color: #33acd9;
}

.ms-showcase1 .t-green  .ms-layer.product-price {color:#11cf2c;}
.ms-showcase1 .t-yellow .ms-layer.product-price {color:#dbba1f;}
.ms-showcase1 .t-red    .ms-layer.product-price {color:#f03838;}
.ms-showcase1 .t-orange .ms-layer.product-price {color:#e77e21;}

.ms-showcase1 .t-green  .ms-layer.buy-btn {background-color:#11cf2c;}
.ms-showcase1 .t-yellow .ms-layer.buy-btn {background-color:#dbba1f;}
.ms-showcase1 .t-red    .ms-layer.buy-btn {background-color:#f03838;}
.ms-showcase1 .t-orange .ms-layer.buy-btn {background-color:#e77e21;}


.ms-showcase1 .ms-layer.buy-btn{
	display: block;
	background: url(buy-btn.png) no-repeat #33acd9;
	font-size: 14px;
	padding: 11px 29px;
}

.ms-showcase1 .ms-layer.buy-btn a{text-decoration: none; color: white;}
