{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, target-densitydpi=medium-dpi, user-scalable=0">
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Matel">
    <link rel="icon" href="/static/vivebarbie/favicon.ico">
  <title>{{titulo}}</title>
   
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
    <link rel="stylesheet" media="all" href="/static/pop/css/bootstrap.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/datepicker.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/font-awesome.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/fonts.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/hover.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/main.css"/>
    <link href="/static/vivebarbie/css/generales.css" rel="stylesheet" />  


    <!--  Juego  -->
    <link rel="stylesheet" media="all" href="/static/pop_site/css/cp-main.css"/>
    <!--  Juego  -->

     <script type="text/javascript" src="{% static "js/site.js"%}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.sender').submit(sendit);
            $('.sender').focus(function(){
                $('.err').remove();
                
            });
        });

    </script>
<style>
  body{
    background: url('/static/pop_site/images/background-5131f053ac8e13bf8a4480e9830144e316e86bd7f00900f075c95c3ca4bd515a.jpg');
    background-size: cover;
  }
</style>

</head>
<body>

      <div>{% include 'main_bar.html' %}</div>

    <header>

  <nav class="navbar navbar-default">
  <div class="container-fluid nav-bar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="menu btn-inicio {{inicio}}" href="/campamento-pop">Inicio</a></li>
          <li><a class="menu btn-juego {{juego}}" href="/campamento-pop/juego">Juego</a></li>
        <li><a class="menu btn-videos {{videos}}" href="/campamento-pop/videos">Videos</a></li>
        <li><a class="menu btn-juguetes {{juguetes}}" href="/campamento-pop/juguetes">Juguetes</a></li>
          <li><a class="menu btn-promocion {{promocion}}" href="/campamento-pop/promocion">Promoci&oacute;n</a></li>
          <li><a class="menu btn-descargas {{descargas}}" href="/campamento-pop/descargas">Descargas</a></li>
        <li><a class="menu btn-backstage {{backstage}}" href="/campamento-pop/backstage">Backstage</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>


  
  {% block content %}{% endblock %}

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="btns">
            <a href="/static/politicas-de-privacidad.html" target="_blank">Pol&iacute;ticas de privacidad</a>
            <!--<a href="/static/terminos-y-condiciones.html" target="_blank">T&eacute;rminos y condiciones</a>-->
          </div>
          <div class="texto">
            &copy; 2015 Mattel Inc. Todos los derechos reservados.
            <br>
            Cualquier duda o sugerencia favor de comunicarse al 01 800 5 BARBIE (227243) de lunes a viernes de 10 a.m. a 3 p.m. y de 4 p.m. a 6 p.m. S&aacute;bados de 10 a.m. a 2 p.m.
          </div>
        </div>
      </div>
    </div>
  </footer>
<!--  Juego  -->

<!--  Juego  -->

    <script src="/static/vivebarbie/generales/js/animation.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">

      $('#goin').click(function(){
        $('#login_form').submit();

      });
    </script>
  <script type="text/javascript"> $(document).ready(function() { setTimeout(function(){ $(".home").addClass("anim"); }, 200); }); </script>
  {% block botomm %} {% endblock %}
  {% block last_script %}{% endblock %}

</body>
</html>



