<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, target-densitydpi=medium-dpi, user-scalable=0">
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
  <title>Barbie</title>
    <link rel="stylesheet" media="all" href="/static/pop/css/bootstrap.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/datepicker.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/font-awesome.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/fonts.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/hover.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/cp-main.css"/>
</head>
<body class="alt-2">
    <header>
  <div class="menu-top">
    <div class="logo">
      <a href="/mx"><img src="/static/pop/images/menu-logo-iso-b2c34574a1fab6113c2dee86adebcff9e22125138d0a9067c4be49da198e19e9.png" /></a>
      <span class="btn-open"></span>
    </div>
    <div class="btns">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-10 col-sm-10 text-right">
          <div class="registrate-holder text-center">
            <a href="/mx/registro" class="btn-registrate-a"><img src="/static/pop/images/btn-header-registrate-bd5e5b6efaaef8274776eb32cfb9123a1a62ec6931ef130134a5957536df716f.png"></a>
            <a href="/?pick_country=1" class="btn-idioma-a"><img src="/static/pop/images/btn-header-idioma-efa9e8f4c76c29ec0fca2c43df27e3bffa63e78fdea4ae0ce8ed0f200ec822bb.png"></a>
            <br>
            <span>¿Ya estás registrado(a)?,</span>
            <a href="/mx/users/sign_in" class="btn-iniciar">¡INICIA SESIÓN!</a>
          </div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
  </div>
</div>
  </div>
  <nav class="navbar navbar-default">
  <div class="container-fluid nav-bar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="menu btn-inicio " href="/campamento-pop">Inicio</a></li>
          <li><a class="menu btn-juego " href="/campamento-pop/juego">Juego</a></li>
        <li><a class="menu btn-videos " href="/campamento-pop/videos">Videos</a></li>
        <li><a class="menu btn-juguetes " href="/campamento-pop/juguetes">Juguetes</a></li>
          <li><a class="menu btn-promocion " href="/campamento-pop/promocion">Promoci&oacute;n</a></li>
          <li><a class="menu btn-descargas " href="/campamento-pop/descargas">Descargas</a></li>
        <li><a class="menu btn-backstage active" href="/campamento-pop/karaoke">Backstage</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>



{% block content %}{% endblock %}





 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="btns">
          <a href="/static/politicas-de-privacidad.html">Pol&iacute;ticas de privacidad</a> <!-- <a href="/mx/terminos-y-condiciones">T&eacute;rminos y condiciones</a>-->
        </div>
        <div class="texto">
          &copy; 2015 Mattel Inc. Todos los derechos reservados.
          <br>
          Cualquier duda o sugerencia favor de comunicarse al 01 800 5 BARBIE (227243) de lunes a viernes de 10 a.m. a 3 p.m. y de 4 p.m. a 6 p.m. S&aacute;bados de 10 a.m. a 2 p.m.
        </div>
      </div>
    </div>
  </div>
</footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/pop/js/bootstrap.min.js"></script>
    <script src="/static/pop/js/jQuery.tubeplayer.min.js"></script>
    <script src="/static/pop/js/jquery.bxslider.min.js"></script>
    <script src="/static/pop/js/jquery.easing.1.3.js"></script>
    <script src="/static/pop/js/jwplayerCustom.js"></script>
    <script src="/static/pop/js/vivebarbie.js"></script>
    <script src="/static/pop/js/custom.js"></script>



        <script type="text/javascript">
  $(document).ready(function(){
    var v = $('.backstage.canciones .video-thumbs .img-holder:nth-child(1)').attr("data-yt");
    var t = $('.backstage.canciones .video-thumbs .img-holder:nth-child(1)').attr("data-texto");
    $(".backstage.canciones .videos-content .videos-holder .player .titulo span").html(t);
    var t = $('.backstage.canciones .video-thumbs .img-holder:nth-child(2)').attr("data-texto");
    $(".backstage.canciones .videos-content .videos-holder .player #a-continuacion span").html(t);
    playVideo(v, false);
  });
  </script>

</body>
</html>