
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, target-densitydpi=medium-dpi, user-scalable=0">
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
  <title>{{titulo}}</title>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
     <link href="/static/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
    <link rel="stylesheet" media="all" href="/static/pop/css/bootstrap.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/datepicker.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/font-awesome.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/fonts.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/hover.css"/>
    <link rel="stylesheet" media="all" href="/static/pop/css/main.css"/>
    <link href="/static/vivebarbie/css/generales.css" rel="stylesheet" />  
     <script type="text/javascript" src="/static/js/site.js"></script>
     <link rel="icon" href="/static/vivebarbie/favicon.ico">

    <script type="text/javascript">
        $(document).ready(function(){
            $('.sender').submit(sendit);
            $('.sender').focus(function(){
                $('.err').remove();
                
            });
        });

    </script>


</head>
<body class="alt-2">

    {% include 'main_bar.html' %}

    <header>


  <nav class="navbar navbar-default">
  <div class="container-fluid nav-bar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="menu btn-inicio " href="/campamento-pop">Inicio</a></li>
          <li><a class="menu btn-juego " href="/static/pop_site/juegos.html">Juego</a></li>
        <li><a class="menu btn-videos " href="/campamento-pop/videos">Videos</a></li>
        <li><a class="menu btn-juguetes " href="/campamento-pop/juguetes">Juguetes</a></li>
          <li><a class="menu btn-promocion active" href="/campamento-pop/promocion">Promoci&oacute;n</a></li>
          <li><a class="menu btn-descargas " href="/campamento-pop/descargas">Descargas</a></li>
        <li><a class="menu btn-backstage " href="/static/pop_site/backstage.html">Backstage</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>

    <section id="static" class="promo">
  <div class="container-fluid">
    
            <!-- Modal -->
            <div class="modal fade" id="bases" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black;">
                
                           <!-- /.modal-campamento original -->
                           

                    <div id="pop-bases" class="pop text-center">
                        <a href="#" class="btn-cerrar" data-dismiss="modal">X</a>
                        <div class="titulo">Bases de la promoci&oacute;n</div>
                        <div class="texto">

                                <strong>LA PARTICIPACIÓN EN ESTA PROMOCIÓN IMPLICA LA ACEPTACIÓN DE LAS BASES Y LA MECÁNICA  DE LA MISMA</strong>
                                <br><br>
                                <strong>
                                    Nota: Como condición fundamental para ser ganador es: No haber sido ganador ni una sola vez, en ninguna promoción de Barbie, efectuadas en los últimos 3 años anteriores al inicio de la presente promoción.
                                    NOMBRE DE LA PROMOCIÓN:</strong> "Barbie Campamento Pop"
                                <br><br>
                                <strong>COBERTURA:</strong> República Mexicana.
                                <br><br>
                                <strong>VIGENCIA DE LA PROMOCIÓN:</strong> Del 04 de septiembre de 2015 al 12 de octubre de 2015.
                                <br><br>
                                <strong>PRODUCTOS PARTICIPANTES:</strong> DVD Campamento Pop (UPC 7506005977338), Blue Ray Campamento Pop (UPC 7506005977345), Chelsea (UPC 887961109818), Amiga de Chelsea (UPC 887961109818), Amiga de Chelsea (UPC 887961109818), Edmund (UPC 887961109870), Zia (UPC 887961109771), Rayna (UPC 887961109771), Courtney (UPC 887961163933), Erika (UPC 887961164091), Escenario 2 en 1 (UPC 887961109917).
                                <br><br>
                                <strong>PREMIOS:</strong>
                                <br>
                                Habrá 10 premios de acuerdo al siguiente orden:
                                <br>
                                <ul>
                                    <li>
                                        <strong>Primer Lugar</strong>
                                        Un kit que incluye:
                                        <br>
                                        Experiencia popstar, Triciclo Barbie, Scooter  Barbie, Libro para colorear 64 Páginas Barbie, Libro para colorear 16 Páginas Barbie, Libro de lectura 24 páginas Barbie, Dominó en tin Barbie 28 fichas, Rompecabezas actividades destellos y brillos Barbie, Playera estampada Barbie, Conjunto playera estampada y legging Barbie, Chamarra sublimada Barbie, Reloj de pared Barbie, Bolsa Juvenil Barbie, Juguete mexicano MOD 510, Juguete Mexicano MOD 1104, Colcha Barbie Mágica individual cini0003
                                    </li>
                                </ul>

                                El valor total del kit es de $ 4995.18 (cuatro mil novecientos noventa y cinco 18/100 M.N) IVA incluido.
                                <br>
                                <ul>
                                    <li>
                                        <strong>Segundo lugar al décimo lugar.</strong>
                                        <br>
                                        Un kit que incluye:
                                        <br>
                                        Triciclo Barbie, Scooter  Barbie, Libro para colorear 64 Páginas Barbie, Libro para colorear 16 Páginas Barbie, Libro de lectura 24 páginas Barbie, Rompecabezas actividades destellos y brillos Barbie, Playera estampada Barbie, Conjunto playera estampada y legging Barbie, Chamarra sublimada Barbie, Reloj de pared Barbie, Bolsa Juvenil Barbie, Juguete mexicano MOD 510, Juguete mexicano MOD 1104, Colcha Barbie Mágica individual cini0003
                                    </li>
                                </ul>
                                El valor total del kit es de $ 2995.18 (dos mil novecientos noventa y cinco pesos 18/100 M.N) IVA incluido. Cada Uno.
                                <br><br>
                                <strong>MECÁNICA DE PARTICIPACIÓN:</strong>
                                <br>
                                Para poder participar  en la siguiente mecánica es necesario tener la autorización de tu padre o tutor.
                                <br>
                                <ul>
                                    <li>
                                        Ingresa a <a href="http://www.vivebarbie.com/" target="_blank">www.vivebarbie.com</a>
                                    </li>
                                    <li>
                                        Genera un usuario y contraseña con ayuda de tu padre o tutor registrando los siguientes datos: País, nombre completo,  dirección completa, correo electrónico, teléfono de casa, teléfono celular, fecha de nacimiento. Los datos antes mencionados deberán ser del padre o tutor y tendrá que ser mayor de edad. Estos datos se utilizarán para contactar a las personas que resulten ganadoras y hacer válida su participación.
                                    </li>
                                    <li>
                                        Participa jugando en línea, si eres una de las 10 (diez) participantes que obtuvieron la mayor cantidad de puntos podrás ganar uno de los 10 (diez) kits de producto que tenemos para ti.
                                        En caso de empate, se tomará en cuenta el participante que haya jugado primero en tiempo, tomando como base la fecha, hora, minuto y segundo de registro.
                                    </li>
                                </ul>

                                <strong>ACTIVIDADES QUE DAN PUNTOS.</strong>
                                <br>

                                La acumulación de puntos (estrellas) permitirá participar por los premios y acceder a los diferentes descargables, cada descargable tendrá un valor asignado.

                                <br><br>

                                Todos los puntos acumulados podrán ser consultados en la página de perfil del participante. 

                                <br><br>

                                <strong>Puntos por participar en el sitio</strong>
                                <br>
                                <ul>
                                    <li>Registrarte y activar la cuenta te da 100 puntos.</li>
                                    <li>Los puntos acumulados no son válidos si uno de los padres no activa la cuenta.</li>
                                </ul>
                                <strong>Puntos por jugar</strong>
                                <br>
                                Se pueden acumular tantos puntos como veces juegues.
                                <ul>
                                    <li>Cada canción contiene un número aleatorio de notas en cada canción.</li>
                                    <li>Cada canción da 20 puntos si se tienen menos de 30% de errores durante la canción.</li>
                                </ul>
                                <strong>Puntos por ver videos</strong>
                                <br>
                                Solo se podrán acumular los puntos por ver los videos una vez.
                                <br>
                                <ul>
                                    <li>Ver el video de “Alcemos nuestras voces” da 100 puntos</li>
                                    <li>Ver el video “Voy a brillar” da 100 puntos</li>
                                    <li>Ver el video “Trailer oficial” da 100 puntos</li>
                                    <li>Ver el video “Campamento Pop” da 100 puntos.</li>
                                </ul>
                                <strong>PUNTOS POR REGISTRAR PRODUCTOS.</strong>
                                <br>
                                <ul>
                                    <li>Cada artículo registrado tendrá un puntaje dependiendo del valor del producto.</li>
                                    <li>Cuando el usuario efectúe el primer registro de producto se le solicitará responder una pregunta: “Cuéntanos, ¿cómo sería un día de SÚPER ESTRELLA para ti?”. Esta es opcional, el responderla no otorga puntos para participar en la promoción.</li>
                                </ul>
                                <strong>TABLA DE PUNTAJES:</strong>
                                <br>
                                <div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">UPC</div>
                                        <div class="col-md-4 col-sm-4">DESCRIPCIÓN</div>
                                        <div class="col-md-4 col-sm-4">PUNTAJE</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">7506005977338</div>
                                        <div class="col-md-4 col-sm-4">DVD Campamento Pop</div>
                                        <div class="col-md-4 col-sm-4">5000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">7506005977345</div>
                                        <div class="col-md-4 col-sm-4">Blue Ray Campamento Pop</div>
                                        <div class="col-md-4 col-sm-4">5000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">887961109818</div>
                                        <div class="col-md-4 col-sm-4">Chelsea</div>
                                        <div class="col-md-4 col-sm-4">5000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">887961109818</div>
                                        <div class="col-md-4 col-sm-4">Amiga de Chelsea</div>
                                        <div class="col-md-4 col-sm-4">5000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">887961109818</div>
                                        <div class="col-md-4 col-sm-4">Amiga de Chelsea</div>
                                        <div class="col-md-4 col-sm-4">5000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">887961109870</div>
                                        <div class="col-md-4 col-sm-4">Edmund</div>
                                        <div class="col-md-4 col-sm-4">5000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">887961109771</div>
                                        <div class="col-md-4 col-sm-4">Zia</div>
                                        <div class="col-md-4 col-sm-4">8000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">887961109771</div>
                                        <div class="col-md-4 col-sm-4">Rayna</div>
                                        <div class="col-md-4 col-sm-4">8000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">887961163933</div>
                                        <div class="col-md-4 col-sm-4">Courtney</div>
                                        <div class="col-md-4 col-sm-4">10000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">887961164091</div>
                                        <div class="col-md-4 col-sm-4">Erika</div>
                                        <div class="col-md-4 col-sm-4">10000</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">887961109917</div>
                                        <div class="col-md-4 col-sm-4">Escenario 2 en 1</div>
                                        <div class="col-md-4 col-sm-4">10000</div>
                                    </div>
                                </div>
                                <br>
                                <ul>
                                    <li>
                                        Nota: Cada producto solo puede ser ingresado una sola vez, en caso contrario se tomará como válido el último registro y los anteriores serán descalificados.
                                    </li>
                                </ul>
                                Seguimiento de puntos
                                <br>
                                El participante podrá verificar todos los puntos que ha conseguido visitando la sección Mi Perfil, donde se mostrará un registro de la actividad, fecha y número de puntos que acumuló.
                                <br><br>
                                Juego Campamento Pop
                                <br>
                                El juego permitirá a la niña acumular puntos para ganar el premio de la promoción.
                                <br><br>
                                MECÁNICA DEL JUEGO:
                                <br>
                                <ul>
                                    <li>Los participantes podrán seleccionar si quiere jugar como Princesa o Popstar.</li>
                                    <li>Podrá seleccionar el aspecto de su avatar seleccionando una de las opciones disponibles de las cuatro categorías: 1. Cabello; 2. Blusas y vestidos; 3. Faldas y pantalones; 4. Zapatos.</li>
                                    <li>Al seleccionar el avatar se mostrarán las instrucciones  de como jugar.</li>
                                    <li>La primera canción que podrá jugar es “Alcemos nuestras voces” después podrán seleccionar la canción que desean jugar entre las 8 disponibles: “Búscate en la Canción”, “Hacia el Campamento”, “Alcemos Nuestras Voces”, “Poder Soñar”, “Voy a Brillar”, “Siendo Princesa”, “Show Final”.</li>
                                    <li>Deberá presionar las teclas indicadas que se mueven verticalmente en el punto y momento indicado para mantener a los fans emocionados.</li>
                                    <li>Cada canción aumentará de dificultad cada 25% de avance. Entre más avance aparecen más notas.</li>
                                    <li>Las flechas aparecen de forma aleatoria para dar una experiencia diferente sin importar el número de veces que juegue.</li>
                                    <li>Solo recibirá puntos si logra acertar más del 70% de notas que aparezcan.</li>
                                    <li>Al terminar la canción se mostrará un pop up notificando si consiguió los puntos y dando la oportunidad de jugar nuevamente.</li>
                                </ul>
                                En caso de detectar alguna trampa o manipulación digital las participantes serán descalificados.
                                <br><br>
                                RESTRICCIONES A LOS PARTICIPANTES:
                                <br>
                                <ul>
                                    <li>Los premios NO son canjeables por dinero, ni transferibles.</li>
                                    <li>Como condición fundamental para ser ganador es: No haber sido ganador ni una sola vez, en ninguna promoción de Barbie, efectuadas en los últimos 3 años anteriores al inicio de la presente promoción.</li>
                                    <li>El premio será únicamente el establecido en las presentes bases, sin que pueda ser sustituido o permutado por cualquier otro bien o servicio.</li>
                                    <li>No aplica con otras promociones.</li>
                                    <li>Los registros que no cuenten con algún dato de la mecánica de participación, serán descalificados.</li>
                                    <li>En caso de resultar ganadora y haber registrado productos, deberás presentar los códigos de barras originales registrados  para tener derecho al premio.</li>
                                    <li>En caso de no presentar los códigos registrados el premio se reasignara al participante que cumpla con lo establecido en las presentes bases.</li>
                                    <li>Si por algún motivo no se asignan todos los ganadores por que no cumplieron con los términos y condiciones, los premios quedan a disposición de PACHUCO DIGITAL S.A DE C.V, para los fines que él convenga.</li>
                                    <li>Al ingresar sus datos los participantes aceptan sujetarse a los términos y condiciones establecidos en las presentes bases.</li>
                                    <li>Las participantes que resulten ganadoras tendrán que presentarse acompañadas de su padre o tutor para reclamar el premio, deberá firmar el recibo de conformidad, presentar acta de nacimiento e identificación del menor, así como identificación oficial del padre o tutor.</li>
                                    <li>No podrán participar empleados de PACHUCO DIGITAL S.A DE C.V., agencias o cualquier otra empresa relacionada con la promoción</li>
                                    <li>El premio será asignado sólo después de la verificación del cumplimiento de todas las condiciones y reglamentos de la promoción, siendo descalificados aquellos participantes que no los cumplan de forma íntegra.</li>
                                    <li>Los organizadores y la empresa responsable de la campaña, se reservan el derecho de iniciar cualquier acción legal en contra de quien resulte responsable contra cualquier acto que podría ser un delito, personas que intenten violar o alterar las condiciones y mecánica de la campaña y sistema informático utilizado para la captura de datos y participación, materia de dicha campaña. de igual forma se procederá legalmente, en contra de personas que intenten cualquier tipo de desprestigio infundado derivado de la campaña en cualquier medio de publicidad, incluidas las redes sociales, que pudieran generar un daño patrimonial a los organizadores.</li>
                                </ul>

                                MEDIOS DE COMUNICACIÓN Y FECHAS PARA DAR A CONOCER LOS RESULTADOS: Los ganadores se darán a conocer el 19 de octubre de 2015 en la página www.vivebarbie.com, además serán contactados telefónicamente para indicarles qué hacer para reclamar su premio.</li>
                                <br>
                                RESPONSABLE DE LA PROMOCIÓN: PACHUCO DIGITAL S.A DE C.V., con domicilio ubicado en: Antonio Sola 78 piso 1, Col. Condesa, México, D.F. C.P 06140. 
                                <br><br>
                                PLAZO PARA RECLAMAR LOS PREMIOS: Dentro de los 20 días hábiles posteriores a la publicación de los ganadores en la página web www.vivebarbie.com.
                                <br><br>
                                LUGAR Y HORARIO DE LA ENTREGA DE PREMIOS: Los ganadores que sean menores de edad deberán presentarse acompañado de alguno de sus padres o tutor. Los ganadores que  resida en DF o valle de México, la entrega se realizará en Antonio Maura Nº29, Col. Moderna, C.P. 03510, Benito Juárez, D.F.  En caso contrario, la entrega se realizará por paquetería especializada, siempre y cuando el padre o tutor haya proporcionado  previamente la documentación solicitada.
                                <br><br>
                                PACHUCO DIGITAL S.A DE C.V y TV PROMO, S.A DE C.V, SE RESERVA EL DERECHO DE LIMITAR O PROHIBIR LA PARTICIPACIÓN EN ESTA PROMOCIÓN, A CUALQUIER PERSONA, EN CASO DE PRESUMIR LA EXISTENCIA DE FRAUDE O ALTERACIÓN EN LA MECÁNICA DE FUNCIONAMIENTO DE LA PROMOCIÓN, O SI EL PARTICIPANTE NO CUMPLE EN SU TOTALIDAD CON LOS REQUISITOS DE PARTICIPACIÓN ESTABLECIDOS EN LAS PRESENTES BASES. ADVERTENCIA: CUALQUIER INTENTO, HECHO POR CUALQUIER PERSONA, DE DAÑAR O ALTERAR DELIBERADAMENTE CUALQUIER SITIO DE INTERNET O SERVICIO TELEFÓNICO RELACIONADO CON ESTA PROMOCIÓN O ALTERAR LA LEGÍTIMA OPERACIÓN DE LA MISMA, CONSTITUYE UNA VIOLACIÓN A LAS LEYES DE CARÁCTER CIVIL Y PENAL, RAZÓN POR LA CUAL, EN CASO DE PRESENTARSE DICHO INTENTO, PACHUCO DIGITAL S.A DE C.V y TV PROMO, S.A DE C.V SUBSIDIARIAS Y/O AFILIADOS SE RESERVA EL DERECHO DE RECLAMAR INDEMNIZACIÓN POR DAÑOS Y PERJUICIOS FRENTE A CUALQUIER PERSONA Y POR LAS VÍAS CORRESPONDIENTES
                                <br><br>
                                * LA PARTICIPACIÓN EN ESTA PROMOCIÓN IMPLICA LA ACEPTACIÓN DE LA TOTALIDAD DE SUS BASES LAS QUE SON INAPELABLES, SIENDO PACHUCO DIGITAL S.A DE C.V. y, TV PROMO, S.A DE C.V, LOS ÚNICOS HABILITADOS PARA INTERPRETARLAS.

                        </div>
                    </div>


                       
            </div>
            <!-- /.modal -->



<!--
<div class="container-fluid">
    <div class="col-md-6 col-sm-6 text-right">
      <img src="/img-promo-ganadores.png" class="img-promo-ganadores" />
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="/img-promo-paulina-nueva.png" class="img-promo-paulina-nueva">
  
      <div class="texto-pie">
      ¡Juega y explora el sitio de Barbie Campamento Pop!
      </div>

      <div class="btns promo-btns">
        <a href="javascript:;" class="btn-bases" data-popup="bases"><div class="btn-holder">BASES</div></a>
        <a href="javascript:;" class="btn-premios" data-popup="premios"><div class="btn-holder">PREMIOS</div></a>
      </div>
  
    </div>
  </div>
</div>
-->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-right">
      <img src="/static/pop/images/col_txt.png" class="juega" />
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="/static/pop/images/img-promo-chica-MX-a440b78db91c164166b940865d9227fef1462343d22407a3f1fc1194cdced4b0.png" class="img-promo-paulina-nueva" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4">
      <div class="texto-pie mx">
      ¡Juega y explora el sitio de Barbie Campamento Pop!
      </div>
      <div class="btns promo-btns">
        <a data-toggle="modal" class="btn-bases" href="#" data-target="#bases"><div class="btn-holder">BASES</div></a>
        <a data-toggle="modal" class="btn-premios" href="#" data-target="#premios"><div class="btn-holder">PREMIOS</div></a>

      </div>
    </div>
    <div class="col-md-4 col-sm-4"></div>
  </div>
</div>


  </div>
</section>

         <!--  POP PREMIOS  MX-->
          <!-- Modal -->
            <div class="modal fade" id="premios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:black;">
                  <div id="pop-premios" class="popPremios text-center">
                    <br><br>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-1 col-sm-1"></div>
                        <div class="col-md-10 col-sm-10 text-center">
                          <p align="center">
                            <img src="/static/pop/images/imgOtros-dd9ec728c35af2ba44eb6663c0c981cbde1edc56e2279914213671c9eb5c2894.png" class="img-responsive premio-imagen" />
                          </p>
                        </div>
                        <div class="col-md-1 col-sm-1"></div>
                      </div>
                    </div>
                    <div class="popPremiosBg"></div>
                    <!--<div class="popPremiosContentMx"></div>-->
                    <div class="popPremiosClose btn-cerrar" data-dismiss="modal"><a href="#">X</a></div>

                
                  </div>
                  <!--  POP PREMIOS  MX-->
            </div>


    <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="btns">
           <a target="_blank" href="/static/politicas-de-privacidad.html">Pol&iacute;ticas de privacidad</a> <!--<a href="/mx/terminos-y-condiciones">T&eacute;rminos y condiciones</a> -->
        </div>
        <div class="texto">
          &copy; 2015 Mattel Inc. Todos los derechos reservados.
          <br>
          Cualquier duda o sugerencia favor de comunicarse al 01 800 5 BARBIE (227243) de lunes a viernes de 10 a.m. a 3 p.m. y de 4 p.m. a 6 p.m. S&aacute;bados de 10 a.m. a 2 p.m.
        </div>
      </div>
    </div>
  </div>
</footer>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/pop/js/bootstrap.min.js"></script>
    <script src="/static/pop/js/jQuery.tubeplayer.min.js"></script>
    <script src="/static/pop/js/jquery.bxslider.min.js"></script>
    <script src="/static/pop/js/jquery.easing.1.3.js"></script>
    <script src="/static/pop/js/jwplayerCustom.js"></script>
    <script src="/static/pop/js/vivebarbie.js"></script>
    <script src="/static/pop/js/custom.js"></script>
        <script type="text/javascript">
    $(window).load(function(){
      $(".pop .texto").mCustomScrollbar({
        setHeight:340,
        theme:"inset-2-dark"
      });
    });
  </script>
  <script src="/static/vivebarbie/generales/js/animation.js"></script>



</body>
</html>