{% extends 'base_perritos.html' %}
{% block kuppe %}
    <!-- Base MasterSlider style sheet -->
    <link rel="stylesheet" href="/static/masterslider/style/masterslider.css" />
    <!-- Master Slider Skin -->
    <link href="/static/masterslider/skins/light-6/style.css" rel='stylesheet' type='text/css'>
    <!-- MasterSlider Template Style -->
    <link href='/static/masterslider/style/ms-showcase1.css' rel='stylesheet' type='text/css'>
    <!-- Master Slider -->
    <script src="/static/masterslider/masterslider.min.js"></script>

<!-- MasterSlider Template Style -->
<link href='/static/masterslider/style/ms-lightbox.css' rel='stylesheet' type='text/css'>
<!-- Prettyphoto Lightbox jQuery Plugin -->
<link href="/static/masterslider/css/prettyPhoto.css"  rel='stylesheet' type='text/css'/>
<script src="/static/masterslider/js/jquery.prettyPhoto.js"></script>

{% endblock %}

{% block content %}
    <div class="container">
      <div class="row barbieCont">
        <div class="col-md-2 logoProductos">
          <img src="/static/images/logoHome.png">
        </div>
        <div class="col-md-9">
          <div class="col-md-12">

  <!-- template -->
  <div class="ms-showcase1">
        <!-- masterslider -->
        <div class="master-slider ms-skin-light-6 round-skin" id="sliderproductos">
            <div class="ms-slide">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/p01.png" alt="lorem ipsum dolor sit"/>
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" /> 
                <a href="/static/masterslider/img/p01.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="lorem ipsum dolor sit"> lightbox </a>

                <div class="likePrdducts"></div>

                <h4  class="ms-layer product-title"
                  style="right:50px; top:50px;" 
                  data-effect="right(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >Casita de perritos</h4>
                
                <div class="ms-layer product-desc"
                  style="right:50px; top:90px;" 
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Incluye perritos con patitas</div>
                
            </div>
            <div class="ms-slide t-yellow">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/p02.png" alt="lorem ipsum dolor sit"/>
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />  
                <a href="/static/masterslider/img/p02.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="lorem ipsum dolor sit"> lightbox </a>   
                
                <div class="likePrdducts"></div>

                <h4  class="ms-layer product-title"
                  style="right:50px; top:50px;" 
                  data-effect="right(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >Casita de perritos</h4>
                
                <div class="ms-layer product-desc"
                  style="right:50px; top:90px;" 
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Incluye perritos con patitas</div>
            
            </div>
            <div class="ms-slide t-orange">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/p03.png" alt="lorem ipsum dolor sit"/>  
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />  
                <a href="/static/masterslider/img/p03.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="lorem ipsum dolor sit"> lightbox </a>
              
                <div class="likePrdducts"></div>

                   <h4  class="ms-layer product-title"
                  style="right:50px; top:50px;" 
                  data-effect="right(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >Casita de perritos</h4>
                
                <div class="ms-layer product-desc"
                  style="right:50px; top:90px;" 
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Incluye perritos con patitas</div>
            
            </div>
            <div class="ms-slide t-red">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/p04.png" alt="lorem ipsum dolor sit"/>  
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />  
                <a href="/static/masterslider/img/p04.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="lorem ipsum dolor sit"> lightbox </a>
                
                <div class="likePrdducts"></div>

                <h4  class="ms-layer product-title"
                  style="right:50px; top:50px;" 
                  data-effect="right(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >Casita de perritos</h4>
                
                <div class="ms-layer product-desc"
                  style="right:50px; top:90px;" 
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Incluye perritos con patitas</div>
            </div>
            <div class="ms-slide t-blue">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/p05.png" alt="lorem ipsum dolor sit"/>  
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />
                <a href="/static/masterslider/img/p05.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="lorem ipsum dolor sit"> lightbox </a>
                
                <div class="likePrdducts"></div>

                 <h4  class="ms-layer product-title"
                  style="right:50px; top:50px;" 
                  data-effect="right(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >Casita de perritos</h4>
                
                <div class="ms-layer product-desc"
                  style="right:50px; top:90px;" 
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Incluye perritos con patitas</div>
            </div>
            <div class="ms-slide t-blue">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/p06.png" alt="lorem ipsum dolor sit"/>  
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />
                <a href="/static/masterslider/img/p06.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="lorem ipsum dolor sit"> lightbox </a>
                
                <div class="likePrdducts"></div>

                 <h4  class="ms-layer product-title"
                  style="right:50px; top:50px;" 
                  data-effect="right(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >Casita de perritos</h4>
                
                <div class="ms-layer product-desc"
                  style="right:50px; top:90px;" 
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Incluye perritos con patitas</div>
            </div>
            <div class="ms-slide t-blue">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/p07.png" alt="lorem ipsum dolor sit"/>  
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />
                <a href="/static/masterslider/img/p07.png" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="lorem ipsum dolor sit"> lightbox </a>
                
                <div class="likePrdducts"></div>

                 <h4  class="ms-layer product-title"
                  style="right:50px; top:50px;" 
                  data-effect="right(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >Casita de perritos</h4>
                
                <div class="ms-layer product-desc"
                  style="right:50px; top:90px;" 
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Incluye perritos con patitas</div>
            </div>
        </div>
        <!-- end of masterslider -->
  </div>
  <!-- end of template -->

          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  <script type="text/javascript">   
  
    var slider = new MasterSlider();
    slider.setup('sliderproductos' , {
      autoHeight:true,
      width:1024,
      height:580,
      space:150,
      fillMode:'fit',
      speed:25,
      preload:'2',
      view:'flow',
      loop:true,
      heightLimit:true,
      keyboard:true
      
    }); 
    slider.control('thumblist' , {autohide:false ,dir:'h',arrows:true, align:'bottom', width:150, height:162, margin:5, space:5});

    $(document).ready(function(){
        $("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>

{% endblock %}


