{% extends 'base_perritos.html' %}
{% block kuppe %}
    <!-- Base MasterSlider style sheet -->
    <link rel="stylesheet" href="/static/masterslider/style/masterslider.css" />
    <!-- Master Slider Skin -->
    <link href="/static/masterslider/skins/light-6/style.css" rel='stylesheet' type='text/css'>
    <!-- MasterSlider Template Style -->
    <link href='/static/masterslider/style/ms-showcase1.css' rel='stylesheet' type='text/css'>
    <!-- Master Slider -->
    <script src="/static/masterslider/masterslider.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row barbieCont">
        <div class="col-md-2 logoProductos">
          <img src="/static/images/logoHome.png">
        </div>
        <div class="col-md-9">
          <div class="col-md-12">

  <!-- template -->
  <div class="ms-showcase1">
        <!-- masterslider -->
        <div class="master-slider ms-skin-light-6 round-skin" id="masterslider">
            <div class="ms-slide">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/1.png" alt="lorem ipsum dolor sit"/>
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" /> 
                 
                <h4  class="ms-layer product-title principalProductTitle" style="left:637px; top:270px;" 
                  data-effect="left(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >GREEN T-SHIRT</h4>
                
                <div class="ms-layer product-title principalProductTitle slash" style="left:834px; top:270px;" 
                  data-effect="left(20)"
                  data-delay="100"
                  data-ease="easeOutQuad"
                ></div>
                <div class="ms-layer product-desc"  style="left:637px; top:335px;"
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid</div>
                
            </div>
            <div class="ms-slide t-yellow">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/2.png" alt="lorem ipsum dolor sit"/>
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />     
                
                <h4  class="ms-layer product-title principalProductTitle" style="left:637px; top:270px;" 
                  data-effect="left(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >YELLOW T-SHIRT</h4>
                
                <div class="ms-layer product-title principalProductTitle slash" style="left:853px; top:270px;" 
                  data-effect="left(20)"
                  data-delay="100"
                  data-ease="easeOutQuad"
                ></div>
                <div class="ms-layer product-desc"  style="left:637px; top:335px;"
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid</div>
            
            </div>
            <div class="ms-slide t-orange">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/3.png" alt="lorem ipsum dolor sit"/>  
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />  
              
                   <h4  class="ms-layer product-title principalProductTitle"  style="left:637px; top:270px;" 
                  data-effect="left(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >ORANGE T-SHIRT</h4>
                
                <div class="ms-layer product-title principalProductTitle slash" style="left:855px; top:270px;" 
                  data-effect="left(20)"
                  data-delay="100"
                  data-ease="easeOutQuad"
                ></div>
                <div class="ms-layer product-desc"  style="left:637px; top:335px;"
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid</div>
            
            </div>
            <div class="ms-slide t-red">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/4.png" alt="lorem ipsum dolor sit"/>  
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />  
                
                <h4  class="ms-layer product-title principalProductTitle" style="left:637px; top:270px;" 
                  data-effect="left(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >RED T-SHIRT</h4>
                
                <div class="ms-layer product-title principalProductTitle slash" style="left:799px; top:270px;" 
                  data-effect="left(20)"
                  data-delay="100"
                  data-ease="easeOutQuad"
                ></div>
                <div class="ms-layer product-desc"  style="left:637px; top:335px;"
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid</div>
            </div>
            <div class="ms-slide t-blue">
                <img src="/static/masterslider/style/blank.gif" data-src="/static/masterslider/img/5.png" alt="lorem ipsum dolor sit"/>  
                <img class="ms-thumb" src="/static/masterslider/img/thumbs/miniaturaBarbie.png" alt="thumb" />
                
                 <h4  class="ms-layer product-title principalProductTitle" style="left:637px; top:270px;" 
                  data-effect="left(100)"
                  data-delay="0"
                  data-ease="easeOutQuad"
                >BLUE T-SHIRT</h4>
                
                <div class="ms-layer product-title principalProductTitle slash" style="left:809px; top:270px;" 
                  data-effect="left(20)"
                  data-delay="100"
                  data-ease="easeOutQuad"
                ></div>
                <div class="ms-layer product-desc"  style="left:637px; top:335px;"
                  data-effect="bottom(40)"
                  data-delay="500"
                  data-ease="easeInOutQuad"
                >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid</div>
            </div>
        </div>
        <!-- end of masterslider -->
  </div>
  <!-- end of template -->

          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  <script type="text/javascript">   
  
    var slider = new MasterSlider();
    slider.setup('masterslider' , {
      width:1024 ,
      height:580,
      space:0,
      fillMode:'fit',
      speed:25,
      preload:'all',
      view:'fadeFlow',
      loop:true
    });
    
    slider.control('arrows'); 
    slider.control('bullets');
    slider.control('thumblist' , {autohide:false ,dir:'h',arrows:false, align:'bottom', width:127, height:137, margin:5, space:5});

  </script>

{% endblock %}


