{% extends 'base_pop.html' %}


{% block content %}


    <section id="static" class="descargable">
  <div class="container-fluid">
  
    <div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 text-center">

    <div class="titulo text-left">Wallpapers</div>
    <div class="list-thumb">
      <div class="row">
        <div class="col-md-3 col-sm-3">
  <div class="thumb">
        <div class="bloqueado">
          <div class="holder">
            <div class="texto">
              Descarga para:<br>
              <a href="/campamento-pop/download?f=descargables/Barbie-WP-1-720x1280.png"><span>> Celular</span></a><br>
              <a href="/campamento-pop/download?f=descargables/Barbie-WP-1-2560x1440.png"><span>> compu de escritorio</span></a>
            </div>
          </div>
        </div>
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="descargables/Barbie-WP-1-2560x1440.png"><img src="/static/pop/images/wallpaper01-thumb.jpg?1441976384" /></a>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="thumb">
        <div class="bloqueado">
          <div class="holder">
            <div class="texto">
              Descarga para:<br>
              <a href="/campamento-pop/download?f=descargables/Barbie-WP-2-720x1280.png"><span>> Celular</span></a><br>
              <a href="/campamento-pop/download?f=descargables/Barbie-WP-2-2560x1440.png"><span>> compu de escritorio</span></a>
            </div>
          </div>
        </div>
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="descargables/Barbie-WP-2-2560x1440.png"><img src="/static/pop/images/wallpaper02-thumb.jpg?1441976822" /></a>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="thumb">
        <div class="bloqueado">
          <div class="holder">
            <div class="texto">
              Descarga para:<br>
              <a href="/campamento-pop/download?f=descargables/Barbie-WP-3-720x1280.png"><span>> Celular</span></a><br>
              <a href="/campamento-pop/download?f=descargables/Barbie-WP-3-2560x1440.png"><span>> compu de escritorio</span></a>
            </div>
          </div>
        </div>
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="descargables/Barbie-WP-3-2560x1440.png"><img src="/static/pop/images/wallpaper03-thumb.jpg?1441976937" /></a>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="thumb">
        <div class="bloqueado">
          <div class="holder">
            <div class="texto">
              Descarga para:<br>
              <a href="/campamento-pop/download?f=descargables/Barbie-WP-4-720x1280.png"><span>> Celular</span></a><br>
              <a href="/campamento-pop/download?f=descargables/Barbie-WP-4-2560x1440.png"><span>> compu de escritorio</span></a>
            </div>
          </div>
        </div>
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="descargables/Barbie-WP-4-2560x1440.png"><img src="/static/pop/images/wallpaper04-thumb.jpg?1441977232" /></a>
  </div>
</div>

      </div>
    </div>

      <div class="titulo text-left">Stickers Pop</div>
      <div class="list-thumb">
        <div class="row">
          <div class="col-md-3 col-sm-3">
  <div class="thumb">
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="/campamento-pop/download?f=descargables/Zia-01.pdf"><img src="/static/pop/images/recortables-01-thumb.jpg?1441977707" /></a>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="thumb">
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="/campamento-pop/download?f=descargables/Rayna-02.pdf"><img src="/static/pop/images/recortables-02-thumb.jpg?1441977783" /></a>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="thumb">
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="/campamento-pop/download?f=descargables/Erika-03.pdf"><img src="/static/pop/images/recortables-03-thumb.jpg?1441978032" /></a>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="thumb">
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="/campamento-pop/download?f=descargables/Courtney-04.pdf"><img src="/static/pop/images/recortables-04-thumb.jpg?1441978100" /></a>
  </div>
</div>

        </div>
      </div>

      <div class="titulo text-left">Dibujos para Colorear</div>
      <div class="list-thumb">
        <div class="row">
          <div class="col-md-3 col-sm-3">
  <div class="thumb">
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="/campamento-pop/download?f=descargables/1.pdf"><img src="/static/pop/images/colorear-01-thumb.jpg?1441978380" /></a>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="thumb">
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="/campamento-pop/download?f=descargables/2.pdf"><img src="/static/pop/images/colorear-02-thumb.jpg?1441978497" /></a>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="thumb">
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="/campamento-pop/download?f=descargables/3.pdf"><img src="/static/pop/images/colorear-03-thumb.jpg?1441978639" />
</a>
  </div>
</div>
<div class="col-md-3 col-sm-3">
  <div class="thumb">
    <img src="/static/pop/images/img-descargables-thumbs-lineas-top-fd9d67191f49cc25c4d903d5689383e6ba3c0d84f38f5eecebeff911ce76b22c.png" class="lineas-top" />
    <img src="/static/pop/images/img-descargables-thumbs-lineas-bottom-a41534a3f46672ec22381573de79725f26d758a8196d1d3f197f258c658d9c6b.png" class="lineas-bottom" />
    <a href="/campamento-pop/download?f=descargables/4.pdf"><img src="/static/pop/images/colorear-04-thumb.jpg?1441978751" /></a>
  </div>
</div>

        </div>
      </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
  </div>
</section>



{% endblock %}

 

{% block botomm %} {% endblock %}