{% extends 'base_pop.html' %}
{% block kuppe %}
    <!-- Base MasterSlider style sheet -->
    <link href="/static/pop/caruseles/masterslider/style/masterslider.css" type='text/css' rel="stylesheet"/>
    
    <!-- Master Slider Skin -->
    <link href="/static/pop/caruseles/masterslider/skins/default/style.css" rel='stylesheet' type='text/css'>
     
    <!-- MasterSlider Template Style -->
    <link href='/static/pop/caruseles/productos/style/ms-lightbox.css' rel='stylesheet' type='text/css'>
    <!-- Master Slider -->
    <script src="/static/pop/caruseles/masterslider/masterslider.min.js"></script>
    
    <!-- Prettyphoto Lightbox jQuery Plugin -->
    <link href="/static/pop/caruseles/productos/css/prettyPhoto.css"  rel='stylesheet' type='text/css'/>
    <script src="/static/pop/caruseles/productos/js/jquery.prettyPhoto.js"></script>  

{% endblock %}

{% block content %}
    <div class="container">
      <div class="row barbieCont" style=" margin-bottom:50px;">
        <div class="col-md-1 logoProductos"></div>
        <div class="col-md-10">
          <div class="col-md-12">
                   <!-- template -->
                    <div class="ms-lightbox-template spJuguetesGalery" id="juguetesSlider">
                          <!-- masterslider -->

                          <div class="master-slider ms-skin-default" id="masterslider">
                            {% for t in toys %}
                            <div class="ms-slide">                                
                                  <img class="cambia{{t.pk}}" src="/static/pop/caruseles/masterslider/style/blank.gif" data-src="/static/{{t.imagen}}" alt="Barbie Super Princesa"/>              
                                  <img class="ms-thumb" src="/static/{{t.imagen_car}}" alt="thumb" />
                                  <a href="/static/{{t.imagen}}" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Corinne"> lightbox </a>
                                  <div class="ms-layer video-title spJuguetesTitle" style="right:20px; top:10px; line-height:60px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">{{t.nombre}}</div>
                                  <div class="ms-layer video-title spJuguetesLike" style="right:100px; bottom:100px; line-height:60px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"></div>
                                  {% if request.user.is_staff %}
                                  <div class=" ms-layer ms-layerstar video-title spJuguetesLike"  style="right:100px; top:220px; line-height:60px;background-position:bottom !important;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"><a href="/campamento-pop/likes?t={{t.pk}}" class="likes {% if t.pk in likeds %}likesActive{% endif %}"></a></div>
                                  {% endif %}

                            </div>
                            {% endfor %}
                          </div>
                          <!-- end of masterslider -->
                    </div>
                    <!-- end of template -->
          </div>

          <div class="noDisplayMobile bounce" style="position: absolute;left: -60px;">
                <img src="/static/pop/images/img-barbie-campamento-8faa4179edad1968097a2da4f574ff9886195dcf0f9b265c03de42c08e955e97.png">
            </div>

        </div>


        <div class="col-md-1"></div>
      </div>
    </div>
  <script type="text/javascript">   
  
    var slider = new MasterSlider();

    slider.control('arrows'); 
    slider.control('lightbox'); 
    slider.control('thumblist' , {autohide:false, inset:false, arrows:true ,dir:'h',align:'bottom', width:170, height:170, margin:25, space:20 , hideUnder:400});

    slider.setup('masterslider' , {
      width:750,
      height:700,
      space:100,
      loop:true,
      autoplay: false,
      view:'flow',
      keyboard: true,
      overPause: true
    });
    
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
<!--  Script Marcar boton activo -->
<script>
  $(this).addClass("activeButton");
</script>
<!--  Script Marcar boton activo -->

<!-- Script roll Over  -->
<script>
function  likeadoItem(e){
    e.preventDefault();
    $(this).addClass('likesActive');
  }

$(function() {

 /* Teaser image swap function */
    {% for t in toys %}
    $('.cambia{{t.pk}}').hover(function () {
        this.src = '/static/{{t.imagen_roll}}';
    }, function () {
        this.src = '/static/{{t.imagen}}';
    });
    {% endfor %}

    


});


function liker(e)
{
  e.preventDefault();
  ruta = $(this).attr('href').replace('#','');
  $.ajax({url:ruta,success:function(response){
  }

});

}

$(document).ready(function(){


  $('.likes').click(likeadoItem);

  $('.likes').click(liker);

});


</script>

{% endblock %}

