{% extends 'baseGame_pop.html' %}


{% block content %}


 <script src="/static/pop_site/js/vivebarbie.js"></script>
    <script src="/static/pop_site/js/custom.js"></script>


<style>
.containerGame{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 70px;
    width: 949px;
    height: 598px;
    border: 2px solid #5ccbeb;
    overflow: hidden;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -o-border-radius: 27px;
    box-shadow: 0px 0px 30px 5px rgba(92, 203, 235, 0.3);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(92, 203, 235, 0.3);
    -moz-box-shadow: 0px 0px 30px 5px rgba(92, 203, 235, 0.3);
    -o-box-shadow: 0px 0px 30px 5px rgba(92, 203, 235, 0.3);
}
.iframeCont{
  width: 100%;
  height: 100%;
  margin: 0;
  border:0;
}

</style>

<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <div class="containerGame">
        <iframe scrolling="none" class="iframeCont" src="http://devel.vivebarbie.com/static/pop_site/juegosframe.html"></iframe>
      </div>
  </div>
  <div class="col-md-1"></div>
</div>



{% endblock %}

{% block last_script %}





{% endblock %}

</body>
</html>






