{% extends 'base_pop.html'%}


{% block content %}
  <section id="home" class="home">
      <div class="container-fluid">

        <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-8 col-sm-8">
        <div class="holder responsive-size mx">
          <img src="/static/pop/images/img-home-campamento-con-dbc3dfb5d60c9d59e83b558f869652e258cbe5e3cf66e507a1b2ea9c5fc35272.png" class="campamento" />
          <br>
          <div class="chica responsive-size mx">
            <div class="texto">
              {% ifequal c 'mx' %}
              <a class="img responsive-size mx"  onclick="clickDownload()" href="/campamento-pop/download?f=assets/goto_alcemos_nuestras_voces.mp3"><img src="/static/pop/images/img-home-chica-2-texto-22aba4a52cb3d3071115c72fd290a4a829f7c2f5f852ee87f8378e9d2223d708.png" alt="Img home chica 2 texto 22aba4a52cb3d3071115c72fd290a4a829f7c2f5f852ee87f8378e9d2223d708" /></a>
              {% else %}
              <a class="img responsive-size mx" onclick="clickDownloadLatam()" href="/campamento-pop/download?f=assets/alcemos_nuestras_voces.mp3"><img src="/static/pop/images/latam_home_title.png" alt="Alcemos nuestras voces" /></a>
              {% endifequal %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2"></div>
      </div>

      </div>
  </section>
{% endblock %}