{% extends 'baseGame_pop.html' %}

{% block content %}



    <section id="backstage" class="backstage canciones">
  <div class="container-fluid">
  
    <div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 text-center">
    
<!--      <img src="/static/pop/images/img-proximamente-dec03c89670cb484ac575f885b13f297ccd1b65c60351619f675701548af996b.png" class="img-proximamente-backstage" /> -->

      <div class="tipo-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="btn-tipo">
                <div class="titulo">Canciones</div>
                <div class="tipo-canciones activo"></div>
              </div>
              <img src="/static/pop/images/img-backstage-linea-4435341d0f2d071ee45e48bc480154b39af618f9f19ce3577b4f941a54f78988.png" class="linea" />
              <div class="btn-tipo">
                <div class="titulo">Karaoke</div>
                <a href="/campamento-pop/karaoke"><div class="tipo-karaoke"></div></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="videos-content">
        <div class="videos-holder">
          <div class="player">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <img src="/static/pop/images/img-backstage-canciones-campamento-dbc7a1de4edf0ccb7c36c10d4f40e7090e8292f998c776231bd9d2ca10996e0e.png" class="img" />
                </div>
                <div class="col-md-9 col-sm-9">
                  <div class="titulo">"<span></span>"</div>

                  <div class="control">
                    <img src="/static/pop/images/img-backstage-canciones-ico-prev-55f89354eba328b4754ba0930d78ba9de9ff2ed3458f924bd70b8c387b75bdca.png" class="ico btn-prev" id="prev-video" data-yt="" />
                    <img src="/static/pop/images/img-backstage-canciones-ico-play-2012cf328ac14591e580b37d628549e4fcacb3bba1fbba1872dd4cc2c5124a43.png" class="ico btn-play" onClick='jQuery("#canciones-player").tubeplayer("play");' />
                    <img src="/static/pop/images/img-backstage-canciones-ico-pause-026da5d071ed74d3fc48ed7a49c502888f999ad5bc80ed866b1a1b9c3e53b397.png" class="ico btn-pause" onClick='jQuery("#canciones-player").tubeplayer("pause");' />
                    <img src="/static/pop/images/img-backstage-canciones-ico-next-7f86f2650c55735be201855085beefae25cd0bc7cd02e8bf264b173dbfba8ae2.png" class="ico btn-next" id="next-video" data-yt="" />
                  </div>

                  <div class="progress-holder">
                    <img src="/static/pop/images/img-backstage-canciones-ico-dot-d39553f0f44994272253714d57a24acea63d6b53c3f917f33c81cb045537a7bd.png" class="dot" id="progress-bar-dot" draggable="true" />
                    <div id="progress-bar" class="progress"></div>
                  </div>
                  <div class="a-continuacion" id="a-continuacion">A continuación: "<span></span>"</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="canciones-player" class="canciones-player"></div>

      </div>

      <div class="video-thumbs">                        
        <div class="img-holder active" data-yt="BVfHflR8FN8" data-texto="Show Final" data-id="17">
          <div class="layer-holder">
            <div class="layer">
              <img src="/static/pop/images/img-backstage-canciones-icon-play-3a5d9662e2c5c5e950e343dee6c37dd522a78c0aae92f91509ac63bafe5b7553.png" class="ico-play" />
            </div>
          </div>
          <img src="/static/pop/images/img-backstage-canciones-thumb-7.jpg?1445620744" class="img" />
        </div>
        <div class="img-holder " data-yt="Wd4YfDpxNGo" data-texto="Alcemos Nuestras Voces" data-id="13">
          <div class="layer-holder">
            <div class="layer">
              <img src="/static/pop/images/img-backstage-canciones-icon-play-3a5d9662e2c5c5e950e343dee6c37dd522a78c0aae92f91509ac63bafe5b7553.png" class="ico-play" />
            </div>
          </div>
          <img src="/static/pop/images/img-backstage-canciones-thumb-3.jpg?1445620671" class="img" />
        </div>
        <div class="img-holder " data-yt="-5DWrm1iabc" data-texto="Buscate en la Canción" data-id="14">
          <div class="layer-holder">
            <div class="layer">
              <img src="/static/pop/images/img-backstage-canciones-icon-play-3a5d9662e2c5c5e950e343dee6c37dd522a78c0aae92f91509ac63bafe5b7553.png" class="ico-play" />
            </div>
          </div>
          <img src="/static/pop/images/img-backstage-canciones-thumb-1.jpg?1445620689" class="img" />
        </div>
        <div class="img-holder " data-yt="Vln-dhcVLvY" data-texto="Hacia el Campamento" data-id="15">
          <div class="layer-holder">
            <div class="layer">
              <img src="/static/pop/images/img-backstage-canciones-icon-play-3a5d9662e2c5c5e950e343dee6c37dd522a78c0aae92f91509ac63bafe5b7553.png" class="ico-play" />
            </div>
          </div>
          <img src="/static/pop/images/img-backstage-canciones-thumb-2.jpg?1445620709" class="img" />
        </div>
        <div class="img-holder " data-yt="7p6HhQDR4sE" data-texto="Poder Soñar" data-id="16">
          <div class="layer-holder">
            <div class="layer">
              <img src="/static/pop/images/img-backstage-canciones-icon-play-3a5d9662e2c5c5e950e343dee6c37dd522a78c0aae92f91509ac63bafe5b7553.png" class="ico-play" />
            </div>
          </div>
          <img src="/static/pop/images/img-backstage-canciones-thumb-4.jpg?1445620723" class="img" />
        </div>
        <div class="img-holder " data-yt="CmZdxpKq9Ac" data-texto="Siendo Princesa" data-id="18">
          <div class="layer-holder">
            <div class="layer">
              <img src="/static/pop/images/img-backstage-canciones-icon-play-3a5d9662e2c5c5e950e343dee6c37dd522a78c0aae92f91509ac63bafe5b7553.png" class="ico-play" />
            </div>
          </div>
          <img src="/static/pop/images/img-backstage-canciones-thumb-6.jpg?1445620869" class="img" />
        </div>
        <div class="img-holder " data-yt="Cn2uwRHhv8g" data-texto="Voy a brillar Reprise" data-id="19">
          <div class="layer-holder">
            <div class="layer">
              <img src="/static/pop/images/img-backstage-canciones-icon-play-3a5d9662e2c5c5e950e343dee6c37dd522a78c0aae92f91509ac63bafe5b7553.png" class="ico-play" />
            </div>
          </div>
          <img src="/static/pop/images/img-backstage-canciones-thumb-5.jpg?1445620852" class="img" />
        </div>
        <div class="img-holder " data-yt="HcZD0UjXktQ" data-texto="Voy a brillar" data-id="20">
          <div class="layer-holder">
            <div class="layer">
              <img src="/static/pop/images/img-backstage-canciones-icon-play-3a5d9662e2c5c5e950e343dee6c37dd522a78c0aae92f91509ac63bafe5b7553.png" class="ico-play" />
            </div>
          </div>
          <img src="/static/pop/images/img-backstage-canciones-thumb-8.jpg?1445620836" class="img" />
        </div>
      </div>
      
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

  </div>
</section>


{% endblock %}


{% block botomm %}





 <script type="text/javascript">


countries = ['mx','pe','col','chi','latam','cr','ecu','pan'];
analisame = {'mx':'UA-65856312-4',
             'col':'UA-65856312-5',
             'chi':'UA-65856312-6',
             'pe':'UA-65856312-7',
             'latam':'UA-65856312-8'
           }

host_name = window.location.host.split('.');
if((countries.indexOf(host_name[0]))>-1)
{
  
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create',analisame[host_name[0]], 'auto');
  ga('send', 'pageview');

}


</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/pop_site/js/bootstrap.min.js"></script>
    <script src="/static/pop_site/js/jQuery.tubeplayer.min.js"></script>
    <script src="/static/pop_site/js/jquery.bxslider.min.js"></script>
    <script src="/static/pop_site/js/jquery.easing.1.3.js"></script>
    <script src="/static/pop_site/js/jwplayerCustom.js"></script>
    <script src="/static/pop_site/js/vivebarbie.js"></script>
    <script src="/static/pop_site/js/custom.js"></script>



        <script type="text/javascript">
  $(document).ready(function(){
    var v = $('.backstage.canciones .video-thumbs .img-holder:nth-child(1)').attr("data-yt");
    var t = $('.backstage.canciones .video-thumbs .img-holder:nth-child(1)').attr("data-texto");
    $(".backstage.canciones .videos-content .videos-holder .player .titulo span").html(t);
    var t = $('.backstage.canciones .video-thumbs .img-holder:nth-child(2)').attr("data-texto");
    $(".backstage.canciones .videos-content .videos-holder .player #a-continuacion span").html(t);
    playVideo(v, false);


    $('.btn-backstage').addClass('active');
  });
  </script>

{% endblock %}