{% extends 'baseGame_pop.html' %}

{% block content %}



  <section id="backstage" class="backstage karaoke">
  <div class="container-fluid">
    
    <div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 text-center">
      <div class="tipo-top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="btn-tipo">
                <div class="titulo">Canciones</div>
                <a href="/campamento-pop/backstage"><div class="tipo-canciones"></div></a>
              </div>
              <img src="../static/pop_site/images/img-backstage-linea-4435341d0f2d071ee45e48bc480154b39af618f9f19ce3577b4f941a54f78988.png" class="linea" />
              <div class="btn-tipo">
                <div class="titulo">Karaoke</div>
                <div class="tipo-karaoke activo"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="videos-content">
        <div class="videos-holder">
          <div id="jwplayer"></div>
        </div>
      </div>

      <div class="video-thumbs">
        <div class="img-holder active" data-yt="IrAX9GzSOMk">
          <div class="layer-holder">
            <div class="layer">ACA
              <img src="../static/pop_site/images/img-backstage-karaoke-ico-play-f03fd254ee2128453033187e2d83624419953865b30593c2a532a89a8395977b.png" class="ico-play" />
            </div>
          </div>
          <img src="../static/pop_site/images/img-backstage-karaoke-thumb-3.jpg?1445619974" class="img" />
        </div>
        <div class="img-holder " data-yt="i4SczlcT_ag">
          <div class="layer-holder">
            <div class="layer">
              <img src="../static/pop_site/images/img-backstage-karaoke-ico-play-f03fd254ee2128453033187e2d83624419953865b30593c2a532a89a8395977b.png" class="ico-play" />
            </div>
          </div>
          <img src="../static/pop_site/images/img-backstage-karaoke-thumb-1.jpg?1445620023" class="img" />
        </div>
        <div class="img-holder " data-yt="aLQTOq6dlvE">
          <div class="layer-holder">
            <div class="layer">
              <img src="../static/pop_site/images/img-backstage-karaoke-ico-play-f03fd254ee2128453033187e2d83624419953865b30593c2a532a89a8395977b.png" class="ico-play" />
            </div>
          </div>
          <img src="../static/pop_site/images/img-backstage-karaoke-alcemos.jpg?1445620364" class="img" />
        </div>
        <div class="img-holder " data-yt="A-65vd49mVE">
          <div class="layer-holder">
            <div class="layer">
              <img src="../static/pop_site/images/img-backstage-karaoke-ico-play-f03fd254ee2128453033187e2d83624419953865b30593c2a532a89a8395977b.png" class="ico-play" />
            </div>
          </div>
          <img src="../static/pop_site/images/img-backstage-karaoke-show.jpg?1445620522" class="img" />
        </div>
        <div class="img-holder " data-yt="lszPKoP2hgY">
          <div class="layer-holder">
            <div class="layer">
              <img src="../static/pop_site/images/img-backstage-karaoke-ico-play-f03fd254ee2128453033187e2d83624419953865b30593c2a532a89a8395977b.png" class="ico-play" />
            </div>
          </div>
          <img src="../static/pop_site/images/img-backstage-karaoke-hacia.jpg?1445620647" class="img" />
        </div>
      </div>               
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

  </div>
</section>

{% endblock %}


{% block botomm %}





 <script type="text/javascript">


countries = ['mx','pe','col','chi','latam','cr','ecu','pan'];
analisame = {'mx':'UA-65856312-4',
             'col':'UA-65856312-5',
             'chi':'UA-65856312-6',
             'pe':'UA-65856312-7',
             'latam':'UA-65856312-8'
           }

host_name = window.location.host.split('.');
if((countries.indexOf(host_name[0]))>-1)
{
  
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create',analisame[host_name[0]], 'auto');
  ga('send', 'pageview');

}


</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/pop_site/js/bootstrap.min.js"></script>
    <script src="/static/pop_site/js/jQuery.tubeplayer.min.js"></script>
    <script src="/static/pop_site/js/jquery.bxslider.min.js"></script>
    <script src="/static/pop_site/js/jquery.easing.1.3.js"></script>
    <script src="/static/pop_site/js/jwplayerCustom.js"></script>
    <script src="/static/pop_site/js/vivebarbie.js"></script>
    <script src="/static/pop_site/js/custom.js"></script>



<script type="text/javascript">
    jwplayer.key="ydl6TmvwwEUmsjNKiGiy+5oK/ZydFlzHXWARtg==";
    $(document).ready(function() {
        var v = $('.backstage.karaoke .video-thumbs .img-holder:nth-child(1)').attr("data-yt");

        jwplayer("jwplayer").setup({
            file: "http://www.youtube.com/watch?v="+v,
            width: "100%",
            height: "100%",
            skin : {
                name:"five"
            },
            stretching: "exactfit",
            'controlbar.idlehide': false,
            'youtube.quality': "high"
        });


        $('.btn-backstage').addClass('active');
    });
  </script>

{% endblock %}