{% extends 'base_pop.html' %}

{% block content %}
    <section id="registro" class="videos">
  <div class="container-fluid">
  
    <div class="row">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col-md-10 col-sm-10 text-center">
    <div class="videos-content">
      <div class="videos-holder">
        <img src="/static/pop/images/img-player-estrella-l-91e1a2c858dd3782a67c686e9c67a995f2ec8b8185b599ac432e18219b6a204c.png" class="estrella-l" />
        <img src="/static/pop/images/img-player-estrella-r-fa3c16899a52c563f92fa2a823e459a4e5ed21f390a72e4d4f1db766db1b7d20.png" class="estrella-r" />
        <div id="jwplayer"></div>
        <script type="text/javascript">
          var CALLBACK_VIDEO_URL = 'videos.html/:id/register.json';
        </script>
      </div>
    </div>

    <div id="congratulations_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <h2>Felicitaciones!</h2>
          <p>Sumaste 100 por ver VIDEO MUSICAL - “ALCEMOS NUESTRAS VOCES”</p>
        </div>
      </div>
    </div>

    <div class="video-thumbs">
      <div class="container-fluid">
        <div class="col-md-3 col-sm-3">
  <div class="img-holder">
    <img src="/static/pop/images/img-player-thumb-ico-play-e7598a5c8e3a343ea16a755f35e1c328f9676389b500fb59dfd97617ee34d0bf.png" class="ico-play">
    <img src="/static/pop/images/img-player-thumb-top-e3d200cf1e240a5c4c33b174ee2859f73f0c16a49da58d495af5250b1b9014de.png" class="top">
    <img data-video-id="4" data-yt="_qJoYgncdFM" src="/static/pop/images/img-player-thumb-1.jpg?1441760686" class="img" />
    <img src="/static/pop/images/img-player-thumb-bottom-d142669813ac102a9119abd41856dafd58d80be7dcc9da453be2a5a113ede863.png" class="bottom">
  </div>
  <div class="texto">VIDEO MUSICAL - “ALCEMOS NUESTRAS VOCES”</div>
</div><div class="col-md-3 col-sm-3">
  <div class="img-holder">
    <img src="/static/pop/images/img-player-thumb-ico-play-e7598a5c8e3a343ea16a755f35e1c328f9676389b500fb59dfd97617ee34d0bf.png" class="ico-play">
    <img src="/static/pop/images/img-player-thumb-top-e3d200cf1e240a5c4c33b174ee2859f73f0c16a49da58d495af5250b1b9014de.png" class="top">
    <img data-video-id="5" data-yt="SXDX-S-9Yt0" src="/static/pop/images/img-player-thumb-2.jpg?1441760750" class="img" />
    <img src="/static/pop/images/img-player-thumb-bottom-d142669813ac102a9119abd41856dafd58d80be7dcc9da453be2a5a113ede863.png" class="bottom">
  </div>
  <div class="texto">Video musical - &quot;VOY A BRILLAR&quot; (remix)</div>
</div><div class="col-md-3 col-sm-3">
  <div class="img-holder">
    <img src="/static/pop/images/img-player-thumb-ico-play-e7598a5c8e3a343ea16a755f35e1c328f9676389b500fb59dfd97617ee34d0bf.png" class="ico-play">
    <img src="/static/pop/images/img-player-thumb-top-e3d200cf1e240a5c4c33b174ee2859f73f0c16a49da58d495af5250b1b9014de.png" class="top">
    <img data-video-id="6" data-yt="zyes8ytR1XY" src="/static/pop/images/img-player-thumb-3.jpg?1441760842" class="img" />
    <img src="/static/pop/images/img-player-thumb-bottom-d142669813ac102a9119abd41856dafd58d80be7dcc9da453be2a5a113ede863.png" class="bottom">
  </div>
  <div class="texto">“TRAILER OFICIAL”</div>
</div><div class="col-md-3 col-sm-3">
  <div class="img-holder">
    <img src="/static/pop/images/img-player-thumb-ico-play-e7598a5c8e3a343ea16a755f35e1c328f9676389b500fb59dfd97617ee34d0bf.png" class="ico-play">
    <img src="/static/pop/images/img-player-thumb-top-e3d200cf1e240a5c4c33b174ee2859f73f0c16a49da58d495af5250b1b9014de.png" class="top">
    <img data-video-id="7" data-yt="Yxh6owOu3_0" src="/static/pop/images/img-player-thumb-4.jpg?1441760885" class="img" />
    <img src="/static/pop/images/img-player-thumb-bottom-d142669813ac102a9119abd41856dafd58d80be7dcc9da453be2a5a113ede863.png" class="bottom">
  </div>
  <div class="texto">“CAMPAMENTO POP”</div>
</div>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>

  </div>
</section>



{% endblock %}


{% block botomm %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/pop/js/bootstrap.min.js"></script>
    <script src="/static/pop/js/jQuery.tubeplayer.min.js"></script>
    <script src="/static/pop/js/jquery.bxslider.min.js"></script>
    <script src="/static/pop/js/jquery.easing.1.3.js"></script>
    <script src="/static/pop/js/jwplayerCustom.js"></script>
    <script src="/static/pop/js/vivebarbie.js"></script>
    <script src="/static/pop/js/custom.js"></script>


        <script type="text/javascript">
        jwplayer.key="ydl6TmvwwEUmsjNKiGiy+5oK/ZydFlzHXWARtg==";
    /*jwplayer.key="iHUkoN8wFGp2elPICBhKPmYWM347BJBcbxlriQ==";*/
    initialize_player(4, '_qJoYgncdFM');
  </script>

{% endblock %}