{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/vivebarbie/favicon.ico">
    <title>{{titulo}}</title>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos Vive Barbie -->
    <link href="/static/vivebarbie/css/generales.css" rel="stylesheet">  <!-- Estilos Generales del sitio -->
    <link href="/static/superprincesas/css/princesas-style.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{% static "js/site.js"%}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sender').submit(sendit);
            $('.sender').focus(function(){
                $('.err').remove();
            });
        });

    </script>
<style>
.foto{width:106px;height:106px;border:4px solid #d94189;margin:auto;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%}

.nombre_p{font-family:'league_gothicregular', sans-serif;font-size:30px;color:#fff;text-transform:uppercase;

background: rgba(0, 0, 0, 0) url("/static/barbiepass/cube.png") no-repeat scroll left top;
    color: #fff;
    font-family: "league_gothicregular",sans-serif;
    font-size: 25px;
    height: 39px;
    line-height: 42px;
    margin-top: -13px;
    text-align: center;
    text-transform: uppercase;
    width: 116px;
    /*cursor: pointer;*/
}

.nombre_p:hover{
  background: rgba(0, 0, 0, 0) url("/static/barbiepass/cube.png") no-repeat scroll left bottom;
  color:#d94189;

}

.forma{
   background-position: left top;
    /*cursor: pointer;*/
    display: inline-block;
    height: 95px;
    position: relative;
    vertical-align: top;
    width: 97px;

}

.forma:hover{
background-position: left bottom;

}

.activated{
  background-position: left bottom;
  color:#d94189;
}

.contrasena-selector{
  display: inline-block;
  cursor: pointer;
}

</style>

        {% block kuppe %}{% endblock %}

    </head>
    <body>


    {% include "main_bar.html" %}


    <div class="container" style="margin-top: 80px;">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="menuTitle"><a href="/super-princesas/" id="btninicio"><img style=" width: 100%;height: auto;margin-top: 12px;" src="/static/superprincesas/images/generales/btn01.png"></a></li>
              <li class="menuTitle"><a href="/super-princesas/juguetes/"id="btnjuguetes"><img style=" width: 100%;height: auto;margin-top: 12px;" src="/static/superprincesas/images/generales/btn02.png"></a></li>
              <li class="menuTitle"><a href="/super-princesas/videos/"id="btnvideos"><img style=" width: 100%;height: auto;margin-top: 12px;" src="/static/superprincesas/images/generales/btn03.png"></a></li>
              <li class="menuTitle"><a href="/super-princesas/descargas/"id="btndescargas"><img style=" width: 100%;height: auto;margin-top: 12px;" src="/static/superprincesas/images/generales/btn04.png"></a></li>
            </ul>
          </div><!--/.nav-collapse -->
      </nav>
    </div>

        {% block content %}{% endblock %}
        <!-- Footer -->
      <footer class="footer" id="footerHBarbie">
        <div class="footerBgTexture"></div>
        <div class="footerBtns"><a href="/static/politicas-de-privacidad.html" target="_blank">Políticas de privacidad</a><!--<div class="footerBtnsSpace"> </div>
         <a href="/static/terminos-y-condiciones.html" target="_blank">Términos y condiciones</a>--></div>
        <div class="footerLegal">
          © 2015 Mattel Inc. Todos los derechos reservados. <br>
          Cualquier duda o sugerencia favor de comunicarse al 01 800 5 BARBIE (227243) de lunes a viernes de 10 a.m. a 3 p.m. y de 4 p.m. a 6 p.m. Sábados de 10 a.m. a 2 p.m.</div>


        <!--  animaciones princesas  -->
        <script src="/static/superprincesas/js/animation.js"></script>
        <!-- animaciones princesas -->
                <!--  animaciones Generales  -->
         <script src="/static/vivebarbie/generales/js/animation.js"></script>
        <!-- animaciones Generales -->

        
      </footer>
      <!-- Bootstrap core JavaScript
      ================================================== -->

      <script src="/static/js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="/static/js/ie10-viewport-bug-workaround.js"></script>



              {% block last_script %}
              {% endblock %}



    </body>
</html>




