{% extends 'base_perritos.html' %}
{% block content %}
    <div class="container">
      <div class="row barbieCont">
        <div class="col-md-12">
          <div class="col-md-12 itemsTitleBar1">
            <div class="itemsTitle">Brazaletes
              <div class="itemsPerrito1"></div>
            </div>
          </div>
          {% for d in downs.br %}
          <div class="col-md-3">
            <div class="col-md-12 itemDownloads" style="background:url('/static/{{d.preview}}'); background-position:center center;">
                <a href="/static/{{d.imagen}}" download="{{d.imagen}}" target="_blank">
                  <div class="itemDownloadInfo">
                    <p>!DESCARGA¡</p>
                  </div>
                </a>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="col-md-12">
          <div class="col-md-12 itemsTitleBar2">
            <div class="itemsTitle">Dibujos para colorear
              <div class="itemsPerrito1"></div>
            </div>
          </div>
          {% for c in downs.cr %}
          <div class="col-md-3">
            <div class="col-md-12 itemDownloads" style="background:url('/static/{{c.preview}}'); background-position:center center;">
                <a href="/static/{{c.imagen}}" download="{{c.imagen}}" target="_blank">
                  <div class="itemDownloadInfo">
                    <p>!DESCARGA¡</p>
                  </div>
                </a>
            </div>
          </div>
          {% endfor %}

        </div>

        <div class="col-md-12">
          <div class="col-md-12 itemsTitleBar3">
            <div class="itemsTitle">Wallpapers
              <div class="itemsPerrito1"></div>
            </div>
          </div>
          {% for w in downs.w %}
                    <div class="col-md-3">
            <div class="col-md-12 itemDownloads" style="background:url('/static/{{w.preview}}'); background-position:center center;">
                <a href="/static/{{w.imagen}}" download="{{w.imagen}}" target="_blank">
                  <div class="itemDownloadInfo">
                    <p>!DESCARGA¡</p>
                  </div>
                </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  {% endblock %}