{% extends 'base_perritos.html' %}
{% block kuppe %}
    <!-- Base MasterSlider style sheet -->
    <link rel="stylesheet" href="/static/masterslider/style/masterslider.css" />
    <!-- Master Slider Skin -->
    <link href="/static/masterslider/skins/light-6/style.css" rel='stylesheet' type='text/css'>
    <!-- MasterSlider Template Style -->
    <link href='/static/masterslider/style/ms-showcase1.css' rel='stylesheet' type='text/css'>
    <!-- Master Slider -->
    <script src="/static/masterslider/masterslider.min.js"></script>

<!-- MasterSlider Template Style -->
<link href='/static/masterslider/style/ms-lightbox.css' rel='stylesheet' type='text/css'>
<!-- Prettyphoto Lightbox jQuery Plugin -->
<link href="/static/masterslider/css/prettyPhoto.css"  rel='stylesheet' type='text/css'/>
<script src="/static/masterslider/js/jquery.prettyPhoto.js"></script>

{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row barbieCont">

<div class="master-slider ms-skin-default" id="videoSlider">

      <!-- new slide -->
      <div class="ms-slide slide-7" data-delay="6">
          <img src="/static/masterslider/blank.gif" alt="" data-src="/static/masterslider/img/video/video-bg.jpg">
          <img class="ms-thumb" src="/static/masterslider/img/thumbs/btnVideoOut.png" alt="thumb" /> 
          <!-- slide background -->

      <a href="//www.youtube.com/embed/Zr2JST5UkfE" data-type="video">Barbie</a>
      
      <h3 class="ms-layer hps-title1"
        style="left: 50px; top: 460px;"
        data-type="text"
        data-duration="1400"
        data-ease="easeOutExpo"
        data-effect="rotate3dtop(90,0,0,80)"
      >
        TRAILES DE LA PELICULA
      </h3>
      
      <h3 class="ms-layer hps-title2"
        style="left: 50px;top: 485px;"
        data-type="text"
        data-duration="1800"
        data-delay="140"
        data-ease="easeOutExpo"
        data-effect="bottom(40)"
      >
        Ver Pelicula completa >
      </h3>
      
      <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
        <source id="mp4" src="/static/masterslider/assets/video/video.mp4" type="video/mp4"/>
        <source id="webm" src="/static/masterslider/assets/video/video.webm" type="video/webm"/>
        <source id="ogv" src="/static/masterslider/assets/video/video.ogv" type="video/ogg"/>
      </video>

      </div>
      <!-- end of slide -->


      <!-- new slide -->
      <div class="ms-slide slide-7" data-delay="6">
          <img src="/static/masterslider/blank.gif" alt="" data-src="/static/masterslider/img/video/video-bg.jpg">
          <img class="ms-thumb" src="/static/masterslider/img/thumbs/btnVideoOut.png" alt="thumb" /> 
          <!-- slide background -->

      <a href="//www.youtube.com/embed/Zr2JST5UkfE" data-type="video">Barbie</a>
      
      <h3 class="ms-layer hps-title1"
        style="left: 50px; top: 460px;"
        data-type="text"
        data-duration="1400"
        data-ease="easeOutExpo"
        data-effect="rotate3dtop(90,0,0,80)"
      >
        TRAILES DE LA PELICULA
      </h3>
      
      <h3 class="ms-layer hps-title2"
        style="left: 50px;top: 485px;"
        data-type="text"
        data-duration="1800"
        data-delay="140"
        data-ease="easeOutExpo"
        data-effect="bottom(40)"
      >
        Ver Pelicula completa >
      </h3>
      
      <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
        <source id="mp4" src="/static/masterslider/assets/video/video.mp4" type="video/mp4"/>
        <source id="webm" src="/static/masterslider/assets/video/video.webm" type="video/webm"/>
        <source id="ogv" src="/static/masterslider/assets/video/video.ogv" type="video/ogg"/>
      </video>

      </div>
      <!-- end of slide -->
      
</div>
  
  <script type="text/javascript">   
      var slider = new MasterSlider();

      // adds Arrows navigation control to the slider.
      slider.control('arrows');
     // slider.control('timebar' , {insertTo:'#videoSlider'});
      slider.control('thumblist' , {autohide:false ,dir:'h',arrows:false, align:'bottom', width:233, height:185, margin:5, space:5});
      slider.control('circletimer' , {color:"#FFDD00" , stroke:20});

       slider.setup('videoSlider' , {
           width:1400,    // slider standard width
           height:580,   // slider standard height
           space:1,
           layout:'fullwidth',
           loop:true,
           preload:0,
           instantStartLayers:true,
           autoplay:true,
            fullwidth:true,
            view:"basic"
      });

  </script>

{% endblock %}


