{% extends 'base_princesas.html' %}
{% block kuppe %}
    <!-- Base MasterSlider style sheet -->
    <link rel="stylesheet" href="/static/superprincesas/caruseles/masterslider/style/masterslider.css" />
    <link rel="stylesheet" href="/static/superprincesas/caruseles/videoMobile.css" />
    <!-- Master Slider Skin -->
    <link href="/static/superprincesas/caruseles/masterslider/skins/default/style.css" rel='stylesheet' type='text/css'>
    <!-- MasterSlider Template Style -->
    <link href='/static/superprincesas/caruseles/videogallery/style/ms-videogallery.css' rel='stylesheet' type='text/css'>
    <!-- Master Slider -->
    <script src="/static/superprincesas/caruseles/masterslider/masterslider.min.js"></script>
              <style>
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

          </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row barbieCont">

        <div class="col-md-12 videosMobile">

            <div class="video-container">
                     <iframe src="http://www.youtube.com/embed/q3JxbAVumT0" frameborder="0" width="560" height="315"></iframe>
            </div>
            <div class="col-md-12 spvideosGalleryMobileCont">
                <div class="spvideosGalleryMobile bBounce" onClick="video01()"><img src="/static/superprincesas/images/videos/thumbs/trailer.jpg" alt="TRAILER"><br>Trailer</div>
                <div class="spvideosGalleryMobile bBounce" onClick="video02()"><img src="/static/superprincesas/images/videos/thumbs/salvar.jpg" alt="video thumb"><br>Juguetes</div>
            </div>
                      <script>
                                function video01(){
                                  $(".video-container").html('<iframe src="http://www.youtube.com/embed/q3JxbAVumT0" frameborder="0" width="560" height="315"></iframe>');
                                }
                                function video02(){
                                  $(".video-container").html('<iframe src="http://www.youtube.com/embed/UZnSvqXapjg" frameborder="0" width="560" height="315"></iframe>');
                                }
                      </script>
            <div class="col-md-12" style="margin-bottom:10px;"></div>
        </div>

      <!--  Carusel videos  -->
      <div class="master-slider ms-skin-default spvideosGallery" id="videoSlider">
                <!-- new slide -->
                <div class="ms-slide" data-fill-mode="fit" data-delay="5">
                  <img src="/static/superprincesas/caruseles/masterslider/style/blank.gif" data-src="/static/superprincesas/images/videos/trailer.png" alt="lorem ipsum dolor sit"/>
                <div class="ms-thumb bounce">  <img src="/static/superprincesas/images/videos/thumbs/trailer.jpg" alt="video thumb"  />
                  <h3>Trailer</h3>
                </div>
                <div class="ms-layer video-title" style="left:50px; bottom:50px; font-size:25px; color:#fff; text-shadow: 2px 2px 2px #666;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="100">Barbie Súper Princesa - Trailer Oficial</div>
                <a data-type="video" href="https://www.youtube.com/embed/q3JxbAVumT0"> </a>
                    <!-- slide background video -->
                    <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
                        <source id="mp4" src="/static/superprincesas/videos/trailer.mp4" type="video/mp4"/>
                        <source id="ogv" src="/static/superprincesas/videos/trailer.ogv" type="video/ogg"/>
                    </video>
               </div>
                <!-- end of slide --> 
                <!-- new slide -->
                <div class="ms-slide" data-fill-mode="fit" data-delay="5">
                  <img src="/static/superprincesas/caruseles/masterslider/style/blank.gif" data-src="/static/superprincesas/images/videos/salvar.png" alt="lorem ipsum dolor sit"/>
                <div class="ms-thumb bounce">
                  <img src="/static/superprincesas/images/videos/thumbs/salvar.jpg" alt="video thumb"  />
                  <h3>Juguetes</h3>
                </div>
                <div class="ms-layer video-title" style="left:50px; bottom:50px; font-size:25px; color:#fff; text-shadow: 2px 2px 2px #666;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="100">Barbie Súper Princesa - Juguetes</div>
                <a data-type="video" href="https://www.youtube.com/embed/UZnSvqXapjg"> </a>
                    <!-- slide background video -->
                    <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
                        <source id="mp4" src="/static/superprincesas/videos/salvar.mp4" type="video/mp4"/>
                        <source id="ogv" src="/static/superprincesas/videos/salvar.ogv" type="video/ogg"/>
                    </video>
               </div>
                <!-- end of slide --> 
      </div>
      <!--  Carusel videos  -->
  
  <script type="text/javascript">   
      var slider = new MasterSlider();

      // adds Arrows navigation control to the slider.
      slider.control('thumblist' , {autohide:false ,dir:'h',arrows:false, align:'bottom', width:167, height:150, margin:40, space:25});
     // slider.control('circletimer' , {color:"#00b0cc" , stroke:30});
     // slider.control('arrows');
     // slider.control('timebar' , {insertTo:'#videoSlider'});
     //slider.control('bullets');

       slider.setup('videoSlider' , {
          width:1400, 
          height:580,
          space:100,
          layout:'fullwidth',
          loop:true,
          preload:1,
          instantStartLayers:true,
          autoplay:true,
          fullwidth:true,
          view:"basic",
          overPause: false,
      });

  </script>
<!--  Script Marcar boton activo -->
<script>
  $("#btnvideos").addClass("activeButton");
</script>
<!--  Script Marcar boton activo -->
{% endblock %}


