{% extends 'base_princesas.html' %}
{% block kuppe %}
    <!-- Base MasterSlider style sheet -->
    <link href="/static/superprincesas/caruseles/masterslider/style/masterslider.css" type='text/css' rel="stylesheet"/>
    
    <!-- Master Slider Skin -->
    <link href="/static/superprincesas/caruseles/masterslider/skins/default/style.css" rel='stylesheet' type='text/css'>
     
    <!-- MasterSlider Template Style -->
    <link href='/static/superprincesas/caruseles/productos/style/ms-lightbox.css' rel='stylesheet' type='text/css'>
    <!-- Master Slider -->
    <script src="/static/superprincesas/caruseles/masterslider/masterslider.min.js"></script>
    
    <!-- Prettyphoto Lightbox jQuery Plugin -->
    <link href="/static/superprincesas/caruseles/productos/css/prettyPhoto.css"  rel='stylesheet' type='text/css'/>
    <script src="/static/superprincesas/caruseles/productos/js/jquery.prettyPhoto.js"></script>  

{% endblock %}

{% block content %}
    <div class="container">
      <div class="row barbieCont" style=" margin-bottom:50px;">
        <div class="col-md-1 logoProductos"></div>
        <div class="col-md-10">
          <div class="col-md-12">
                   <!-- template -->
                    <div class="ms-lightbox-template spJuguetesGalery" id="juguetesSlider">
                          <!-- masterslider -->

                          <div class="master-slider ms-skin-default" id="masterslider">
                              {% for t in toys %}
                         
                                  
                              <div class="ms-slide">
                                  <img class="cambia{{t.codigo}}" src="/static/superprincesas/caruseles/masterslider/style/blank.gif" data-src="/static/{{t.imagen}}" alt="Barbie Super Princesa"/>  
                                  <img class="ms-thumb" src="/static/{{t.imagen_car}}" alt="thumb" />
                                  <a href="/static/{{t.imagen_big}}" class="ms-lightbox" rel="prettyPhoto[gallery1]" title="Lara"> lightbox </a>
                                  <div class="ms-layer video-title spJuguetesTitle" style="left:100px; top:180px; line-height:60px;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0">{{t.nombre}}</div>
                                  


                                  {% if request.user.is_staff %}
                                          
                                  <div class=" ms-layer ms-layerstar video-title spJuguetesLike"  style="right:100px; bottom:100px; line-height:60px;background-position:bottom !important;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="0"><a href="/super-princesas/likes?t={{t.pk}}" class="likes {% if t.pk in likeds %}likesActive{% endif %}"></a></div>
                                  {% else %}

                                  {% endif %}

                              </div>

                              {% endfor %}

                          </div>
                          <!-- end of masterslider -->
                    </div>
                    <!-- end of template -->
          </div>

          <div class="noDisplayMobile bounce" style="position: absolute;left: -60px;">
                <img src="/static/superprincesas/images/generales/logomedium.png">
            </div>

        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  <script type="text/javascript">   
  
    var slider = new MasterSlider();

    slider.control('arrows'); 
    slider.control('lightbox'); 
    slider.control('thumblist' , {autohide:false, inset:false, arrows:true ,dir:'h',align:'bottom', width:170, height:170, margin:25, space:20 , hideUnder:400});

    slider.setup('masterslider' , {
      width:750,
      height:500,
      space:100,
      loop:true,
      autoplay: false,
      view:'flow',
      keyboard: true,
      overPause: true
    });
    
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
<!--  Script Marcar boton activo -->
<script>
  $(this).addClass("activeButton");
</script>
<!--  Script Marcar boton activo -->

<!-- Script roll Over  -->
<script>
function  likeadoItem(e){
    e.preventDefault();
    $(this).addClass('likesActive');
  }

$(function() {

 /* Teaser image swap function */
    $('.cambia01').hover(function () {
        this.src = '/static/{{toys.0.imagen_roll}}';
    }, function () {
        this.src = '/static/{{toys.0.imagen}}';
    });

    $('.cambia02').hover(function () {
        this.src = '/static/{{toys.1.imagen_roll}}';
    }, function () {
        this.src = '/static/{{toys.1.imagen}}';
    });
    $('.cambia03xxx').hover(function () {
        this.src = '/static/superprincesas/images/juguetes/principal/03a.png';
    }, function () {
        this.src = '/static/superprincesas/images/juguetes/principal/03.png';
    });
    $('.cambia04').hover(function () {
        this.src = '/static/superprincesas/images/juguetes/principal/04a.png';
    }, function () {
        this.src = '/static/superprincesas/images/juguetes/principal/04.png';
    });
    $('.cambia05').hover(function () {
        this.src = '/static/superprincesas/images/juguetes/principal/05a.png';
    }, function () {
        this.src = '/static/superprincesas/images/juguetes/principal/05.png';
    });
    $('.cambia06').hover(function () {
        this.src = '/static/superprincesas/images/juguetes/principal/06a.png';
    }, function () {
        this.src = '/static/superprincesas/images/juguetes/principal/06.png';
    });

});


function liker(e)
{
  e.preventDefault();
  ruta = $(this).attr('href').replace('#','');
  $.ajax({url:ruta,success:function(response){

    aax = 0;
  }

});

}

$(document).ready(function(){

  $("#btnjuguetes").addClass("activeButton");
  $('.likes').click(likeadoItem);

  $('.likes').click(liker);

});


</script>

{% endblock %}


