{% extends 'base_princesasHome.html'%}

{% block content %}



    <div class="container-fluid">
      <div class="row" id="">
        <div class="col-md-12 margintopSpHome"></div>
      	<div class="col-md12 homeCharacters bounce">
      		<div class="col-md-12 homeChar">
                <img src="/static/superprincesas/images/home/homePrincesa.png">
      		</div>
      	</div>
      </div>
    </div>
<!--  Script Marcar boton activo -->
<script>
  $("#btninicio").addClass("activeButton");
</script>

<!--  Script Marcar boton activo -->
{% endblock %}
