{% extends 'base_princesas.html' %}
{% block content %}
    <div class="container">
      <div class="row barbieCont">
        <div class="col-md-12" id="descargasContainer">
          <div class="col-md-12 centerText">
            <div class="col-md-3 centerText imgW100 imgMW200 bounce"><img src="/static/superprincesas/images/generales/logomedium.png"></div>
            <div class="col-md-6 centerText imgMW200 bounce"><img src="/static/superprincesas/images/descargas/head.png"></div>
            <div class="col-md-3 centerText"></div>
          </div>
          
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="col-md-12">
                <div class="itemContainer">
                  <div class="itemBg">
                    <img src="/static/superprincesas/images/descargas/descargableBg01.png">
                  </div>
                  <div class="itemTitle"  id="itemTilte01">
                    <a href="/super-princesas/download?f=descargas/antifaz.pdf"><img src="/static/superprincesas/images/descargas/descargableTitle01.png"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="itemContainer">
                  <div class="itemBg">
                    <img src="/static/superprincesas/images/descargas/descargableBg02.png">
                  </div>
                  <div class="itemTitle"  id="itemTilte01">
                    <a href="/super-princesas/download?f=descargas/comic.pdf"><img src="/static/superprincesas/images/descargas/descargableTitle02.png"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="itemContainer">
                  <div class="itemBg">
                    <img src="/static/superprincesas/images/descargas/descargableBg03.png">
                  </div>
                  <div class="itemTitle"  id="itemTilte01">
                    <a href="/super-princesas/download?f=descargas/wallpaper.jpg"><img src="/static/superprincesas/images/descargas/descargableTitle03.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
          <div class="col-md-12 minH35"></div>

        </div>

      </div>
    </div>
<!--  Script Marcar boton activo -->
<script>
  $("#btndescargas").addClass("activeButton");
</script>
<!--  Script Marcar boton activo -->
  {% endblock %}