			<div id="pincipalProduct" class="imagenProductos">
              <img src="/static/{{toys.imagen}}">
                <div class="col-md-12 infoProd">
                   <div class="col-md-12 principalProductTitle">{{toys.titulo}}</div>
                  <div class="col-md-12 principalProductSecond">{{toys.texto}}</div>
                </div>
            </div>



