
.videosMobile{
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.spvideosGalleryMobileCont{
  text-align: center;
}
.spvideosGalleryMobile {
    font-size: 18px;
    color: #fff;
    font-family: 'museo_sans500';
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    width: 40%;
    display: inline-block;
    text-shadow: -2px -2px 0 #ee4498, -2px -1px 0 #ee4498, -2px 0px 0 #ee4498, -2px 1px 0 #ee4498, -2px 2px 0 #ee4498, -1px -2px 0 #ee4498, -1px -1px 0 #ee4498, -1px 0px 0 #ee4498, -1px 1px 0 #ee4498, -1px 2px 0 #ee4498, 0px -2px 0 #ee4498, 0px -1px 0 #ee4498, 0px 0px 0 #ee4498, 0px 1px 0 #ee4498, 0px 2px 0 #ee4498, 1px -2px 0 #ee4498, 1px -1px 0 #ee4498, 1px 0px 0 #ee4498, 1px 1px 0 #ee4498, 1px 2px 0 #ee4498, 2px -2px 0 #ee4498, 2px -1px 0 #ee4498, 2px 0px 0 #ee4498, 2px 1px 0 #ee4498, 2px 2px 0 #ee4498;
}
.spvideosGalleryMobileCont img{
  width: 90%;
  height: auto;
}
@media(max-width:767px){
  .videosMobile{
    display: block;
  }
  .master-slider{
    display: none;
  }
}

@media(min-width:768px){
  .videosMobile{
    display: none;
  }
}
@media(min-width:992px){
  .videosMobile{
      display: none;
    }
}
@media(min-width:1200px){
  .videosMobile{
    display: none;
  }
}