{% extends 'base_fashion.html' %}
{% block kuppe %}

{% endblock %}

{% block content %}
 <script>
    var dispositivo = navigator.userAgent.toLowerCase();
      if( dispositivo.search(/iphone|ipod|ipad|android/) > -1 ){
      document.location = "/static/fashion/barbiev6/";  }
  </script>
<script>
	$(document).ready(function(){
			$( ".botoncerrar" ).click(function() {
			  $(".instruccionesModal").css("display", "none");
			});
            $( "#instrucciones" ).click(function() {
              $("#instrucciones").css("display", "none");
            });
	});
</script>
 <script type="text/javascript" src="/static/fashion/juego/js/jquery-ui-1.10.3.custom.min.js"></script>
<LINK type="text/css" rel="stylesheet" href="/static/fashion/juego/css/style.css" />
<LINK type="text/css" rel="stylesheet" href="/static/fashion/juego/css/barbie.css" />
<LINK type="text/css" rel="stylesheet" href="/static/fashion/juego/js/fancybox/jquery.fancybox-1.3.4.css" />
<div  class="background_solo">

<!-- BEGIN GAME -->
<div class="chalkboard chalkboardpro" modals="true" resize="true" style="">
    <iframe  id="gamecont" allowfullscreen="true" src="/static/fashion/barbiev7/"  scrolling="no" noresize="noresize"></iframe>
</div>
 <!-- end GAME -->
 <!-- hidden lightbox element -->
 <img id="saveimage" style="display:none;" />
  <div class="typeoptions ui-widget" title="Herramienta de Texto"><div class="ui-widget-header" style="padding:5px;" ><div id="texttoolheader"></div></div>
  <hr style="opacity:0" />
  <textarea rows="2" cols="20" class="currenttext" style="margin: 0px; width: 194px; height: 108px;">Tu mensaje</textarea>
  <p>Tipo de letra:</p><select id="fontselect" name="fontselect"></select>
  <!-- <p>Borde:</p><input id="stroketext" type="checkbox" />  -->
  <p>Da clic en el escenario para colocar el texto.<br>Usa la medida de brocha mas grande para decorar y la paleta de colores.</p>
  <button class="textoptionsclose"></button></div>

<!-- END CHALKBOARD HTML CODE -->

</div>

<script>
  $(document).ready(function(){
    $("#btnjuego").addClass("activeButton");
  });
</script>


{% endblock %}
