<div id="pincipalProduct" class="imagenProductos">
  <img src="/static/fashion/juguetes/big_juguetes_0{{t}}.png">
</div>
<div style="display:inline-block;width:80%;">
<div class="toy-titulo">{{toy.nombre}}</div>
<div class="toy-dec">{{toy.descp}}</div>
</div>
<div style="display:inline-block;width:10%;text-align:right;">


	{% if request.user.is_staff %}
	{% if not liked %}	
	<a href="#/fashion-studio/likes?t={{toy.pk}}" class="like_d"><i class="fa fa-heart-o"></i></a>
	{% else %}
		<i class="fa fa-heart activea"></i>
	{% endif %}
	{% endif %}

</div>

<script type="text/javascript">

	function likeme(e){
		e.preventDefault();
		pathurl = $(this).attr('href').replace('#','');
		targe = $(this);
		$.ajax({url:pathurl,type:'get',success:function(response){
				$(targe).find('i:first').removeClass('fa-heart-o');
				$(targe).find('i:first').addClass('fa-heart');
				$(targe).find('i:first').addClass('activea');

			}
		});
	}

	$(document).ready(function(){

		$('.like_d').click(likeme);

	});

</script>
