{% extends 'base_fashion.html' %}
{% block kuppe %}

{% endblock %}


{% block content %}



<style>
/*
.toy-container{
  padding:2%;margin:auto;width:70%;height:100%;text-align:center;
}

.toy-box{
  width:30%;height:100%;vertical-align:top;
  min-width:220px;

}

*/

.toy-box{
  height:100%;
  vertical-align:top;
  min-width:200px;margin:auto;
  width:30%;
  margin-left:10px;

}


.toy-box img{
  height:100%;
  max-width: 300px;

}

.toy-item{
  height:245px;
  min-height:auto;
  text-align: center;margin-bottom:15px;
  position: relative;
  border: 7px solid #ee4498;
  box-shadow: 2px 2px 6px #aaa;
  width:100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.toy-item2{
  width:100%;
  height:405px;
  background:#fff;min-width:200px;
  text-align: center;
  position: relative;
  border: 7px solid #ee4498;
  box-shadow: 2px 2px 6px #aaa;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;

}


.toy-item3{
  width:100%;height:30%;background:#fff;min-width:200px;
  text-align: center;
  position: relative;
  border: 7px solid #ee4498;
  box-shadow: 2px 2px 6px #aaa;
}

.itemDownloadInfo{
  display: table;
}
.infoMunecas{
  color: #ec4399;
  font-size: 16px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: table-cell;
  vertical-align: middle;
  text-transform: capitalize;
}
.infoMunecas a:link{
  color: #000;
}
.infoMunecas a:hover{
  text-decoration: underline;
}
.itemDownloadInfo:hover {
    background-color: rgba(248,255,0,0.7) !important;
    opacity: 1;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.toy-item, .toy-item2 {
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
}
.modal-header .close{
  color: #ec4399;
}

</style>

<div  class="background_solo">


<div style="padding:2%;margin:auto;width:80%;height:100%;text-align:center;">

  <div class="inline-blocke toy-box">
    <div class="toy-item" style="background-image:url('/static/fashion/images/miniatura_01.png');">
      <div class="itemDownloadInfo" >
        <div class="infoMunecas">
            <div class="txtMunecas">Barbie Clóset de Lujo con Muñeca</div>
            <a class="modala" href="#/fashion-studio/juguete/?t=1" >Ver >></a>
        </div>
      </div>
    </div>
    <div class="toy-item2" style="margin-bottom:15px;background-image:url('/static/fashion/images/miniatura_04.png');">
      <div class="itemDownloadInfo">
        <div class="infoMunecas">
            <div class="txtMunecas">Barbie Peinados Brillantes</div>
            <a class="modala" href="#/fashion-studio/juguete/?t=4" >Ver >></a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="inline-blocke toy-box">
    <div class="toy-item2" style="margin-bottom:15px;background-image:url('/static/fashion/images/miniatura_02.png');">
      <div class="itemDownloadInfo">
        <div class="infoMunecas">
            <div class="txtMunecas">Barbie Fashionistas Surtido</div>
            <a class="modala" href="#/fashion-studio/juguete/?t=2" >Ver >></a>
        </div>
      </div>
      
    </div>
    <div class="toy-item" style="background-image:url('/static/fashion/images/miniatura_05.png');">
      <div class="itemDownloadInfo">
        <div class="infoMunecas">
            <div class="txtMunecas">Barbie Rizos a la Moda</div>
            <a class="modala" href="#/fashion-studio/juguete/?t=5" >Ver >></a>
        </div>
      </div>
      
    </div>
  </div>

  <div class="inline-blocke toy-box">
    <div class="toy-item" style="height:175px !important;background-image:url('/static/fashion/images/miniatura_03.png');;">
      <div class="itemDownloadInfo">
        <div class="infoMunecas">
            <div class="txtMunecas">Barbie Peinados Multicolor</div>
            <a class="modala" href="#/fashion-studio/juguete/?t=3" >Ver >></a>
        </div>
      </div>
      
    </div>
    <div class="toy-item" style="height:245px !important;background-image:url('/static/fashion/images/miniatura_06.png');">
      <div class="itemDownloadInfo">
        <div class="infoMunecas">
            <div class="txtMunecas">Barbie Estilos Brillantes</div>
            <a class="modala" href="#/fashion-studio/juguete/?t=6" >Ver >></a>
        </div>
      </div>
      
    </div>
    <div class="toy-item" style="height:210px !important;background-image:url('/static/fashion/images/miniatura_07.png');">
      <div class="itemDownloadInfo">
        <div class="infoMunecas">
            <div class="txtMunecas">Barbie Diseño de Modas</div>
            <a class="modala" href="#/fashion-studio/juguete/?t=7" >Ver >></a>
        </div>
      </div>
      
    </div>
  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="toy-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:60px !important;">
    <div class="modal-dialog fotoFashion">
        <div class="modal-content">
            <div class="modal-header" style="border:0px !important;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="te">
                JUGUETE
              </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
  $(document).ready(function(){

    $('.modala,.itemDownloadInfo').click(function(e){
      e.preventDefault();
      if($(this).attr('href'))
        var pathmodal = $(this).attr('href').replace('#','');
      else
        var pathmodal = $(this).find('.modala:first').attr('href').replace('#','');

      console.log(pathmodal);
      
      $('#toy-modal .modal-body').load(pathmodal,function(e){$('#toy-modal').modal('show');});

    });

  $("#btnjuguetes").addClass("activeButton");


  });
</script>

</div>

{% endblock %}


