{% extends 'base_fashion.html'%}


{% block content %}
<style>
.contenedorPrin{
  width:100%;
  height:100%;
  margin:20px auto 0px auto;
  max-height: 640px;
  background:url('/static/fashion/images/home_fashion_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contenedorPersonajes{
  width:100%;
  height:100%;
  margin:auto;
  background:url('/static/fashion/images/home_fashion_characteres.png');
  background-position:top center;
  background-size:cover;
  background-repeat: no-repeat;
  max-width: 1240px;
}

</style>
<div style="" class="contenedorPrin">
  <div class="contenedorPersonajes" style="">
    &nbsp;
  </div>
</div>



<script>
  $("#btninicio").addClass("activeButton");
</script>
{% endblock %}


    <div class="container-fluid">
      <div class="row" id="rowHomePerritos">
        <div class="col-md12 homeCharacters">
          
          <div class="col-md-12 homeChar bounce">

                <img src="/static/fashion/images/characters.png">

          </div>
          <div class="col-md-1 homeChar"></div>
        </div>
      </div>

      
    </div>
