{% extends 'base_fashion.html' %}
{% block kuppe %}
    <!-- Base MasterSlider style sheet -->
    <link rel="stylesheet" href="/static/perritos/caruseles/masterslider/style/masterslider.css" />
    <link rel="stylesheet" href="/static/perritos/caruseles/videoMobile.css" />
    <!-- Master Slider Skin -->
    <link href="/static/perritos/caruseles/masterslider/skins/default/style.css" rel='stylesheet' type='text/css'>
    <!-- MasterSlider Template Style -->
    <link href='/static/perritos/caruseles/videogallery/style/ms-videogallery.css' rel='stylesheet' type='text/css'>
    <!-- Master Slider -->
    <script src="/static/perritos/caruseles/masterslider/masterslider.min.js"></script>
              <style>
                    .video-container {
                        position: relative;
                        padding-bottom: 56.25%;
                        padding-top: 30px; height: 0; overflow: hidden;
                    }
                     
                    .video-container iframe,
                    .video-container object,
                    .video-container embed {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
              </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row barbieCont">
        <div class="col-md-12 videosMobile">

            <div class="video-container">
                     <iframe src="http://www.youtube.com/embed/wqJl2rknvCg" frameborder="0" width="560" height="315"></iframe>
            </div>
            <div class="col-md-12 spvideosGalleryMobileCont">
                <div class="spvideosGalleryMobile bBounce" onClick="video01()"><img src="/static/fashion/images/videos/fashionistas.gif" alt="Fashionistas"><br>Fashionistas</div>
                <div class="spvideosGalleryMobile bBounce" onClick="video02()"><img src="/static/fashion/images/videos/disenyos.gif" alt="Fashion Studio"><br>Diseños</div>
                <div class="spvideosGalleryMobile bBounce" onClick="video03()"><img src="/static/fashion/images/videos/peinados.gif" alt="Fashion Studio"><br>Peinados Brillantes</div>

                <div class="spvideosGalleryMobile bBounce" onClick="video04()"><img src="/static/fashion/images/videos/brillantes.gif" alt="Fashion Studio"><br>Estilos Brillantes y Peinados Multicolor</div>
                <div class="spvideosGalleryMobile bBounce" onClick="video05()"><img src="/static/fashion/images/videos/multicolor.gif" alt="Fashion Studio"><br>Peinados Multicolor</div>


            </div>
                      <script>
                                function video01(){
                                  $(".video-container").html('<iframe src="http://www.youtube.com/embed/0m42XPrd6Jo" frameborder="0" width="560" height="315"></iframe>');
                                }
                                function video02(){
                                  $(".video-container").html('<iframe src="http://www.youtube.com/embed/PLDxcZMkOX4" frameborder="0" width="560" height="315"></iframe>');
                                }
                                function video03(){
                                  $(".video-container").html('<iframe src="http://www.youtube.com/embed/Dw1Mm8MX83g" frameborder="0" width="560" height="315"></iframe>');
                                }
                                function video04(){
                                  $(".video-container").html('<iframe src="http://www.youtube.com/embed/VBjh3MAd_n8" frameborder="0" width="560" height="315"></iframe>');
                                }
                                function video05(){
                                  $(".video-container").html('<iframe src="http://www.youtube.com/embed/Dw1Mm8MX83g" frameborder="0" width="560" height="315"></iframe>');
                                }
                      </script>
            <div class="col-md-12" style="margin-bottom:10px;"></div>
        </div>
        
        <!--  Carusel videos  -->
        <div class="master-slider ms-skin-default spvideosGallery" id="videoSlider">

          <!-- new slide -->
          <div class="ms-slide" data-fill-mode="fit" data-delay="5">
            <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/videos/juguetes.jpg" alt=""/>
          <div class="ms-thumb bounce">  <img src="/static/fashion/images/videos/fashionistas.gif" alt="Fashionista"  />
            <h3>Fashionistas</h3>
          </div>
          <div class="ms-layer video-title" style="left:50px; bottom:50px; font-size:25px; color:#fff; text-shadow: 2px 2px 2px #666;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="100">Fashionistas</div>
          <a data-type="video" href="https://www.youtube.com/embed/0m42XPrd6Jo"> </a>
              <!-- slide background video -->
              <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
                  <source id="mp4" src="/static/fashion/videos/01-Fashionista.mp4" type="video/mp4"/>
                  <source id="ogv" src="/static/fashion/videos/01-Fashionista.ogv" type="video/ogg"/>
                  <source id="webm" src="/static/fashion/videos/01-Fashionista.webm" type="video/webm"/>

              </video>
         </div>
          <!-- end of slide --> 
          <!-- new slide -->
          <div class="ms-slide" data-fill-mode="fit" data-delay="5">
            <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/videos/trailer.jpg" alt=""/>
          <div class="ms-thumb bounce">
            <img src="/static/fashion/images/videos/disenyos.gif" alt=""  />
            <h3>Diseños</h3>
          </div>
          <div class="ms-layer video-title" style="left:50px; bottom:50px; font-size:25px; color:#fff; text-shadow: 2px 2px 2px #666;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="100">Diseños a la Moda</div>
          <a data-type="video" href="https://www.youtube.com/embed/PLDxcZMkOX4"> </a>
              <!-- slide background video -->
              <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
                  <source id="mp4" src="/static/fashion/videos/02-Moda.mp4" type="video/mp4"/>
                  <source id="ogv" src="/static/fashion/videos/02-Moda.ogv" type="video/ogg"/>
                  <source id="ogv" src="/static/fashion/videos/02-Moda.webm" type="video/ogg"/>
              </video>
         </div>
          <!-- end of slide --> 
          <!-- new slide -->
          <div class="ms-slide" data-fill-mode="fit" data-delay="5">
            <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/videos/videomusical.jpg" alt=""/>
          <div class="ms-thumb bounce">
            <img src="/static/fashion/images/videos/peinados.gif" alt="Fashion Studio"  />
            <h3>Peinados</h3>
          </div>
          <div class="ms-layer video-title" style="left:50px; bottom:50px; font-size:25px; color:#fff; text-shadow: 2px 2px 2px #666;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="100">Peinados Brillantes</div>
          <a data-type="video" href="https://www.youtube.com/embed/Dw1Mm8MX83g"> </a>
              <!-- slide background video -->
              <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
                  <source id="mp4" src="/static/fashion/videos/03-Peinados.mp4" type="video/mp4"/>
                  <source id="ogv" src="/static/fashion/videos/03-Peinados.ogv" type="video/ogg"/>
                  <source id="webm" src="/static/fashion/videos/03-Peinados.webm" type="video/webm"/>
              </video>
         </div>
          <!-- end of slide --> 



          <!-- new slide -->
          <div class="ms-slide" data-fill-mode="fit" data-delay="5">
            <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/videos/videomusical.jpg" alt=""/>
          <div class="ms-thumb bounce">
            <img src="/static/fashion/images/videos/brillantes.gif" alt="Fashion Studio"  />
            <h3>Brillantes</h3>
          </div>
          <div class="ms-layer video-title" style="left:50px; bottom:50px; font-size:25px; color:#fff; text-shadow: 2px 2px 2px #666;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="100">Estilos Brillantes y Peinados Multicolor</div>
          <a data-type="video" href="https://www.youtube.com/embed/VBjh3MAd_n8"> </a>
              <!-- slide background video -->
              <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
                  <source id="mp4" src="/static/fashion/videos/04-EstilosPeinados.mp4" type="video/mp4"/>
                  <source id="ogv" src="/static/fashion/videos/04-EstilosPeinados.ogv" type="video/ogg"/>
                  <source id="webm" src="/static/fashion/videos/04-EstilosPeinados.webm" type="video/webm"/>
              </video>
         </div>
          <!-- end of slide --> 


      
          <!-- new slide -->
          <div class="ms-slide" data-fill-mode="fit" data-delay="5">
            <img src="/static/perritos/caruseles/masterslider/style/blank.gif" data-src="/static/perritos/images/videos/videomusical.jpg" alt=""/>
          <div class="ms-thumb bounce">
            <img src="/static/fashion/images/videos/multicolor.gif" alt="Una Aventura de perritos"  />
            <h3>Multicolor</h3>
          </div>
          <div class="ms-layer video-title" style="left:50px; bottom:50px; font-size:25px; color:#fff; text-shadow: 2px 2px 2px #666;" data-effect="rotatefront(20,620,br)" data-ease="easeOutQuad" data-delay="100">Peinados Multicolor</div>
          <a data-type="video" href="https://www.youtube.com/embed/Dw1Mm8MX83g"> </a>
              <!-- slide background video -->
              <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
                  <source id="mp4" src="/static/fashion/videos/05-Multicolor.mp4" type="video/mp4"/>
                  <source id="ogv" src="/static/fashion/videos/05-Multicolor.ogv" type="video/ogg"/>
                  <source id="webm" src="/static/fashion/videos/05-Multicolor.webm" type="video/webm"/>
              </video>
         </div>
          <!-- end of slide --> 


</div>
  
  <script type="text/javascript">   
      var slider = new MasterSlider();

      // adds Arrows navigation control to the slider.
      slider.control('thumblist' , {autohide:false ,dir:'h',arrows:false, align:'bottom', width:167, height:150, margin:40, space:25});
     // slider.control('circletimer' , {color:"#00b0cc" , stroke:30});
     // slider.control('arrows');
     // slider.control('timebar' , {insertTo:'#videoSlider'});
     //slider.control('bullets');

       slider.setup('videoSlider' , {
          width:1400, 
          height:580,
          space:0,
          layout:'fullwidth',
          loop:true,
          preload:1,
          instantStartLayers:true,
          autoplay:true,
          fullwidth:true,
          view:"basic",
          overPause: false,
      });

  </script>
<!--  Script Marcar boton activo -->
<script>
  $("#btnvideos").addClass("activeButton");
</script>
<!--  Script Marcar boton activo -->
{% endblock %}
