{% extends 'base_perritos.html'%}


{% block content %}
    <div class="container-fluid">
      <div class="row">
      	<div class="col-md12 homeCharacters">
      		<div class="col-md-3 logoHomeImg"><img src="/static/images/logoHome.png"></div>
      		<div class="col-md-8 homeChar">
      			<div class="logoPerritosInterior"><img src="/static/images/logoHome.png"></div>
      			<img src="/static/images/characters.png">
      		</div>
      		<div class="col-md-1 homeChar"></div>
      	</div>
      </div>
    </div>
{% endblock %}