#file_upload{
    display: none !important;
}
.chalkboard{
    background-color: #ffffff !important;
    color: #333;
}
.brushsize{
    border: 1px solid #999;
}
.effects{
    display: none;
}
#opacslider{
    display: none;
}
#bsizeslider{
    display: none;
}
.chalkboardwrap canvas{

}
.ui-dialog-title{
    display: none;
}
.ui-widget-content {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(69,72,77,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(69,72,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 );
}
#clear-confirm{
    margin: 0;
    padding: 0;
}
.ui-dialog-buttonset button{
    background-color: #EC4399;
    color: #fff !important;
    border-radius: 10px;
    border: 0;
    font-family: 'league_gothicregular';
    min-width: 70px;
}
.ui-dialog-buttonset button:hover{
    background-color: #EC4399;
    color: #fff !important;
    border-radius: 10px;
    border: 0;
    font-family: 'league_gothicregular';
    min-width: 70px;
}
.ui-dialog .ui-dialog-titlebar-close {
    background-color: black;
    background-image: url("/static/fashion/juego/images/close.png");
    background-size: cover;
    color: #fff;
    border: 0;
    border-radius: 50%;
}
.ui-dialog-content p{
    color: #fff;
}
.ui-widget-header {
    border: 0px solid transparent !important;
    background: transparent !important;
}
.ui-dialog .ui-dialog-content {
    font-size: 13px;
    width: 100% !important;
    text-align: center;
}
.typzy{
}
#top-menu {
    display: none;
}
.logo_game {
    width: 80px;
    height: 90px;
    background: url(../images/logo_juego.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 28px;
    margin-top: 20px;
}
#brushsizes {
    top: 210px;
    text-align: center;
}
.brushsize{
    margin: 0 auto;
    margin-top: 5px;
}
#fancybox-content {
    border: 10px solid #000!important;
}
#cpcanvas {
    top: 110px;
    right: 40px;
}
.chalkboard {
    border: none;
}
.cbfill{
    display: none;
}
.circtool{
    display: none;
}
.rectangletool{
    display: none;
}
.invert{
    display: none;
}
.gradientroll{
    display: none;
}
.textinfo{
    display: none;
}


/*Color mixer*/

.strengthslider0, .strengthslider1, .strengthslider2{
    display: none;
}

.iconbtn{
   /* background-color: #000 !important;*/
}
.fillclear div{
    background-color: black;
}
.fillclear div.on {
    background-color: #EC4399;
    box-shadow: none;
}
.fillclear div.useline{
    background-color: #EC4399;
}
.cbundo{
    background-color: black;
}
.cpinfo{
     background-color: black;
}
.ui-dialog{
    display: none;
}
.colorvaluesliders{
    display: none;
}
.getcolor {
    width: 90px;
    height: 90px;
    right: 30px;
}
.tooltipmain{
    display: none;
}
.ui-dialog-content p{
    font-size: 30px;
    text-align: center;
    font-family: 'league_gothicregular'
}
.ui-dialog .ui-dialog-buttonpane button {
    color: black;
}
/*Lienzo*/
.chalkboardwrap{
    border: 5px solid #333;
    max-width: 720px;
    max-height: 500px;
}

/*SELLOS*/
#patternbox{
    width: 100%;
    height: 110px;
}
#patternbox h1 {
    color: #fff;
    /* border-bottom: 1px solid #333333; */
    padding-bottom: 0px;
    cursor: move;
    font-size: 15px;
    margin-top: 0;
}
#patternbox label {
    font-size: 15px;
    left: 170px;
    margin-bottom: 5px;
    position: absolute;
    top: 10px;
    width: 260px;
    color: #fff;
    margin-top: 0px;
    height: 25px;
}
#repeatpattern{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    height: 21px;
}

/*Texto*/
.typeoptions {
    color: #DDDDDD;
    display: none;
    left: 40px;
    overflow: hidden;
    padding: 20px;
    position: fixed;
    bottom: 30px;
    width: 240px;
    z-index: 9999;
}
.typeoptions{
    color: #fff;
}
.typeoptions p{
    font-size: 15px;
    color: #fff;
    background-color: transparent;
}

/*MODAL*/
.instruccionesModal {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 50000000000000000 !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
#patternbox h1 {
    border-bottom: 0;
}
#patternclose {
    width: 50px;
    height: 50px;
}
.typeoptions button{
    height: 50px;
    width: 50px;
}
.botoncerrar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/static/fashion/juego/images/close.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% 100%;
    border: medium none !important;
    border-radius: 30px 30px 30px 30px;
    -o-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    color: #EEEEEE;
    font-size: 12px;
    height: 50px;
    overflow: visible;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}