@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museo/museosans-500-webfont.eot');
    src: url('../fonts/museo/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo/museosans-500-webfont.woff2') format('woff2'),
         url('../fonts/museo/museosans-500-webfont.woff') format('woff'),
         url('../fonts/museo/museosans-500-webfont.ttf') format('truetype'),
         url('../fonts/museo/museosans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{font-family:'museo_sans500_italic';
    src:url('../fonts/museo/museosans-500italic-webfont.eot');
    src:url('../fonts/museo/museosans-500italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/museo/museosans-500italic-webfont.woff2') format('woff2'),
        url('../fonts/museo/museosans-500italic-webfont.woff') format('woff'),
        url('../fonts/museo/museosans-500italic-webfont.ttf') format('truetype'),
        url('../fonts/museo/museosans-500italic-webfont.svg#museo_sans500_italic') format('svg');
    font-weight:normal;
    font-style:normal
}

@font-face{font-family:'museo_cyrl500', 'museo_sans_cyrl500';
    src:url('../fonts/museo/museo_cyrl_500-webfont.eot');
    src:url('../fonts/museo/museo_cyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/museo/museo_cyrl_500-webfont.woff2') format('woff2'),
        url('../fonts/museo/museo_cyrl_500-webfont.woff') format('woff'),
        url('../fonts/museo/museo_cyrl_500-webfont.ttf') format('truetype'),
        url('../fonts/museo/museo_cyrl_500-webfont.svg#museo_cyrl500') format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family: 'arial_rounded_mt_boldbold';
    src: url('../fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.eot');
    src: url('../fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.woff2') format('woff2'),
         url('../fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.woff') format('woff'),
         url('../fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.ttf') format('truetype'),
         url('../fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.svg#arial_rounded_mt_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/league/leaguegothic-regular-webfont.eot');
    src: url('../fonts/league/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/league/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/league/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/league/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face{font-family:'league_gothiccondensed_italic';
    src:url('../fonts/league/leaguegothic-condenseditalic-webfont.eot');
    src:url('../fonts/league/leaguegothic-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/league/leaguegothic-condenseditalic-webfont..woff2') format('woff2'),
        url('../fonts/league/leaguegothic-condenseditalic-webfont..woff') format('woff'),
        url('../fonts/league/leaguegothic-condenseditalic-webfont..ttf') format('truetype'),
        url('../fonts/league/leaguegothic-condenseditalic-webfont..svg#league_gothiccondensed_italic') format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face{font-family:'league_gothicCnRg';
    src:url('../fonts/league/leaguegothic-condensedregular-webfont.eot');
    src:url('../fonts/league/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/league/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
        url('../fonts/league/leaguegothic-condensedregular-webfont.woff') format('woff'),
        url('../fonts/league/leaguegothic-condensedregular-webfont.ttf') format('truetype'),
        url('../fonts/league/leaguegothic-condensedregular-webfont.svg#league_gothicCnRg') format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face{font-family:'league_gothicitalic';
    src:url('../fonts/league/leaguegothic-italic-webfont.eot');
    src:url('../fonts/league/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/league/leaguegothic-italic-webfont.woff2') format('woff2'),
        url('../fonts/league/leaguegothic-italic-webfont.woff') format('woff'),
        url('../fonts/league/leaguegothic-italic-webfont.ttf') format('truetype'),
        url('../fonts/league/leaguegothic-italic-webfont.svg#league_gothicitalic') format('svg');
    font-weight:normal;
    font-style:normal
}
@font-face{font-family:'league_gothicregular';
    src:url('../fonts/league/leaguegothic-regular-webfont.eot');
    src:url('../fonts/league/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/league/leaguegothic-regular-webfont.woff2') format('woff2'),
        url('../fonts/league/leaguegothic-regular-webfont.woff') format('woff'),
        url('../fonts/league/leaguegothic-regular-webfont.ttf') format('truetype'),
        url('../fonts/league/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight:normal;
    font-style:normal
}
