<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Vive Barbie">
    <meta name="author" content="Mattel®">
    <title>Vive Barbie</title>
  </head>
  <body style="height:100%;width:100%;border:0px solid;padding:0px;margin:0px;">
  <table width="100%" height="100%" style="border:0px solid;padding:0px;margin:0px;background-image:url('http://{{host}}/static/images/bgLegal.jpg');">
    <tr>
      <td style="text-align:center;height:10%;">
        <center>
          <a href="http://{{host}}"><img style="whidth:auto;" src="http://{{host}}/static/images/legalLogo.png"></a>
        </center>
      </td>
    </tr>
    <tr>
      <td style="width:100%;height:80%;">
        <div style="width:100%;text-align:center;">
          <img src="http://{{host}}/static/images/top-1.png" />
        </div>
        <div style="width:606px;margin:auto;padding:28px;background-image:url('http://{{host}}/static/images/legalDots.gif');color:#844393;">
        {% block content %}{% endblock %}
      </div>
      </td>
    </tr>
    <tr>
      <td style="height:10%;">
        
      </td>
    </tr>
  </table>  
    </body>
</html>
