<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Vive Barbie">
    <meta name="author" content="Mattel®">
    <title>Vive Barbie</title>
    <style></style>
  </head>

  <body style="height:100%;width:100%;border:0px solid;padding:0px;margin:0px;background-image:url('http://{{host}}/static/images/bgLegal.jpg');" width="100%" height="100%" >
  <table width="100%" height="100%" style="border:0px solid;padding:0px;margin:0px;" cellpadding="0" cellspacing="0">
    <tr>
      <td style="text-align:center;height:10%;">
        <center>
          <a href="http://{{host}}"><img style="display:block;" style="whidth:auto;" src="http://{{host}}/static/images/legalLogo.png"></a>
        </center>
      </td>
    </tr>
    <tr>
      <td style="width:100%;height:80%;">
        <div style="width:100%;text-align:center;">
          <center><img style="display:block;" src="http://{{host}}/static/images/top-1.png" /></center>
        </div>
        <div style="width:606px;margin:auto;padding:28px;background-image:url('http://{{host}}/static/images/legalDots.gif');color:#844393;">
        

			<font face="Helvetica, Arial, sans-serif" size="4">

        <h4>¡Hola!</h4>

			<p>

			Te escribimos porque tu hija esta actualmente registrada en <a href="vivebarbie.com" target="_blank">vivebarbie.com</a> con el nombre de usuario  <strong>{{nickname}}</strong>.<br/> 
			</p>
			<p>
			Con el usuario mencionado, tu hija puede iniciar sesión en <a href="vivebarbie.com" target="_blank">vivebarbie.com</a>, jugar, aprender, descargar wallpapers y acceder a contenido exclusivo de sus juguetes favoritos. 
			</p>
			
			<p>
			Para poder continuar jugando, te pedimos que nos ayudes actualizando la información personal que tenemos y reactivando la cuenta de tu hija en la siguiente URL: 
      <br/>

      <center><a href="{{link}}" target="_blank" style="text-decoration:none;font-weight:900;">Actualizar</a></center>

			</p>
			
			<p>
			En caso de no darnos tu consentimiento al dar clic en el enlace superior, no usaremos la información del perfil para ninguna comunicación de Vivebarbie.

      Te recordamos que puede acceder a nuestras políticas de privacidad en <a href="http://vivebarbie.com" target="_blank">vivebarbie.com</a>
      <br/><br/>

      ¡Gracias!
      </p>		
			</font>
      </div>
      </td>
    </tr>
  </table> 
  <br/><br/>
 </body>
</html>
