<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Vive Barbie">
    <meta name="author" content="Mattel®">
    <title>Vive Barbie</title>
  </head>
  <body style="height:100%;width:100%;border:0px solid;padding:0px;margin:0px;background-image:url('http://{{host}}/static/images/bgLegal.jpg');">
  <table width="100%" height="100%" style="border:0px solid;padding:0px;margin:0px;margin-bottom:20px;color:#844393;font-size:18px;" cellpadding="0" cellspacing="0">
    <tr>
      <td style="text-align:center;height:10%;">
        <center>
          <a href="http://{{host}}"><img style="display:block;" style="whidth:auto;" src="http://{{host}}/static/images/legalLogo.png"></a>
        </center>
      </td>
    </tr>
    <tr>
      <td style="width:100%;height:80%;">
        <div style="width:100%;text-align:center;">
          <center><img style="display:block;" src="http://{{host}}/static/images/top-1.png" /></center>
        </div>
        <div style="width:606px;margin:auto;padding:28px;background-image:url('http://{{host}}/static/images/legalDots.gif');color:#844393;font-size:18px;">
      <p style="color:#844393;">
			Te escribimos porque tu hija quiere crear un perfil en Vive Barbie con el nombre de usuario  <strong>{{nickname}}</strong>.<br/> 
			</p>
      
			<p style="color:#844393;">
			Vive Barbie es un perfil que tu hija puede usar en Internet para iniciar sesión en vivebarbie.com y jugar, aprender, descargar wallpapers, entre otras actividades. 
			</p>
			
			<p style="color:#844393;">
			Te pedimos tu consentimiento, que puedes darnos activando la cuenta de tu hija. Si no nos das tu consentimiento, no usaremos los datos de tu hija. 
			</p>
			
			<p style="color:#844393;">
			Su hija puede iniciar sesión con la siguiente información:<br/>
      </p>
			<p style="color:#844393;">- Usuario: <strong>{{nickname}}</strong> </p>
      {% if pass %}
       <p style="color:#844393;">
        Contraseña: <br/> 
        <img src="http://vivebarbie.com/static/password/pass_{{pass.0}}.png" />
        <img src="http://vivebarbie.com/static/password/pass_{{pass.1}}.png" />
      </p>
      {% endif %}			
			<p style="text-align:center;">
				<center>
				<div style="background-color: #ffee07;border-bottom: 10px solid #d6c700;color: #844393;cursor: pointer;margin-top: 35px;padding: 20px;width: 260px;">	
					<b>
							<a href="{{link}}" target="_blank" style="text-decoration:none;font-weight:900;">Activar</a>
					</b>
				</div>
			</center>
			</p>


      </div>
      </td>
    </tr>
    <tr>
      <td style="height:10%;">
        
      </td>
    </tr>
  </table> 
  <table style="width:100%;height: 50px;margin: 0;border: 0;">
    <tr>
      <td></td>
    </tr>
  </table>
  <br/><br/>
    </body>
</html>
