 @font-face {
    font-family: 'museo_sans500';
    src: url('/static/fonts/museo/museosans-500-webfont.eot');
    src: url('/static/fonts/museo/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/museo/museosans-500-webfont.woff2') format('woff2'),
         url('/static/fonts/museo/museosans-500-webfont.woff') format('woff'),
         url('/static/fonts/museo/museosans-500-webfont.ttf') format('truetype'),
         url('/static/fonts/museo/museosans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arial_rounded_mt_boldbold';
    src: url('/static/fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.eot');
    src: url('/static/fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.woff2') format('woff2'),
         url('/static/fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.woff') format('woff'),
         url('/static/fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.ttf') format('truetype'),
         url('/static/fonts/arialrounded/arial_rounded_mt_bold_bold-webfont.svg#arial_rounded_mt_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'league_gothicregular';
    src: url('/static/fonts/league/leaguegothic-regular-webfont.eot');
    src: url('/static/fonts/league/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/league/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/league/leaguegothic-regular-webfont.woff') format('woff'),
         url('/static/fonts/league/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/league/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
  min-height: 100%;
  height: 100%;
}
body {
  height: 100%;
  background-color: #fff;
  /*background: url('/static/fashion/images/bg.png') 50% 0 fixed; */
  font-family: 'museo_sans500';
  -webkit-font-smoothing: antialiased;
}



body {
 font-size: 18px;
}

.activea{
  color:#ec4399;
}


a{
  color: #6fc4c2;
}
a:hover{
  color: #6fc4c2;
  text-decoration: underline;
}
a:visited{
  color: #6fc4c2;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p {
  font-family: 'league_gothicregular', sans-serif;
    font-size: 50px;
    color: #844393;
 line-height: 1.45;
}
h1 { font-size: 4em; }
h2 { font-size: 3em; }
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.topMenuCOntainer img{
  width: 100%;
  height: auto;
}
h1{
    font-family: 'league_gothicregular', sans-serif;
    color: #844393;
}
.barbieCont{
  margin-top: 20px;
  margin-bottom: 0px;
}
/*TOP MENU*/
.topMenuContainer{
    position: fixed;
    top: -110px;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 9001;
    height: 130px;
    max-width: 300px;
    margin: 0 auto;
}


.background_solo{
  height:auto;
  margin:auto;
  height: 90vh;
  width:100%;
  background: url('/static/fashion/images/backg.png');
  background-size:100%;
  background-repeat: no-repeat;
  background-position:center 280px;
  background-attachment: fixed;

}

#fixedTopMenu{
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 9999;
}
.logoTopMenu{
    width: 100%;
    max-width: 300px;
    top: -160px;
    text-align: center;
    margin: 0 auto;
    background-image: url('/static/fashion/images/topMenuDesp01.png');
    height: 236px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: bottom left;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
}
.logoTopMenuContr{
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    height: 236px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: bottom left;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
}


.shadow-border{
 box-shadow: 0px 5px 5px #BBB;

}

.topMenuContainerPurple{
    position: absolute;
    top: -130px;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 9000;
    background-color: #844393;
    border-bottom: 10px solid #633c6d;
    min-height: 130px;
    box-shadow: 15px 0px 50px #000;
}
#fixedTopExp{
  top: -250px;
  z-index: 1000000;
}
.topMenu{
  position: absolute;
  max-width: 291px;
  height: 198px;
  margin: 0 auto;
  right: 0;
  left: 0;
}
.topMenu img{
  width: 100%;
  height: auto;
}
.topMenuLogo{
  position: relative;
  max-width: 163px;
  height: 123px;
  margin: 0 auto;
  right: 0;
  left: 0;
}
.topMenuLogo img{
  width: 100%;
  height: auto;
}
.topMenuArrow{
  position: relative;
  width: 291px;
  height: 198px;
  right: 0;
  left: 0;
}
.nombre{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'league_gothicregular';
    width: 100%;
    right: 0;
    text-align: right;
    top: 15px;
}
.puntos{
    font-size: 15px;
    width: 100%;
    right: 0;
    text-align: right;
    top: 49px;
}
.puntos span{
  color: #ffee07;
}

.iconLogTop{
  display: inline-block;
  color: #d84089;
  background-color: #ffee07;
  width: 80px;
  border-radius: 8px;
  padding: 5px 15px 5px 10px;
  font-size: 15px;
  cursor: pointer;
}
.iconLogTop:hover{
  color: #fff;
  background-color: #6fc4c2;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
#topMenuCierra{
  opacity: 0;
}
.nav>li{
  margin:0px !important;
}

.nav>li a{
  background-size: 100%;
}


#logo-block{

width:20%;min-width:80px;min-height::166px;display: inline-block;text-align:left;position: relative;bottom:27px;left:-15%;


}


#logo-block img{
  height:50%;
}

.navbar{
  margin-bottom: 0px !important;
  vertical-align:bottom;
}


.navbar-toggle {
    border-color: #ffffff !important;
    background-color: #844393;
}
.navbar-toggle a:hover{
    border-color: #844393;
    background-color: #fff;
    -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}

.topBtnReg{
  display: inline-block;
  color: #d84089;
  background-color: #ffee07;
  border-radius: 8px;
  width: 120px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.topBtnReg:hover{
  color: #fff;
  background-color: #6fc4c2;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.topBtnFlag{
  display: inline-block;
  color: #d84089;
  background-color: #ffee07;
  border-radius: 8px;
  width: 60px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.topBtnFlag:hover{
  color: #fff;
  background-color: #6fc4c2;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.topBtnLogin{
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.topBtnLogin a{
  color: #ffee07;
  text-transform: uppercase;
  font-size: 16px;
}
#registraTop{
    width: 250px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 20px;
}
#fixedTopMenuExp{
    width: 100%;
    height: 100%;
}
#logeadoTop{
  width: 250px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 10px;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
   
}
.navbar-nav>li {
    float: none;
    display: inline-block;
    
}


.navbar-nav>li:hover {
    

    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #EC4399;
    background-position: center;



}
.navbar-nav>li:first-child {
    float: none;
    display: inline-block;
    margin-left: 0px;
}
.navbar-nav{
  float: none;
  text-align: center;
  margin-right: 7%;
}
/* Menu */
.activeButton{
    /*background-image: url('/static/fashion/images/headBtnActive.png') !important;*/
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #EC4399;
    background-position: center;
}
.navbar{
  font-family: 'arial_rounded_mt_boldbold';
  text-transform: uppercase;
  text-align: center;
}
.navbar-fixed-top{
  position: relative;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
      border-color: transparent;
}
.navbar-inverse {
  background-color: transparent !important;
  border-color:transparent !important;
}
.navbar-inverse .navbar-nav>li>a {
  font-family: 'league_gothicregular';
  width: auto;
  height: 50px;
  font-size: 26px;
  color: #72CCD2 !important;
  text-align: center;
  background-position: center;
  /*box-shadow: 
  0 1px 2px #fff,  0 -1px 1px #666,  inset 0 -1px 7px rgba(0,0,0,0.5),  inset 0 5px 6px rgba(255,255,255,0.8)*/
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #ee4498;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.navbar-inverse .navbar-nav>li>a:active {
  color: #ee4498 !important;
  background-position: center;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.homeChar{
  background-position: bottom;
  background-repeat: no-repeat;
}
.homeChar img{
  opacity: 1;
}
.homeCharacters{
  text-align: center;
}
.homeCharacters img{
  width: 100%;
  height: auto;
  max-width: 1200px;
}
.logoHomeImg{

}
.logoHomeImg img{
  max-width: 250px;
  text-align: center;
}
.logoPerritosInterior{
  position: absolute;
  left: -210px;
  top: 40px;
  width: 330px;
}
/*  End Menu */

/* Home */
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/*  End Home */


.footer2 {

  background-color: #f5f5f5;
  color: #d84089;
  font-size: 12px;
  text-align: center;
  padding:5px;
  box-shadow: -2px -2px 6px #ee4498;
}


.inline-blocke{
  display: inline-block;
}

.borde-fushi{
  border:2px solid #844393;
}





.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 120px;
  background-color: #f5f5f5;
  color: #d84089;
  font-size: 12px;
  border-top: 5px solid #ffeef6;
  /*margin-top: 50px;*/
  box-shadow: -2px -2px 6px #ee4498;
}
.footerBgTexture{
  position: relative;
  display: inline-block;
  top: 0;
  width: 100%;
  height: 36px;
  background-image: url('/static/fashion/images/footerBgtextureSmall.png');
}
.footerBtns{
    position: relative;
    display: inline-block;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.footerBtnsSpace{
    display: inline-block;
    width: 25px;
}
.footerBtns a:link{
  color: #d84089;
  text-decoration: none;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.footerBtns a:hover{
  color: #d84089;
  text-decoration: underline;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.footerBtns a:visited{
  color: #d84089;
  text-decoration: none;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.footerLegal{
  position: relative;
  display: inline-block;
  top: 0;
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 15px;
}
/* PRODUCTOS */
.logoProductos {
  text-align: center;
}
.logoProductos img{
  width: 100%;
  max-width: 200px;
}


/**Products*/
.likePrdducts{
  height: 85px !important;
  width: 52px !important;
  position: absolute;
  background: none !important;
  /*background-image: url('/static/images/loquierobtn.png') !important;
  background-position: top center;*/
  cursor: pointer;
  z-index: 99;
}
.likePrdducts:hover{
  background-position: bottom center;
}

.ms-layer .product-title{

}
.product-desc{
  font-size: 14px !important;
  text-transform: uppercase;
  color: #00b0cc !important;
  background-color: #fff200;
  /* top: 35px; */
  text-align: center;
  margin-right: 10px;
  height: auto;
  min-width: 100px;
  border-radius: 8px;
  margin: 20px auto;
  padding: 10px !important;
  line-height: 16px !important;
  width: 200px;
}
.ms-showcase1 .ms-layer.product-title{
  font-size: 45px !important;
  text-transform: uppercase;
  color: #fff !important;
  line-height: 36px;
  text-align: center;
  font-weight: bolder;
  text-shadow: -2px -2px 0 #00b0cc, -2px -1px 0 #00b0cc, -2px 0px 0 #00b0cc, -2px 1px 0 #00b0cc, -2px 2px 0 #00b0cc, -1px -2px 0 #00b0cc, -1px -1px 0 #00b0cc, -1px 0px 0 #00b0cc, -1px 1px 0 #00b0cc, -1px 2px 0 #00b0cc, 0px -2px 0 #00b0cc, 0px -1px 0 #00b0cc, 0px 0px 0 #00b0cc, 0px 1px 0 #00b0cc, 0px 2px 0 #00b0cc, 1px -2px 0 #00b0cc, 1px -1px 0 #00b0cc, 1px 0px 0 #00b0cc, 1px 1px 0 #00b0cc, 1px 2px 0 #00b0cc, 2px -2px 0 #00b0cc, 2px -1px 0 #00b0cc, 2px 0px 0 #00b0cc, 2px 1px 0 #00b0cc, 2px 2px 0 #00b0cc;
  margin-right: 10px;
  margin-bottom: 20px

}
#box{
  opacity: 0;
}
.imagenProductos{
  background-color: #fff;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.imagenProductos img{
  width: auto;
  height: 460px;
}
.productsImage{
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 6px #ee4498;
  height: 450px;
  overflow: hidden;
  text-align: center;
}

.productsImage img{
    width: auto;
    height: 100%;
}
.infoProd{
    position: absolute;
    width: 260px;
    top: 50px;
    right: 20px;
}
.ms-anim-layerss{
    position: absolute;
    width: 40%;
    top: 45px;
    right: 20px;
    background-color: red;
     height: 250px;
}
.principalProductTitle{
    color: #fff;
    font-size: 45px !important;
    text-transform: uppercase;
    color: #fff !important;
    /* background-color: red;
    top: 35px;
    right: 0; */
    line-height: 36px;
    text-align: center;
    font-weight: bolder;
    text-shadow: -2px -2px 0 #00b0cc, -2px -1px 0 #00b0cc, -2px 0px 0 #00b0cc, -2px 1px 0 #00b0cc, -2px 2px 0 #00b0cc, -1px -2px 0 #00b0cc, -1px -1px 0 #00b0cc, -1px 0px 0 #00b0cc, -1px 1px 0 #00b0cc, -1px 2px 0 #00b0cc, 0px -2px 0 #00b0cc, 0px -1px 0 #00b0cc, 0px 0px 0 #00b0cc, 0px 1px 0 #00b0cc, 0px 2px 0 #00b0cc, 1px -2px 0 #00b0cc, 1px -1px 0 #00b0cc, 1px 0px 0 #00b0cc, 1px 1px 0 #00b0cc, 1px 2px 0 #00b0cc, 2px -2px 0 #00b0cc, 2px -1px 0 #00b0cc, 2px 0px 0 #00b0cc, 2px 1px 0 #00b0cc, 2px 2px 0 #00b0cc;
    margin-right: 10px;
}
.spvideosGallery .ms-thumb h3 {
    font-size: 18px;
    color: #fff;
    font-family: 'museo_sans500';
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    text-shadow: -2px -2px 0 #ee4498, -2px -1px 0 #ee4498, -2px 0px 0 #ee4498, -2px 1px 0 #ee4498, -2px 2px 0 #ee4498, -1px -2px 0 #ee4498, -1px -1px 0 #ee4498, -1px 0px 0 #ee4498, -1px 1px 0 #ee4498, -1px 2px 0 #ee4498, 0px -2px 0 #ee4498, 0px -1px 0 #ee4498, 0px 0px 0 #ee4498, 0px 1px 0 #ee4498, 0px 2px 0 #ee4498, 1px -2px 0 #ee4498, 1px -1px 0 #ee4498, 1px 0px 0 #ee4498, 1px 1px 0 #ee4498, 1px 2px 0 #ee4498, 2px -2px 0 #ee4498, 2px -1px 0 #ee4498, 2px 0px 0 #ee4498, 2px 1px 0 #ee4498, 2px 2px 0 #ee4498;
}
#juguetesSlider .ms-view {
    background-image: url('/static/perritos/images/juguetes/bgProductos.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#juguetesSlider {
    background: transparent;
}
.pp_details, .pp_gallery{
  display: none;
  opacity: 0;
}
#juguetesSlider .ms-lightbox-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.spJuguetesLike {
    background: url('/static/perritos/images/juguetes/likeproducto.png');
}
.spJuguetesTitle {
  font-family: 'museo_sans500';
    color: #fff;
    font-size: 30px !important;
    text-transform: uppercase;
    color: #fff !important;
    /* background-color: red;
    top: 35px;
    right: 0; */
    line-height: 36px;
    text-align: center;
    font-weight: bolder;
    text-shadow: -2px -2px 0 #00b0cc, -2px -1px 0 #00b0cc, -2px 0px 0 #00b0cc, -2px 1px 0 #00b0cc, -2px 2px 0 #00b0cc, -1px -2px 0 #00b0cc, -1px -1px 0 #00b0cc, -1px 0px 0 #00b0cc, -1px 1px 0 #00b0cc, -1px 2px 0 #00b0cc, 0px -2px 0 #00b0cc, 0px -1px 0 #00b0cc, 0px 0px 0 #00b0cc, 0px 1px 0 #00b0cc, 0px 2px 0 #00b0cc, 1px -2px 0 #00b0cc, 1px -1px 0 #00b0cc, 1px 0px 0 #00b0cc, 1px 1px 0 #00b0cc, 1px 2px 0 #00b0cc, 2px -2px 0 #00b0cc, 2px -1px 0 #00b0cc, 2px 0px 0 #00b0cc, 2px 1px 0 #00b0cc, 2px 2px 0 #00b0cc;
    margin-right: 10px;
    width: 280px;
    line-height: 30px !important;
}
#juguetesSlider .ms-thumb-frame {
    background-color: #fff;
}

/* LEGAL */
#legalBody{
  background-image: url('/static/fashion/images/bgLegal.jpg');
}
.logoLegal{
  text-align: center;
}
.bienvenida {
    width: 100%;
    height: 102px;
    max-width: 419px;
    padding-top: 10px;
    background: url("/static/fashion/images/bgTitleLegal.png") no-repeat;
    font-family: 'league_gothicregular', sans-serif;
    font-size: 50px;
    color: #844393;
    text-align: center;
    /*line-height: 87px;*/
    margin-top: -35px;
    margin-bottom: 50px;
    text-transform: uppercase;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}
.legalContainer{
  color: #844393;
  background-color: #fff;
  background-image: url('/static/fashion/images/legalDots.gif');
  background-attachment: fixed;
  padding-bottom: 50px;
  margin-bottom: 50px;
  min-height: 660px;
}
.legalContainer li{
  list-style: none;
}
.politica-terminos .texto a {
  color: #844393;
  text-decoration: underline;
}
.politica-terminos .texto a:visited {
    color: #844393;
    text-decoration: underline;
}

/*Descargas*/
.itemDownloads{

  width: 100%;

  height: auto;
  min-height: 170px;
  border: 7px solid #ee4498;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 2px 2px 6px #aaa;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  background-color:#FFF;
  text-align:center;
}
.itemDownloads a{
  text-decoration: none;
  font-family: 'arial_rounded_mt_boldbold';
  color: #ffee07;
  font-size: 25px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.itemDownloads a:hover{
  color: #fff;
  text-decoration: none;
}
.itemDownloads a:visited{
  background-color: none;
  text-decoration: none;
  font-family: 'arial_rounded_mt_boldbold';
  color: #ffee07;
  font-size: 25px;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.itemsTitle{
  color: #fff;
  font-size: 36px;
  line-height: 30px;
  display: table-cell;
  vertical-align: middle;
  text-shadow: -2px -2px 0 #00b0cc, -2px -1px 0 #00b0cc, -2px 0px 0 #00b0cc, -2px 1px 0 #00b0cc, -2px 2px 0 #00b0cc, -1px -2px 0 #00b0cc, -1px -1px 0 #00b0cc, -1px 0px 0 #00b0cc, -1px 1px 0 #00b0cc, -1px 2px 0 #00b0cc, 0px -2px 0 #00b0cc, 0px -1px 0 #00b0cc, 0px 0px 0 #00b0cc, 0px 1px 0 #00b0cc, 0px 2px 0 #00b0cc, 1px -2px 0 #00b0cc, 1px -1px 0 #00b0cc, 1px 0px 0 #00b0cc, 1px 1px 0 #00b0cc, 1px 2px 0 #00b0cc, 2px -2px 0 #00b0cc, 2px -1px 0 #00b0cc, 2px 0px 0 #00b0cc, 2px 1px 0 #00b0cc, 2px 2px 0 #00b0cc;
  font-family: 'league_gothicregular';
  text-transform: uppercase;
}
.itemDownloadInfo{
  font-family: 'arial_rounded_mt_boldbold';
  color: #000;
  text-align: center;
  text-transform: uppercase;
  line-height: 17px;
  width: 100%;
  height: 100%;
  min-height: 170px;
  opacity: 0;
  cursor: pointer;
  position: absolute;  
}

.itemDownloadInfo:hover{
  background-color:rgba(255,238,7,0.3)  !important;
  opacity: 1;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.itemDownloadInfo a:hover{
  text-decoration: none;
}
.itemDownloadInfo p{
  position: absolute;
  left: 0;
  right: 0;
  font-family: 'arial_rounded_mt_boldbold';
  color: #ffee07;
  font-size: 25px;
  line-height: 150px;
  opacity: 0;
  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.itemDownloadInfo p:hover{
  opacity: 1;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.itemDownloadInfo span{
  color: #ffee07;
}
.itemsTitleBar1{
    margin-bottom: -10px;
    height: 97px;
    margin-top: 15px;
    background-image: url('/static/fashion/images/itemTitleBar1.png');
    background-repeat: no-repeat;
    background-position: top right;
    display: table;
    width: 100%;
}
.itemsTitleBar2{
    margin-bottom: -10px;
    height: 97px;
    margin-top: 15px;
    background-image: url('/static/fashion/images/itemTitleBar2.png');
    background-repeat: no-repeat;
    background-position: top center;
    display: table;
    width: 100%;
}
.itemsTitleBar3{
    margin-bottom: -10px;
    height: 97px;
    margin-top: 15px;
    background-image: url('/static/fashion/images/itemTitleBar3.png');
    background-repeat: no-repeat;
    background-position: top center;
    display: table;
    width: 100%;
}


/*JUEGO*/
.juegoCont{
  background-color: #fff;
  box-shadow: 2px 2px 6px #ee4498;
}

/*REGISTRO*/
.regDestacado{
  font-size: 20px;
  line-height: auto;
}
.regMainBtn{
  background-color: #6fc4c2;
  border-radius: 25px;
  min-height: 200px;
  margin-top: 35px;
  padding: 20px;
  cursor: pointer;
}
.regMainBtn:hover{
  background-color: #844393;
  -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;transition:all .2s ease-in;
}
.regMainBtnTx{
  font-family: 'league_gothicregular', sans-serif;
  text-transform: uppercase;
  font-size: 5vmin;
  line-height: 5vmin;
  padding-top: 23px;
  display: inline-block;
}
.modal-dialog{
    color: #844393;
    background-color: #fff;
    border-radius:7px;
    box-shadow: 2px 2px 6px #aaa;   
}
.modal-content{
  background-color: transparent;
  box-shadow: none;
}
.modal-title{
  font-size: 50px;
  color: #844393;
  text-transform: uppercase;
}
.modal-footer{
  border-top: 0px;
}
.inputLogin{
  width: 100%;
    position: relative;
    margin-bottom: 10px;
}
label{
  font-family: 'league_gothicregular', sans-serif;
    font-size: 40px;
    color: #844393;
    width: 20%;
    min-width: 151px;
    font-weight: 100;
}
label span{
  font-size: 14px;
      font-weight: 100;
}
input{
  vertical-align: bottom;
  font-family: 'league_gothicregular', sans-serif;
  font-size: 30px;
  padding: 10px;
  color: #D94189;
  font-weight: normal;
  border: 0;
  background-color: #e6e6e6;
  height: 45px;
  margin-left: 5px;
  display: inline-block;
  height: 62px;
  width: 70%;
}
.close{
  color: red;
  opacity: 1;
}
/* Registro */
.registroBarbie{

}
.regLabelBox{
  text-align: left;
  margin-bottom: 10px;
}
.registroBarbie input{
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  font-family: 'league_gothicregular', sans-serif;
  font-size: 30px;
  padding: 10px;
  color: #D94189;
  font-weight: normal;
  border: 0;
  background-color: #e6e6e6;
  height: 45px;
  margin-left: 5px;
}
.registroBarbie input[type="submit"]{
  font-family: 'league_gothicregular', sans-serif;
  color: #844393;
  background-color: #ffee07;
  border-bottom: 10px solid #d6c700;
  border-radius: 8px;
  height: 90px;
  margin-top: 35px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 6px #999;
  font-size: 40px;
  line-height: 45px;
  width: 260px;
}
.registroBarbie input[type="submit"]:hover{
  background-color: #6fc4c2;
  border-bottom: 10px solid #278498;
  color: #fff;
}

.registroBarbie input[type="radio"] {
    display:none;
}
.registroBarbie input[type="radio"] + label {
  color: gray;
  font-family: 'league_gothicregular', sans-serif;
  font-size:14px;
  font-size: 35px;
  line-height: 45px;
  margin-left: 10px;
}
.registroBarbie input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius:  50%;
  border-radius:  50%;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}
.radioCont{
  width: 45%;
  display: inline-block;
}
.registroBarbie input[type="radio"] + label span {
  border: 2px solid #a8a8a8;
  -webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out;
}

.registroBarbie input[type="radio"]:checked + label span{
  border: 8px solid #6fc4c2;
  -webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out;
  height: 25px;
  width: 25px;
}
.registroBarbie .fa{
  font-size: 20px;
  float: left;
  line-height: 45px;
  margin-right: 10px;
  color: #D94189;
}
.registroBarbie label{
    width: auto;
    height: auto;
    min-height: 45px;
    display: inline-block;
    font-size: 30px;
    line-height: 45px;
    text-align: left;
}
.registroBarbie label span{
    line-height: 15px;
}
#id_country,.registroSelect{
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
  font-family: 'league_gothicregular', sans-serif;
  font-size: 30px;
  padding: 10px;
  color: #D94189;
  font-weight: normal;
  border: 0;
  background-color: #e6e6e6;
  height: 45px;
  margin-left: 5px;
  padding: 0 10px 0px 10px;
}

select{
  width:29%;
  display: inline-block;
  vertical-align: bottom;
  font-family: 'league_gothicregular', sans-serif;
  font-size: 30px;
  padding: 10px;
  color: #D94189;
  font-weight: normal;
  border: 0;
  background-color: #e6e6e6;
  height: 45px;
  margin-left: 5px;
  padding: 0 10px 0px 10px;
}


.modal-backdrop{
  background-color: #fff !important;

}


/*Selector pais*/
.selectPaisBtn{
  font-family: 'league_gothicregular', sans-serif;
  color: #844393;
  background-color: #ffee07;;
  border-bottom: 10px solid #d6c700;
  border-radius: 8px;
  height: 90px;
  margin-top: 35px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 6px #999;
}
.selectPaisBtn:hover{
  background-color: #6fc4c2;
  border-bottom: 10px solid #278498;
  color: #fff;
}
.paisName{
      width: 68%;
    float: left;
    text-align: left;
    font-size: 39px;
    text-transform: uppercase;
}
.banderas{
    position: relative;
    float: right;
    width: 30%;
}

/* VIDEOS */


@media(max-width:767px){
  .noDisplayMobile{
    display: none;
  }
  .itemsTitle{
    font-size: 25px;
    text-align: center;
  }
  .logoPerritosInterior{
    display: none;
  }
  .itemsTitleBar1, .itemsTitleBar2, .itemsTitleBar3{
    background-image: none;
  }
  .navbar-nav>li{
    float: left;
    width: 100%;
    margin: 0;
  }
  .productsImage{
    position: relative;
  }
  .imagenProductos img{
    width: 100%;
    height: auto;
  }
  .infoProd {
    position: relative;
    width: auto;
    top: 0;
    right: 0;
    height: auto;
    margin-top: 20px;
  }
  .logoProductos{
    display: none;
  }
  .logoHomeImg img{
    max-width: 200px;
    text-align: center;
  }
  #sliderproductos .product-desc{
    display: none;
  }
  #sliderproductos .ms-container{
    background-color: #fff;
    background: #fff !important;
  }
  #sliderproductos .ms-slide-link{
    display: none;
  }
.ms-showcase1 .ms-layer.product-title {
    color: #fff;
    font-size: 18px !important;
    text-transform: uppercase;
    color: #fff !important;
    line-height: 36px;
    text-align: center;
    font-weight: bolder;
    text-shadow: -2px -2px 0 #00b0cc, -2px -1px 0 #00b0cc, -2px 0px 0 #00b0cc, -2px 1px 0 #00b0cc, -2px 2px 0 #00b0cc, -1px -2px 0 #00b0cc, -1px -1px 0 #00b0cc, -1px 0px 0 #00b0cc, -1px 1px 0 #00b0cc, -1px 2px 0 #00b0cc, 0px -2px 0 #00b0cc, 0px -1px 0 #00b0cc, 0px 0px 0 #00b0cc, 0px 1px 0 #00b0cc, 0px 2px 0 #00b0cc, 1px -2px 0 #00b0cc, 1px -1px 0 #00b0cc, 1px 0px 0 #00b0cc, 1px 1px 0 #00b0cc, 1px 2px 0 #00b0cc, 2px -2px 0 #00b0cc, 2px -1px 0 #00b0cc, 2px 0px 0 #00b0cc, 2px 1px 0 #00b0cc, 2px 2px 0 #00b0cc;
    margin-right: 10px;
    margin-bottom: 20px;
}
.likePrdducts {
    top: 5px;
    left: 5px;
}
}
@media(min-width:768px){
  .noDisplayMobile{
    display: none;
  }
  .logoPerritosInterior{
    display: none;
  }
  .itemsTitleBar1{
      background-image: url('/static/fashion/images/itemTitleBar1.png');
      background-repeat: no-repeat;
      background-position: top right;
  }
  .itemsTitleBar2{
      background-image: url('/static/fashion/images/itemTitleBar2.png');
      background-repeat: no-repeat;
      background-position: top center;
  }
  .itemsTitleBar3{
      background-image: url('/static/fashion/images/itemTitleBar3.png');
      background-repeat: no-repeat;
      background-position: top center;
  }
  .productsImage{
    position: relative;
  }
  .imagenProductos img{
    width: 100%;
    height: auto;
  }
  .infoProd {
    position: relative;
    width: auto;
    top: 0;
    right: 0;
    height: auto;
    margin-top: 20px;
  }
  #owl-demo .item img {
      display: block;
      width: 100%;
      height: 100%;
  }
  #owl-demo .item img:hover {
    display: block;
    width: 100%;
    height: 100%;
  }

}
@media(min-width:992px){
  .noDisplayMobile{
    display: none;
  }
  .itemsTitleBar1{
      background-image: url('/static/fashion/images/itemTitleBar1.png');
      background-repeat: no-repeat;
      background-position: top right;
  }
  .itemsTitleBar2{
      background-image: url('/static/fashion/images/itemTitleBar2.png');
      background-repeat: no-repeat;
      background-position: top center;
  }
  .itemsTitleBar3{
      background-image: url('/static/fashion/images/itemTitleBar3.png');
      background-repeat: no-repeat;
      background-position: top center;
  }
  .infoProd {
    position: absolute;
    width: 260px;
    top: 50px;
    right: 20px;
    height: auto;
  }
}
@media(min-width:1200px){
  .noDisplayMobile{
    display: block;
  }
  .logoPerritosInterior{
    display: block;
  }
  .logoHomeImg img{
    display: none;
  }
  .itemsTitleBar1{
      background-image: url('/static/fashion/images/itemTitleBar1.png');
      background-repeat: no-repeat;
      background-position: top right;
  }
  .itemsTitleBar2{
      background-image: url('/static/fashion/images/itemTitleBar2.png');
      background-repeat: no-repeat;
      background-position: top center;
  }
  .itemsTitleBar3{
      background-image: url('/static/fashion/images/itemTitleBar3.png');
      background-repeat: no-repeat;
      background-position: top center;
  }
  .infoProd {
    position: absolute;
    width: 260px;
    top: 50px;
    right: 20px;
    height: auto;
  }
}



/* CSS PARA PASSWORD */

.foto{width:106px;height:106px;border:4px solid #d94189;margin:auto;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%}

.nombre_p{font-family:'league_gothicregular', sans-serif;font-size:30px;color:#fff;text-transform:uppercase;

background: rgba(0, 0, 0, 0) url("/static/barbiepass/cube.png") no-repeat scroll left top;
    color: #fff;
    font-family: "league_gothicregular",sans-serif;
    font-size: 25px;
    height: 39px;
    line-height: 42px;
    margin-top: -13px;
    text-align: center;
    text-transform: uppercase;
    width: 116px;
    /*cursor: pointer;*/
}

.nombre_p:hover{
  background: rgba(0, 0, 0, 0) url("/static/barbiepass/cube.png") no-repeat scroll left bottom;
  color:#d94189;

}

.forma{
   background-position: left top;
    /*cursor: pointer;*/
    display: inline-block;
    height: 95px;
    position: relative;
    vertical-align: top;
    width: 97px;

}

.forma:hover{
background-position: left bottom;

}

.activated{
  background-position: left bottom;
  color:#d94189;
}

.contrasena-selector{
  display: inline-block;
  cursor: pointer;
}
.decimal{
  padding: 0;
}

/*****************************************************************/
/*                 CSS VIVE BARBIE GENERAL                       */
/*****************************************************************/
/*****************************************************************/


/*SELECTOR CAMPAÑA*/
.selectorCampanaTitle{
  font-size: 45px;
  font-family: 'league_gothicregular', sans-serif;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 35px;
}
.selectorCampanaTitle span{
  color: #ffee07;
}
.absoluteFooter{ /*GENERAL y PORTADA DE CAMPAÑA*/
  position: relative;
}
.bannerCamp{
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 35px;
  border-radius: 15px;
}

.bannerCamp img{
  width: 100%;
  height: auto;
  max-width: 560px;
  border-radius: 8px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.bannerCampInactive{
  opacity: 0.5;
  cursor: not-allowed;
}
.perfilContainer{
  min-height: 800px;
  color: #844393;
  background-color: #fff;
  background-image: url('/static/fashion/images/legalDots.gif');
  background-attachment: fixed;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.tabla-2{
  font-family: 'league_gothicregular', sans-serif;
  color: #844393;
  text-transform: uppercase;
  font-size: 30px;
}
.scroll-pane{
  font-size: 15px;
  color: #6fc4c2;
  text-transform:none;
  font-family: 'museo_sans500';
}


.toy-titulo{
  font-family: 'league_gothicregular';
  color: #ec4399;
  font-size: 35px;
  line-height: 35px;
}
.toy-dec{
  color: #757575;
  font-size: 13px;
  margin-top: 0px;
}


@media(max-width:767px){
  .absoluteRowPerritos{
    position: relative;!important;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
  }

  .spJuguetesTitle{
    font-size: 12px !important;
    text-align: right;
     width: 133px;
     line-height: 15px !important;
  }
  .likePrdducts{
    zoom: 0.6;
  }
  .product-desc{
    display: none;
  }

}

@media(min-width:768px){
  .absoluteRowPerritos{
    position: absolute!important;
    width: 100%;
    bottom: 0;
    margin-bottom: 10vh;
    right: 0;
    left: 0;
  }
}
@media(min-width:992px){
  .absoluteFooterPerritos{
    position: absolute!important;
  }
  .absoluteRowPerritos{
    position: absolute!important;
    width: 100%;
    bottom: 0;
    margin-bottom: 10vh;
    right: 0;
    left: 0;
  }
}
@media(min-width:1200px){
  .absoluteFooterPerritos{
    position: absolute!important;
  }
  .absoluteRowPerritos{
    position: absolute!important;
    width: 100%;
    bottom: 0;
    margin-bottom: 10vh;
    right: 0;
    left: 0;
  }
}


@media(max-width:767px) and (max-height: 799px){
  .absoluteFooter{ /*GENERAL y PORTADA DE CAMPAÑA*/
    position: relative;
  }
}
@media(min-width:768px) and (min-height: 800px){
  .absoluteFooter{ /*GENERAL y PORTADA DE CAMPAÑA*/
    position: relative;
  }
}
@media(min-width:992px) and (min-height: 800px){
    .absoluteFooter{ /*GENERAL y PORTADA DE CAMPAÑA*/
      position: absolute;
      bottom: 0;
    }
     .fotoFashion {
        width: 80%;
        max-height: 700px;
      }
      .imagenProductos img {
        width: auto;
        height: auto;
        max-height: 700px;
      }
  }
@media(min-width:1200px) and (min-height: 800px){
  .absoluteFooter{ /*GENERAL y PORTADA DE CAMPAÑA*/
    position: absolute;
    bottom: 0;
  }
}


/*   Replica  en perritos*/

.spJuguetesLike{
  height: 30px;
  width: 30px;
}
.likes{
    height: 85px !important;
    width: 52px !important;
    position: absolute;
    background-image: url('/static/images/loquierobtn.png') !important;
    background-position: bottom center;
    cursor: pointer;
    z-index: 99;
}
.likes:hover{
    background-position: center top;
}
.ms-layerstar{
    background: url('/static/perritos/images/juguetes/likeproducto.png');
    background-position: center top !important;
    background-repeat:no-repeat;
}
.likesActive{
    background: url('/static/perritos/images/juguetes/likeproducto.png');
    background-position: center top !important;
}
.ms-thumblist-bwd, .ms-thumblist-fwd{
  width: 35px !important;
  background-color: red !important;
}
.ms-thumblist-bwd{
  background: url('/static/perritos/images/juguetes/flecha01.png') !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.ms-thumblist-fwd{
  background: url('/static/perritos/images/juguetes/flecha02.png') !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
.ms-thumblist-bwd:hover{
  background-size: 80% !important;
}
.ms-thumblist-fwd:hover{
  background-size: 80% !important;
}
.ms-thumblist-bwd:after{
  border: solid rgba(0, 0, 0, 0);
      border-width: 0px;
      border-right-color: green !important;

}
.ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after{
    position: absolute !important;
    top: -500px !important;
}
.ms-thumb-list.ms-dir-h .ms-thumblist-fwd:after, .ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after{
  position: absolute !important;
    top: -500px !important;
}

/* Replicar en perritos */
/*****************************************************************/
/*                 CSS VIVE BARBIE GENERAL                       */
/*****************************************************************/
/*****************************************************************/




